footer {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  color: var(--text-grey-800);
  background-color: var(--bg-white);
  margin: 0px;
  padding: 0px;
  position: relative;
  z-index: 5;
  height: 48px;
  width: auto;
  top: 0px;
  transition: height 500ms ease-in-out, top 500ms ease-in-out;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  border-top: var(--border-size-medium) solid var(--bg-grey-200);
}

footer.real,
footer.trial {
  border-top: var(--border-size-medium) solid var(--accent);
}

footer .bold {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
}

footer > h2 {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 16px;
  line-height: 22px;
  height: 40px;
  margin: 0px;
  padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 2)
    var(--space-unit) calc(var(--space-unit) * 2);
  overflow: hidden;
  background-color: var(--bg-white);
  transition: all 200ms linear;
}

footer.isopen > h2 {
  font-size: 14px;
  font-weight: var(--font-sb);
  transition: all 200ms linear;
  background-color: var(--bg-neutral-200);
}

footer.isopen.real > h2,
footer.isopen.trial > h2 {
  background-color: var(--accent);
}

footer .visible {
  display: block;
}

footer .hidden {
  display: none;
}

footer > div.content {
  height: 60px;
  overflow: hidden;
}

footer > div.content > div:not(.slot-handler) {
  padding: var(--basex1) var(--basex2);
}

footer > div.content > div > p {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer > div.content > div > p.year_isbn {
  padding-top: var(--space-unit);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > div.content > div > p.year_isbn > span.isbn {
  text-overflow: ellipsis;
  overflow: hidden;
}

footer.isopen > div.content > div:not(.slot-handler) {
  height: 68px;
}

footer.isopen > div.content > div > p.authors {
  height: 40px;
  white-space: initial;
  text-overflow: initial;
}

footer.isopen > div.content > div > p.year_isbn {
  flex-direction: column;
  height: 50px;
  padding-left: 0px;
}

footer.isopen > div.content > div > p.year_isbn > span.isbn {
  display: inline-grid;
  padding-left: 0px;
}

footer.isopen {
  height: 295px;
  top: -169px;
  transition: height 500ms ease-in-out, top 500ms ease-in-out;
}

footer.isopen > div.content {
  height: 230px;
  transition: height 500ms ease-in-out, top 500ms ease-in-out;
}

.toggle {
  position: absolute;
  top: -24px;
  left: 16px;
  z-index: 10;
}

.faded {
  opacity: 0.3;
  pointer-events: none;
}
