:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host > div {
  background: rgb(51, 51, 51);
  border-radius: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 40px;
}

:host > div.light {
  background: rgb(255, 255, 255);
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.left > #hashtag {
  display: none;
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: end;
}

.right.hide-actions > slot[name="actions"] {
  display: none;
}

.right > ::slotted(z-link) {
  padding: 4px;
}

.right > ::slotted(z-user-dropdown) {
  padding: 4px 0;
  grid-column-start: 3;
  grid-column-end: 4;
}

.right > ::slotted(z-app-menu) {
  padding: 6px;
  grid-column-start: 4;
  grid-column-end: 5;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host > div {
    grid-template-columns: repeat(2, auto);
  }

  .left > #hashtag {
    display: initial;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 8px 16px;
  }
  .left > #hashtag::before {
    content: "#";
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
