button.z-link {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: transparent;
}

a.z-link,
button.z-link {
  display: inline-flex;
  cursor: pointer;
  font-family: var(--font-family-sans);
  line-height: inherit;
  text-decoration: none;
}

a.z-link:hover,
button.z-link:hover,
a.z-link:focus,
button.z-link:focus,
a.z-link:active,
button.z-link:active {
  text-decoration: underline;
}

a.z-link:focus,
button.z-link:focus {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

a.z-link.z-link-active:active,
button.z-link.z-link-active:active {
  color: var(--color-text-link-blue-pressed);
  fill: var(--color-text-link-blue-pressed);
}

a.z-link.z-link-active,
button.z-link.z-link-active {
  color: var(--color-text-link-blue-active);
  fill: var(--color-text-link-blue-active);
}

a.z-link.z-link-active.z-link-inverse,
button.z-link.z-link-active.z-link-inverse {
  color: var(--color-text-link-inverse);
  fill: var(--color-text-link-inverse);
}

a.z-link.z-link-active.z-link-black,
button.z-link.z-link-active.z-link-black {
  color: var(--color-black);
  fill: var(--color-black);
}

a.z-link.z-link-disabled,
button.z-link.z-link-disabled {
  box-shadow: none;
  color: var(--color-disabled03);
  cursor: default;
  fill: var(--color-disabled03);
  outline: none;
  pointer-events: none;
  text-decoration: none;
}

a.z-link.z-link-underline,
button.z-link.z-link-underline {
  text-decoration: underline;
}

a.z-link.z-link-inverse,
button.z-link.z-link-inverse {
  color: var(--color-text-link-inverse);
  fill: var(--color-text-link-inverse);
}

a.z-link,
button.z-link,
a.z-link:hover,
button.z-link:hover,
a.z-link:focus,
button.z-link:focus,
a.z-link:active,
button.z-link:active,
a.z-link:visited,
button.z-link:visited {
  color: var(--color-text-link-default);
  fill: var(--color-text-link-default);
}

a.z-link.z-link-blue,
button.z-link.z-link-blue {
  color: var(--color-text-link-blue);
  fill: var(--color-text-link-blue);
}

a.z-link.z-link-red,
button.z-link.z-link-red {
  color: var(--color-text-link-red);
  fill: var(--color-text-link-red);
}

a.z-link.z-link-inverse:hover,
button.z-link.z-link-inverse:hover {
  color: var(--color-text-link-inverse);
  fill: var(--color-text-link-inverse);
}

a.z-link.z-link-blue:hover,
button.z-link.z-link-blue:hover {
  color: var(--color-text-link-blue-hover);
  fill: var(--color-text-link-blue-hover);
}

a.z-link.z-link-red:hover,
button.z-link.z-link-red:hover {
  color: var(--color-text-link-red-hover);
  fill: var(--color-text-link-red-hover);
}

a.z-link.z-link-inverse:active,
button.z-link.z-link-inverse:active,
a.z-link.z-link-inverse:focus,
button.z-link.z-link-inverse:focus {
  color: var(--color-text-link-inverse);
  fill: var(--color-text-link-inverse);
}

a.z-link.z-link-blue:active,
button.z-link.z-link-blue:active,
a.z-link.z-link-blue:focus,
button.z-link.z-link-blue:focus {
  color: var(color-text-link-blue-active);
  fill: var(color-text-link-blue-active);
}

a.z-link.z-link-red:active,
button.z-link.z-link-red:active,
a.z-link.z-link-red:focus,
button.z-link.z-link-red:focus {
  color: var(color-text-link-red-active);
  fill: var(color-text-link-red-active);
}

a.z-link.z-link-inverse:visited,
button.z-link.z-link-inverse:visited {
  color: var(--color-text-link-inverse);
  fill: var(--color-text-link-inverse);
}

a.z-link.z-link-blue:visited,
button.z-link.z-link-blue:visited {
  color: var(--color-text-link-blue-visited);
  fill: var(--color-text-link-blue-visited);
}

a.z-link.z-link-red:visited,
button.z-link.z-link-red:visited {
  color: var(--color-text-link-red-visited);
  fill: var(--color-text-link-red-visited);
}

a.z-link.z-link-black,
button.z-link.z-link-black {
  color: var(--gray800);
  fill: var(--gray800);
}

a.z-link.z-link-black:hover:visited,
button.z-link.z-link-black:hover:visited {
  color: var(--gray800);
  fill: var(--gray800);
}

a.z-link.z-link-black:hover,
button.z-link.z-link-black:hover,
a.z-link.z-link-black.z-link-active:focus,
button.z-link.z-link-black.z-link-active:focus {
  color: var(--color-black);
  fill: var(--color-black);
}

a.z-link.z-link-black:active,
button.z-link.z-link-black:active,
a.z-link.z-link-black.z-link-active:active,
button.z-link.z-link-black.z-link-active:active {
  color: var(--gray700);
  fill: var(--gray700);
}

a.z-link.z-link-black.z-link-disabled.z-link-active,
button.z-link.z-link-black.z-link-disabled.z-link-active {
  color: var(--color-disabled03);
  fill: var(--color-disabled03);
}

a.z-link.z-link-white,
button.z-link.z-link-white {
  color: var(--color-white);
  fill: var(--color-white);
}

a.z-link.z-link-white.z-link-disabled,
button.z-link.z-link-white.z-link-disabled {
  color: var(--color-disabled03);
  fill: var(--color-disabled03);
}

a.z-link.z-link-icon,
button.z-link.z-link-icon {
  --z-icon-width: 1.125em;
  --z-icon-height: 1.125em;

  align-items: center;
  column-gap: 0.5em;
}

a.z-link.z-link-sb,
button.z-link.z-link-sb {
  font-weight: var(--font-sb);
}
