:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host div.wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  padding: calc(var(--space-unit) * 4) calc(var(--space-unit) * 2) calc(var(--space-unit) * 3)
    calc(var(--space-unit) * 2);
  color: var(--text-grey-800);
}

z-button,
z-input,
::slotted(z-button),
::slotted(z-input) {
  display: inline-block;
  width: 100%;
}

z-link,
::slotted(z-link) {
  font-size: 12px;
}

:host div.wrapper > form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

div.wrapper > form > div.username::slotted(z-input),
div.wrapper > form > div.password::slotted(z-input),
:host div.wrapper > form > div.username z-input,
:host div.wrapper > form > div.password z-input {
  margin-bottom: var(--space-unit);
}

:host div.wrapper > form > z-link.forget {
  align-self: flex-end;
  font-size: 12px;
}

div.wrapper > form > div.login::slotted(z-button),
:host div.wrapper > form > div.login z-button {
  align-self: flex-start;
  margin: calc(var(--space-unit) * 3) 0;
}

:host div.wrapper > hr {
  width: 100%;
  border: none;
  border-top: var(--border-size-medium) solid var(--bg-grey-200);
  margin-bottom: calc(var(--space-unit) * 3);
  margin-block-start: unset;
}

div.wrapper > div.signup::slotted(z-button),
:host div.wrapper > div.signup z-button {
  display: inline-block;
  margin: calc(var(--space-unit) * 2) 0;
}

:host div.providers {
  display: grid;
  gap: calc(var(--space-unit) * 2) 0;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
}

slot-fb[name="provider"] {
  display: grid;
  gap: calc(var(--space-unit) * 2) 0;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
}

:host div.providers > z-body {
  padding-top: calc(var(--space-unit) * 2);
}

:host div.wrapper > div.providers .zd {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

:host div.wrapper > div.providers .zd > svg {
  margin-right: var(--space-unit);
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  z-button,
  ::slotted(z-button) {
    width: initial;
  }

  :host div.wrapper {
    width: 396px;
    padding: calc(var(--space-unit) * 3);
  }

  :host div.providers {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: var(--space-unit);
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  :host div.providers > z-body {
    padding-bottom: var(--space-unit);
    grid-column-end: 3;
    grid-column-start: 1;
  }

  ::slotted([slot="provider"]) {
    width: 100%;
  }

  slot-fb[name="provider"] {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: var(--space-unit);
    grid-auto-rows: auto;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-template-columns: 1fr 1fr;
  }

  slot-fb[name="provider"] > * {
    width: 100%;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  :host div.wrapper {
    width: 477px;
    padding: calc(var(--space-unit) * 4);
  }
}
