z-registro-table-header-row {
  display: table-row;
}

z-registro-table-header-row[expandable] > z-registro-table-header:first-child {
  width: 40px;
  user-select: none;
  box-sizing: border-box;
}

z-registro-table-header-row[expandable] > z-registro-table-header:nth-child(2) {
  padding-left: 8px;
}
