:host {
  position: relative;
  display: inline-block;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);

  --shadow-arrow-color: rgb(66 69 72 / 20%);
  --shadow-arrow-below-color: rgb(66 69 72 / 10%);
}

.popover-content-container {
  position: absolute;
  z-index: 999;
  min-width: 64px;
  min-height: 32px;
  box-sizing: border-box;
  visibility: hidden;
}

.popover-content-container.visible {
  visibility: visible;
}

/** Border-radius */

.popover-content-container.border-radius-none {
  border-radius: 0;
}

.popover-content-container.border-radius-small {
  border-radius: var(--border-radius-small);
}

.popover-content-container.border-radius-medium {
  border-radius: var(--border-radius);
}

/*
Box-shadow
*/

.popover-content-container.shadow-1 {
  box-shadow: var(--shadow-1);
}

.popover-content-container.shadow-2 {
  box-shadow: var(--shadow-2);
}

.popover-content-container.shadow-3 {
  box-shadow: var(--shadow-3);
}

.popover-content-container.shadow-4 {
  box-shadow: var(--shadow-4);
}

.popover-content-container.shadow-6 {
  box-shadow: var(--shadow-6);
}

.popover-content-container.shadow-8 {
  box-shadow: var(--shadow-8);
}

.popover-content-container.shadow-12 {
  box-shadow: var(--shadow-12);
}

.popover-content-container.shadow-16 {
  box-shadow: var(--shadow-16);
}

.popover-content-container.shadow-24 {
  box-shadow: var(--shadow-24);
}

/*
Popover-positions
*/

.popover-content-container.after-down {
  top: 0;
  left: calc(100% + var(--space-unit));
}

.popover-content-container.after-center {
  top: 50%;
  left: calc(100% + var(--space-unit));
  transform: translateY(-50%);
}

.popover-content-container.after-up {
  bottom: 0;
  left: calc(100% + var(--space-unit));
}

.popover-content-container.below-right {
  top: calc(100% + var(--space-unit));
  left: 0;
}

.popover-content-container.below-center {
  top: calc(100% + var(--space-unit));
  left: 50%;
  transform: translateX(-50%);
}

.popover-content-container.below-left {
  top: calc(100% + var(--space-unit));
  right: 0;
}

.popover-content-container.before-down {
  top: 0;
  right: calc(100% + var(--space-unit));
}

.popover-content-container.before-center {
  top: 50%;
  right: calc(100% + var(--space-unit));
  transform: translateY(-50%);
}

.popover-content-container.before-up {
  right: calc(100% + var(--space-unit));
  bottom: 0;
}

.popover-content-container.above-right {
  bottom: calc(100% + var(--space-unit));
  left: 0;
}

.popover-content-container.above-center {
  bottom: calc(100% + var(--space-unit));
  left: 50%;
  transform: translateX(-50%);
}

.popover-content-container.above-left {
  right: 0;
  bottom: calc(100% + var(--space-unit));
}

/*
Arrows
*/
.popover-content-container::before {
  position: absolute;
  z-index: -1;
  display: none;
  width: 8px;
  height: 8px;
  background-color: inherit;
  content: "";
  transform: rotate(45deg);
}

.popover-content-container.after-down::before {
  top: 12px;
  left: -4px;
  box-shadow: -1px 1px 1.5px var(--shadow-arrow-color);
}

.popover-content-container.after-center::before {
  top: calc(50% - 4px);
  left: -4px;
  box-shadow: -1px 1px 1.5px var(--shadow-arrow-color);
}

.popover-content-container.after-up::before {
  bottom: 12px;
  left: -4px;
  box-shadow: -1px 1px 1.5px var(--shadow-arrow-color);
}

.popover-content-container.below-right::before {
  top: -4px;
  left: 12px;
  box-shadow: -1px -1px 2px var(--shadow-arrow-below-color);
}

.popover-content-container.below-center::before {
  top: -4px;
  left: calc(50% - 4px);
  box-shadow: -1px -1px 2px var(--shadow-arrow-below-color);
}

.popover-content-container.below-left::before {
  top: -4px;
  right: 12px;
  box-shadow: -1px -1px 2px var(--shadow-arrow-below-color);
}

.popover-content-container.before-down::before {
  top: 12px;
  right: -4px;
  box-shadow: 1px -1px 1.5px var(--shadow-arrow-color);
}

.popover-content-container.before-center::before {
  top: calc(50% - 4px);
  right: -4px;
  box-shadow: 1px -1px 1.5px var(--shadow-arrow-color);
}

.popover-content-container.before-up::before {
  right: -4px;
  bottom: 12px;
  box-shadow: 1px -1px 1.5px var(--shadow-arrow-color);
}

.popover-content-container.above-right::before {
  bottom: -4px;
  left: 12px;
  box-shadow: 1px 1px 1.5px var(--shadow-arrow-color);
}

.popover-content-container.above-center::before {
  bottom: -4px;
  left: calc(50% - 4px);
  box-shadow: 1px 1px 1.5px var(--shadow-arrow-color);
}

.popover-content-container.above-left::before {
  right: 12px;
  bottom: -4px;
  box-shadow: 1px 1px 1.5px var(--shadow-arrow-color);
}

/** Show/Hide arrow */
.popover-content-container.show-arrow::before {
  display: block;
}
