:root  {
  --myz-blue: #0056c1;
  --myz-blue-dark: #003476;
  --myz-blue-light: #1973e1;
  --myz-blue-lighter: #e1f0ff;

  --myz-red: #e2001a;
  --myz-red-dark: #80000f;
  --myz-red-light: #ff808e;

  --accent: #add2ff;
  --accent-dark: #78b5ff;
  --accent-light: #d0e9ff;
  --accent-lighter: #ebf4ff;

  --bg-grey-050: #f6f6f6;
  --bg-grey-200: #e6e6e6;
  --bg-grey-700: #676b6f;
  --bg-grey-800: #424548;
  --bg-grey-900: #333333;

  --bg-white: #ffffff;

  --bg-neutral-100: #e8ebee;
  --bg-neutral-150: #d9dee3;
  --bg-neutral-200: #cad1d8;
  --bg-neutral-300: #aeb8c2;
  --bg-neutral-400: #919eac;
  --bg-neutral-500: #738596;
  --bg-neutral-600: #5c6b7a;
  --bg-neutral-700: #46525d;
  --bg-neutral-800: #303840;

  --status-error-red: #dc3122;
  --status-error-red-dark: #7e0a00;
  --status-error-red-light: #ff9c9c;
  --status-error-red-lighter: #fdefee;

  --status-warning-yellow: #f6bb3b;
  --status-warning-yellow-dark: #85641a;
  --status-warning-yellow-light: #fee17f;
  --status-warning-yellow-lighter: #fbf4e6;

  --status-success-green: #417505;
  --status-success-green-dark: #233a00;
  --status-success-green-light: #95d150;
  --status-success-green-lighter: #effce0;

  --text-grey-800: #424548;
  --text-grey-700: #676b6f;
  --text-grey-200: #e6e6e6;
  --text-grey-050: #f6f6f6;
  --text-white: #ffffff;
}

:host {
  --myz-blue: #0056c1;
  --myz-blue-dark: #003476;
  --myz-blue-light: #1973e1;
  --myz-blue-lighter: #e1f0ff;

  --myz-red: #e2001a;
  --myz-red-dark: #80000f;
  --myz-red-light: #ff808e;

  --accent: #add2ff;
  --accent-dark: #78b5ff;
  --accent-light: #d0e9ff;
  --accent-lighter: #ebf4ff;

  --bg-grey-050: #f6f6f6;
  --bg-grey-200: #e6e6e6;
  --bg-grey-700: #676b6f;
  --bg-grey-800: #424548;
  --bg-grey-900: #333333;

  --bg-white: #ffffff;

  --bg-neutral-100: #e8ebee;
  --bg-neutral-150: #d9dee3;
  --bg-neutral-200: #cad1d8;
  --bg-neutral-300: #aeb8c2;
  --bg-neutral-400: #919eac;
  --bg-neutral-500: #738596;
  --bg-neutral-600: #5c6b7a;
  --bg-neutral-700: #46525d;
  --bg-neutral-800: #303840;

  --status-error-red: #dc3122;
  --status-error-red-dark: #7e0a00;
  --status-error-red-light: #ff9c9c;
  --status-error-red-lighter: #fdefee;

  --status-warning-yellow: #f6bb3b;
  --status-warning-yellow-dark: #85641a;
  --status-warning-yellow-light: #fee17f;
  --status-warning-yellow-lighter: #fbf4e6;

  --status-success-green: #417505;
  --status-success-green-dark: #233a00;
  --status-success-green-light: #95d150;
  --status-success-green-lighter: #effce0;

  --text-grey-800: #424548;
  --text-grey-700: #676b6f;
  --text-grey-200: #e6e6e6;
  --text-grey-050: #f6f6f6;
  --text-white: #ffffff;
}
