:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > #toast-container > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

:host > #toast-container .top-centre {
  position: fixed;
  top: 0;
  left: 0;
}

:host > .bottom-centre {
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {

  :host > #toast-container > div {
    width: calc(100% / 2);
  }

  :host > #toast-container .top-centre {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  :host > .bottom-centre {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  :host > .top-left {
    position: fixed;
    top: 0;
    left: 0;
  }

  :host > .top-right {
    position: fixed;
    top: 0;
    right: 0;
  }

  :host > .bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  :host > .bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
  }

}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  :host > #toast-container > div {
    width: calc(100% / 3);
  }
}
