:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  display: block;
}

:host > #toast-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
  gap: 8px;
  z-index: 10000;
}

:host > #toast-container ::slotted(z-toast-notification) {
  width: 100%;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {

  :host > #toast-container ::slotted(z-toast-notification) {
    width: calc(100% / 2);
  }

  :host > #toast-container.top-centre {
    justify-content: flex-start;
	  align-items: center;
  }

  :host > #toast-container.top-left {
    justify-content: flex-start;
	  align-items: flex-start;
  }

  :host > #toast-container.top-right {
    justify-content: flex-start;
	  align-items: flex-end;
  }

  :host > #toast-container.bottom-centre {
    justify-content: flex-end;
	  align-items: center;
  }

  :host > #toast-container.bottom-right {
    justify-content: flex-end;
	  align-items: flex-end;
  }

  :host > #toast-container.bottom-left {
    justify-content: flex-end;
	  align-items: flex-start;
  }

}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  :host > #toast-container ::slotted(z-toast-notification) {
    width: calc(100% / 3);
  }
}
