:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  position: fixed;
  width: 100vw;
  height: 100vh;
  gap: 8px;
  display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
  z-index: 10000;
  margin: 16px;
}

::slotted(z-toast-notification) {
  width: 100%;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {

  ::slotted(z-toast-notification) {
    width: calc(100% / 2);
  }

  :host {
    margin: 24px;
  }

  :host(.top-centre) {
    justify-content: flex-start;
	  align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  :host(.top-left) {
    justify-content: flex-start;
	  align-items: flex-start;
    top: 0;
    left: 0;
  }

  :host(.top-right) {
    justify-content: flex-start;
	  align-items: flex-end;
    top: 0;
    right: 0;
  }

  :host(.bottom-centre) {
    justify-content: flex-end;
	  align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  :host(.bottom-right) {
    justify-content: flex-end;
	  align-items: flex-end;
    bottom: 0;
    right: 0;
  }

  :host(.bottom-left) {
    justify-content: flex-end;
	  align-items: flex-start;
    bottom: 0;
    left: 0;
  }

}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {

  :host {
    margin: 32px;;
  }

  ::slotted(z-toast-notification) {
    width: calc(100% / 3);
  }
}
