:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);

  --spacing: var(--spacing);
}

.carousel-item-container {
  display: flex;
  overflow-x: scroll;
  padding-inline-start: 0;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel-item-container::-webkit-scrollbar {
  display: none;
}
