z-table-row {
  display: table-row;
  font-family: var(--font-family-sans);
}

z-table-row[expanded-type="expandable"]:hover {
  cursor: pointer;
}

z-table-row[expanded-type="expandable"] > z-table-cell:first-child,
z-table-row[expanded-type="padding"] > z-table-cell:first-child {
  --z-icon-width: 16px;
  --z-icon-height: 16px;

  width: 24px;
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 16px;
  fill: var(--gray800);
  text-align: center;
  user-select: none;
}

.z-icon-placeholder {
  width: 24px;
  padding-right: 0;
}

z-table-row[expanded-type="expandable"] > z-table-cell:nth-child(2),
z-table-row[expanded-type="padding"] > z-table-cell:nth-child(2) {
  padding-left: 8px;
}

z-table-row[expanded-type]:hover > z-table-cell:first-child {
  fill: var(--myz-blue-dark);
}

z-table-row[expanded] > z-table-cell {
  border-bottom: none;
  background-color: var(--gray50);
}

z-table-row[expanded] + z-table-expanded-row {
  display: table-row;
}
