button {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  letter-spacing: 0.3px;
  border-width: var(--border-base);
  border-style: solid;
  border-radius: var(--radius-base);
  height: 44px;
  text-transform: uppercase;
  padding: 0px var(--basex2);
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  width: inherit;
}

button::-moz-focus-inner {
  border: 0;
}

button.small {
  height: 36px;
}

button.primary {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-white);
  fill: var(--bg-white);
}

button.primary:hover {
  background-color: var(--myz-blue-dark);
  border-color: var(--myz-blue-dark);
  color: var(--bg-white);
  fill: var(--bg-white);
}

button.primary:focus {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-white);
  fill: var(--bg-white);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

button.primary:active {
  background-color: var(--myz-blue-light);
  border-color: var(--myz-blue-light);
  color: var(--bg-white);
  fill: var(--bg-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
button.primary:disabled {
  background-color: var(--bg-neutral-200);
  border-color: var(--bg-neutral-200);
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

button.secondary {
  background-color: var(--bg-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

button.secondary:hover {
  background-color: var(--bg-white);
  border-color: var(--myz-blue-dark);
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
}

button.secondary:focus {
  background-color: var(--bg-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

button.secondary:active {
  background-color: var(--bg-white);
  border-color: var(--myz-blue-light);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
button.secondary:disabled {
  background-color: var(--bg-white);
  border-color: var(--bg-neutral-200);
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

button.tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

button.tertiary:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
}

button.tertiary:focus {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

button.tertiary:active {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
button.tertiary:disabled {
  background-color: transparent;
  border-color: transparent;
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

button > z-icon {
  margin-right: var(--half-x3);
}

button:disabled {
  pointer-events: none;
}
