:host {
  display: flex;
  min-height: calc(var(--space-unit) * 2);
  align-items: start;
  margin-top: var(--space-unit);
  color: var(--color-text05);
  fill: currentcolor;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  letter-spacing: 0.16px;
}

:host([status="success"]) {
  color: var(--color-text-success);
}

:host([status="error"]) {
  color: var(--color-text-error);
}

:host([status="warning"]) {
  color: var(--color-warning02);
}

:host(:focus) {
  outline: none;
}

:host > z-icon {
  --z-icon-width: calc(var(--space-unit) * 2);
  --z-icon-height: calc(var(--space-unit) * 2);

  margin: calc(var(--space-unit) / 3) var(--space-unit) 0 0;
}
