:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host button {
  padding: 0;
  border: none;
  margin: 0;
  background-color: transparent;
}

:host a:focus,
:host button:focus {
  box-shadow: var(--shadow-focus-primary);
  outline: 0;
}

ol {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol > li:not(:last-child) {
  margin-right: 8px;
}

/* https://www.w3.org/WAI/ARIA/apg/patterns/breadcrumb/examples/breadcrumb/#accessibilityfeatures */
ol > li + li::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  color: var(--color-disabled03);
  content: "\203A";
}

a {
  color: var(--color-link-primary);
  font-size: 14px;
  text-decoration: none;
}

:host[path-style="underline"] a {
  text-decoration: underline;
}

:host[path-style="semibold"] a {
  font-weight: bold;
}

z-icon {
  --z-icon-width: 10px;
  --z-icon-height: 10px;
}

#dots {
  display: inline-block;
  color: var(--color-link-primary);
  cursor: pointer;
}

.popover-content a {
  font-weight: normal;
}

.popover-content {
  max-width: 302px;
  text-align: left;
}

z-tooltip {
  --z-popover-theme--surface: var(--color-surface02);
}
