:host {
  --background-color-list-element: var(--bg-white);
  --background-hover-color-list-element: var(--gray50);
  --background-active-color-list-element: var(--gray50);

  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  outline: none;
}

:host([expandable]),
:host([clickable]) {
  cursor: pointer;
}

:host([expandable]:hover),
:host([clickable]:hover) {
  background-color: var(--background-hover-color-list-element);
}

:host([expandable]:focus:focus-visible),
:host([clickable]:focus:focus-visible) {
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

:host([expandable]:active),
:host([clickable]:active) {
  background-color: var(--background-active-color-list-element);
}

:host([align-button="left"][expandable]) > .z-list-element-container {
  display: flex;
  padding-left: calc(var(--space-unit) * 2);
}

:host([align-button="right"][expandable]) > .z-list-element-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: calc(var(--space-unit) * 2);
}

:host([align-button="left"][expandable]) > .z-list-element-container > z-icon {
  margin-right: var(--space-unit);
}

:host([align-button="right"][expandable]) > .z-list-element-container > z-icon {
  margin-left: var(--space-unit);
}

:host > .z-list-element-inner-container {
  display: none;
}

:host > .z-list-element-inner-container.expanded {
  display: block;
}
