:host {
  outline: none;
}

:host > .container {
  --background-color-list-element: var(--bg-white);
  --background-hover-color-list-element: var(--gray50);
  --background-active-color-list-element: var(--gray50);

  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  outline: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
}

:host > .container-contextual-menu {
  --background-hover-color-list-element-contextual-menu: var(--gray100);
}

/*z-list-element size*/

:host([size="small"]) > .container {
  padding: calc(var(--space-unit) / 2) 0;
  min-height: calc(var(--space-unit) * 4);
}

:host([size="medium"]) > .container {
  padding: var(--space-unit) 0;
  min-height: calc(var(--space-unit) * 5);
}

:host([size="large"]) > .container {
  padding: calc(var(--space-unit) * 2) 0;
  min-height: calc(var(--space-unit) * 7);
}

:host([size="x-large"]) > .container {
  padding: calc(var(--space-unit) * 3) 0;
  min-height: calc(var(--space-unit) * 9);
}

/*-----------------*/

:host([expandable]) > .container,
:host([clickable]) > .container,
.container-contextual-menu {
  cursor: pointer;
}

:host([expandable]:hover) > .container,
:host([clickable]:hover) > .container {
  background-color: var(--background-hover-color-list-element);
}

:host([expandable]:focus:focus-visible) > .container,
:host([clickable]:focus:focus-visible) > .container {
  box-shadow: var(--shadow-focus-primary);
}

:host([expandable]:active) > .container,
:host([clickable]:active) > .container {
  background-color: var(--background-active-color-list-element);
}

:host([align-button="left"][expandable])
  > .container
  > .z-list-element-container {
  display: flex;
}

:host([align-button="right"][expandable])
  > .container
  > .z-list-element-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

:host([align-button="left"][expandable])
  > .container
  > .z-list-element-container
  > z-icon {
  margin-right: var(--space-unit);
}

:host([align-button="right"][expandable])
  > .container
  > .z-list-element-container
  > z-icon {
  margin-left: var(--space-unit);
}

:host > .container > .z-list-element-inner-container {
  display: none;
}

:host > .container > .z-list-element-inner-container.expanded {
  display: block;
}

:host([clickable]:hover) > .container-contextual-menu {
  background-color: var(--background-hover-color-list-element-contextual-menu);
}

.container-contextual-menu:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

.container-contextual-menu {
  padding: 0 4px;
}

.short {
  padding-top: 4px;
  padding-bottom: 4px;
}
