:host {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 772px;
  height: 232px;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space-unit) * 3);
  background-color: var(--color-surface02);
  background-image: repeating-linear-gradient(
      0deg,
      var(--color-surface03),
      var(--color-surface03) 12px,
      transparent 12px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      var(--color-surface03),
      var(--color-surface03) 12px,
      transparent 12px,
      transparent 20px
    ),
    repeating-linear-gradient(
      180deg,
      var(--color-surface03),
      var(--color-surface03) 12px,
      transparent 12px,
      transparent 20px
    ),
    repeating-linear-gradient(
      270deg,
      var(--color-surface03),
      var(--color-surface03) 12px,
      transparent 12px,
      transparent 20px
    );
  background-position:
    0 0,
    0 0,
    100% 0,
    0 100%;
  background-repeat: no-repeat;
  background-size:
    2px 100%,
    100% 2px,
    2px 100%,
    100% 2px;
  border-radius: var(--border-radius-small);
  color: var(--color-default-text);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host,
* {
  box-sizing: border-box;
}

/* https://stackoverflow.com/questions/7110353/html5-dragleave-fired-when-hovering-a-child-element */
:host(.dragover) * {
  pointer-events: none;
}

.dragover-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary03);
  box-shadow: var(--shadow-focus-primary);
}

:host(.dragover) .dragover-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
