:host {
  --app-header-typography-3-size: 32px;
  --app-header-typography-3-lineheight: 1.25;
  --app-header-typography-1-lineheight: 1.33;
  --app-header-typography-2-lineheight: 1.29;
  --app-header-typography-4-lineheight: 1.24;
  --app-header-typography-5-lineheight: 1.24;
  --app-header-typography-6-lineheight: 1.25;
  --app-header-typography-7-lineheight: 1.2;
  --app-header-typography-8-lineheight: 1.26;
  --app-header-typography-9-lineheight: 1.24;
  --app-header-typography-10-lineheight: 1.26;
  --app-header-typography-11-lineheight: 1.2;
  --app-header-typography-12-lineheight: 1.2;
  --app-header-typography-3-tracking: calc(-0.6 / 1em);
  --app-header-typography-4-tracking: calc(-0.8 / 1em);
  --app-header-typography-5-tracking: calc(-1 / 1em);
  --app-header-typography-6-tracking: calc(-1.2 / 1em);
  --app-header-typography-7-tracking: calc(-1.4 / 1em);
  --app-header-typography-8-tracking: calc(-1.6 / 1em);
  --app-header-typography-9-tracking: calc(-1.8 / 1em);
  --app-header-typography-10-tracking: calc(-2 / 1em);
  --app-header-typography-11-tracking: calc(-2.2 / 1em);
  --app-header-typography-12-tracking: calc(-2.4 / 1em);
  --app-header-content-max-width: 100%;
  --app-header-height: auto;

  /* Variable to set stuck header and drawer's top offset.
  Useful when something is absolutely positioned above the header. */
  --app-header-top-offset: 48px;
  --app-header-drawer-trigger-size: calc(var(--space-unit) * 4);

  /* Variable to customize header background color. */
  --app-header-bg: var(--color-surface01);

  /* Variable to customize stuck header background color. */
  --app-header-stucked-bg: var(--color-surface01);

  /* Variable to customize text and icon color. */
  --app-header-text-color: var(--color-default-text);

  /* Variable to customize the title's line-height.
  NOTE: Only use one of the exported `--app-header-typography-*-lineheight` as a value
  and use the same level as the one of the font size. */
  --app-header-title-lineheight: var(--app-header-typography-3-lineheight);

  /* Variable to customize the title's letter-spacing.
  NOTE: Only use one of the exported `--app-header-typography-*-tracking` as a value
  and use the same level as the one of the font size. */
  --app-header-title-letter-spacing: var(--app-header-typography-3-tracking);

  /* Variable to customize stuck header's text and icon color. */
  --app-header-stucked-text-color: var(--color-default-text);

  position: relative;
  display: block;
  height: var(--app-header-height);
  color: var(--app-header-text-color);
}

:host,
* {
  box-sizing: border-box;
}

.heading-panel {
  position: relative;
  display: flex;
  width: 100%;
  max-width: var(--app-header-content-max-width);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: baseline;
  padding: calc(var(--space-unit) * 2);
  margin: 0 auto;
  background: var(--app-header-bg);
}

.heading-panel.padding-top-subtitle {
  padding: calc(var(--space-unit) * 2.5) calc(var(--space-unit) * 2);
}

:host(:empty) .heading-panel {
  padding: 0;
}

.heading-container {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: 100%;
  flex: 1 auto;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.heading-title {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: start;
}

:host([enable-search]:not([search-page-url])) .heading-title {
  flex-wrap: wrap;
}

.heading-top-subtitle.active-top-subtitle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: initial;
}

:host(:not([menu-length="0"])) .heading-top-subtitle {
  padding-left: calc(var(--app-header-drawer-trigger-size) + var(--space-unit));
}

:host(:is([flow="offcanvas"])) .heading-title > img.z-logo {
  margin: 0 calc(var(--space-unit) * 2);
}

.heading-title > img.z-logo {
  height: calc(var(--space-unit) * 3);
  margin: 4px var(--space-unit) 0 0;
}

:host([stuck]) .heading-stuck .heading-title > img.z-logo {
  margin-top: 0;
}

.heading-title > z-divider.heading-divider {
  height: 36px;
  margin: 0 calc(var(--space-unit) * 1.5);
}

::slotted([slot="product-logo"]) {
  width: 32px;
  height: 32px;
  margin-right: var(--space-unit);
  border-radius: 50%;
}

::slotted([slot="title"]),
.heading-stuck .heading-title > *,
::slotted([slot="stucked-title"]) {
  margin: 0;
  font-family: "IBM Plex Serif", serif;
}

::slotted([slot="title"]) {
  padding-right: var(--space-unit);
  font-size: calc(var(--space-unit) * 3);
  letter-spacing: var(--app-header-title-letter-spacing);
  line-height: var(--app-header-title-lineheight);
}

.heading-stuck .heading-title > *,
::slotted([slot="stucked-title"]) {
  font-size: calc(var(--space-unit) * 4.5);
  letter-spacing: var(--app-header-typography-3-tracking);
  line-height: var(--app-header-typography-3-lineheight);
}

:host(:is([flow="offcanvas"]) :not([menu-length="0"])) .heading-top-subtitle {
  padding-left: calc(var(--app-header-drawer-trigger-size) + (var(--space-unit) * 2));
}

::slotted([slot="top-subtitle"]) {
  max-width: 255px;
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18.2px;
}

.menu-container {
  display: flex;
  width: 100%;
  flex: 1 auto;
  flex-flow: row wrap;
}

:host([menu-length="0"]:not([enable-search])) .menu-container,
.menu-container:empty {
  display: none;
}

.menu-container ::slotted([open]) {
  position: relative;
  z-index: 3;
}

z-searchbar {
  z-index: 0;
  display: flex;
  min-width: 100%;
  align-items: center;
  padding-top: calc(var(--space-unit) * 2);
}

.heading-stuck {
  position: fixed;
  z-index: 20;
  top: var(--app-header-top-offset);
  left: 0;
  width: 100%;
  max-width: 100%;
  animation: slide-stuck-heading-in 250ms ease-out;
  background: var(--app-header-stucked-bg);
  box-shadow: var(--shadow-2);
  color: var(--app-header-stucked-text-color);
}

.heading-stuck-content {
  display: flex;
  max-width: var(--app-header-content-max-width);
  align-items: center;
  padding: var(--space-unit) var(--grid-margin);
  margin: 0 auto;
}

.heading-stuck .heading-title {
  overflow: hidden;
}

.heading-stuck .heading-title > *,
.heading-stuck .heading-title ::slotted([slot="stucked-title"]) {
  display: block;
  overflow: hidden;
  font-size: calc(var(--space-unit) * 2.5);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heading-stuck-content z-button {
  margin-left: auto;
}

.drawer-trigger {
  padding: 0;
  border: 0;
  margin-right: var(--space-unit);
  appearance: none;
  background: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
}

.drawer-trigger z-icon {
  --z-icon-width: var(--app-header-drawer-trigger-size);
  --z-icon-height: var(--app-header-drawer-trigger-size);

  fill: currentcolor;
}

/* Simulate the height of the first line of text,
to correctly align drawer icon and search page button with the title */
.heading-container :is(.drawer-trigger, z-button.search-page-button) {
  display: flex;
  height: calc(var(--space-unit) * 4.5) * var(--app-header-title-lineheight);
  align-items: center;
}

.heading-container z-button.search-page-button {
  margin-left: auto;
}

.drawer-content {
  display: none;
}

z-offcanvas[open] .drawer-content {
  display: flex;
  width: 100%;
  flex: 1 auto;
  flex-direction: column;
  row-gap: calc(var(--space-unit) * 2.5);
}

z-offcanvas[open] .drawer-content ::slotted(z-menu) {
  width: 100%;
}

.drawer-close {
  --z-icon-width: var(--app-header-drawer-trigger-size);
  --z-icon-height: var(--app-header-drawer-trigger-size);

  padding: 0;
  border: 0;
  margin: var(--space-unit) 0 calc(var(--space-unit) * 2.5);
  appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  fill: currentcolor;
  font-size: inherit;
  outline: none;
}

.drawer-close:focus-visible {
  box-shadow: var(--shadow-focus-primary);
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  :host {
    --app-header-title-lineheight: var(--app-header-typography-6-lineheight);
    --app-header-title-letter-spacing: var(--app-header-typography-6-tracking);
  }

  ::slotted([slot="title"]) {
    font-size: calc(var(--space-unit) * 4.5);
    letter-spacing: var(--app-header-title-letter-spacing);
    line-height: var(--app-header-title-lineheight);
  }

  .heading-title {
    height: 36px;
  }

  .heading-title > img.z-logo {
    height: 32px;
    margin: 0;
  }

  .heading-top-subtitle {
    height: 22px;
  }

  .heading-panel {
    align-items: center;
    padding: 0 calc(var(--space-unit) * 3);
  }

  .heading-container {
    flex-direction: column;
    margin-right: auto;
  }

  .menu-container {
    flex: initial;
    align-items: center;
  }

  :host([menu-length="0"]) .menu-container:not(:empty) {
    height: calc(var(--space-unit) * 4.5 * var(--app-header-title-lineheight));
  }

  :host(:not([flow="offcanvas"])) .menu-container {
    /* gap: var(--space-unit) 14px; */
  }

  :host(:not([flow="offcanvas"])) .heading-container .drawer-trigger {
    display: none;
  }
}

/* Desktop breakpoint */
@media (min-width: 1152px) {
  .menu-container {
    margin-top: calc(var(--space-unit) * 2.5);
  }

  .menu-container.menu-top-subtitle {
    margin-top: calc(var(--space-unit) * 3);
  }

  :host(:not([enable-search])) .menu-container {
    margin-top: calc(var(--space-unit) * 3.5);
  }

  .heading-top-subtitle {
    height: 20px;
  }

  :host([flow="stack"]) .heading-panel {
    flex-flow: column;
    align-items: flex-start;
  }

  :host([flow="stack"]) .menu-container {
    width: 100%;
  }

  z-searchbar {
    min-width: calc(var(--space-unit) * 45);
    flex: initial;
  }
}

/* Wide breakpoint
@media (min-width: 1366px) {
} */

@keyframes slide-stuck-heading-in {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: none;
  }
}
