:host {
  --z-info-reveal-theme--surface: var(--color-black);
  --z-info-reveal-theme--text: var(--color-white);
  --z-info-reveal-shadow: var(--shadow-2);
  --color-primary01: var(--z-info-reveal-theme--text);
  position: relative;
  display: flex;
  width: fit-content;
  background-color: var(--z-info-reveal-theme--surface);
}

:host .statements,
:host button.close {
  position: absolute;
}

:host,
:host .statements {
  box-shadow: var(--z-info-reveal-shadow);
}

:host([position='top_right']) .statements,
:host([position='bottom_right']) .statements {
  right: calc(var(--space-unit) * -7);
  padding-right: calc(var(--space-unit) * 4);
}

:host([position='top_left']) .statements,
:host([position='bottom_left']) .statements {
  left: -calc(var(--space-unit) * -4);
  padding-left: calc(var(--space-unit) * 4);
}

:host([position='bottom_left']) .statements,
:host([position='bottom_right']) .statements {
  bottom: calc(var(--space-unit) * -3.5);
}

:host([position='top_right']) button.close {
  top: 0;
  right: 0;
}

:host([position='top_left']) button.close {
  top: 0;
  left: 0;
}

:host([position='bottom_right']) button.close {
  bottom: 0;
  right: 0;
}

:host([position='bottom_left']) button.close {
  bottom: 0;
  left: 0;
}

:host .statements {
  min-width: calc(var(--space-unit) * 20);
  min-height: calc(var(--space-unit) * 8);
  color: var(--z-info-reveal-theme--text);
  background-color: var(--z-info-reveal-theme--surface);
  padding: calc(var(--space-unit) / 2);
}

::slotted(*) {
  display: none;
}

::slotted(.current)  {
  display: block;
}

:host button {
  padding: calc(var(--space-unit) / 2);
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: initial;
  padding: calc(var(--space-unit) / 2);
}

:host .closed-info-reveal {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0;
}

:host .closed-info-reveal > z-icon {
  padding: 0 calc(var(--space-unit) / 2);
}

:host .z-info-reveal-label {
  display: flex;
  align-items: baseline;
  padding: calc(var(--space-unit) / 2);
  color: var(--z-info-reveal-theme--text);
  background-color: var(--z-info-reveal-theme--surface);
}
