button,
a {
  display: inline-block;
  --z-icon-width: 16px;
  --z-icon-height: 16px;
  --z-icon-right-margin: 0;
  --rgb-white: 240, 240, 240;
}

button:disabled,
a:disabled {
  pointer-events: none;
}

button,
a {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  border-width: var(--border-size-medium);
  border-style: solid;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  fill: currentColor;
}

[text] z-icon {
  --z-icon-right-margin: var(--space-unit);
}

[text] button,
[text] a {
  min-width: calc(var(--space-unit) * 8);
  padding: 0 calc(var(--space-unit) * 2);
}

.big {
  height: 44px;
  min-width: 44px;
}

.small {
  height: 36px;
  min-width: 36px;
}

.x-small {
  height: 32px;
  min-width: 32px;
}

.primary {
  background-color: var(--color-primary01);
  border-color: var(--color-primary01);
  color: var(--color-text-inverse);
}

@media (hover: hover) {
  .primary:hover {
    background-color: var(--color-hover-primary);
    border-color: var(--color-hover-primary);
    color: var(--color-text-inverse);
  }
}

button:focus:focus-visible,
a:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
}

.primary:active {
  background-color: var(--color-pressed-primary);
  border-color: var(--color-pressed-primary);
  color: var(--color-text-inverse);
  box-shadow: var(--shadow-2);
}

.primary:disabled {
  background-color: var(--color-disabled01);
  border-color: var(--color-disabled01);
  color: var(--color-disabled02);
}

.secondary {
  background-color: var(--color-surface01);
  border-color: var(--color-primary01);
  color: var(--color-primary01);
}

@media (hover: hover) {
  .secondary:hover {
    background-color: var(--color-surface01);
    border-color: var(--color-hover-primary);
    color: var(--color-hover-primary);
  }
}

.secondary:active {
  background-color: var(--color-surface01);
  border-color: var(--color-pressed-primary);
  color: var(--color-pressed-primary);
  box-shadow: var(--shadow-2);
}

.secondary:disabled {
  background-color: var(--color-surface01);
  border-color: var(--color-disabled01);
  color: var(--color-disabled02);
}

.tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary01);
}

@media (hover: hover) {
  .tertiary:hover {
    background-color: var(--color-primary03);
    border-color: var(--color-primary03);
    color: var(--color-hover-primary);
  }
}

.tertiary:focus:focus-visible {
  background-color: var(--color-surface01);
  border-color: var(--color-surface01);
  color: var(--color-primary01);
}

.tertiary:active {
  background-color: var(--color-surface01);
  border-color: var(--color-surface01);
  color: var(--color-primary01);
  box-shadow: var(--shadow-2);
}

.tertiary:disabled {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-disabled02);
}
