:host {
  display: inline-block;
  --z-icon-width: 16px;
  --z-icon-height: 16px;
  --z-icon-right-margin: 0;
}

:host([disabled]:not([disabled="false"])) {
  pointer-events: none;
}

:host .container {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  border-width: var(--border-size-medium);
  border-style: solid;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  fill: currentColor;
}

:host .container.has-text {
  min-width: calc(var(--space-unit) * 8);
  padding: 0 calc(var(--space-unit) * 2);
}

:host .container.has-text z-icon {
  --z-icon-right-margin: var(--space-unit);
}

:host .big {
  height: 44px;
  min-width: 44px;
}

:host .small {
  height: 36px;
  min-width: 36px;
}

:host .x-small {
  height: 32px;
  min-width: 32px;
}

:host .primary {
  background-color: var(--color-primary01);
  border-color: var(--color-primary01);
  color: var(--color-text-inverse);
}

@media (hover: hover) {
  :host .primary:hover {
    background-color: var(--color-hover-primary);
    border-color: var(--color-hover-primary);
    color: var(--color-text-inverse);
  }
}

:host .container:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
}

:host .primary:active {
  background-color: var(--color-pressed-primary);
  border-color: var(--color-pressed-primary);
  color: var(--color-text-inverse);
  box-shadow: var(--shadow-2);
}

:host([disabled]:not([disabled="false"])) .primary {
  background-color: var(--color-disabled01);
  border-color: var(--color-disabled01);
  color: var(--color-disabled02);
}

:host .secondary {
  background-color: var(--color-surface01);
  border-color: var(--color-primary01);
  color: var(--color-primary01);
}

@media (hover: hover) {
  :host .secondary:hover {
    background-color: var(--color-surface01);
    border-color: var(--color-hover-primary);
    color: var(--color-hover-primary);
  }
}

:host .secondary:active {
  background-color: var(--color-surface01);
  border-color: var(--color-pressed-primary);
  color: var(--color-pressed-primary);
  box-shadow: var(--shadow-2);
}

:host([disabled]:not([disabled="false"])) .secondary {
  background-color: var(--color-surface01);
  border-color: var(--color-disabled01);
  color: var(--color-disabled02);
}

:host .tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary01);
}

@media (hover: hover) {
  :host .tertiary:hover {
    background-color: var(--color-primary03);
    border-color: var(--color-primary03);
    color: var(--color-hover-primary);
  }
}

:host .tertiary:focus:focus-visible {
  background-color: var(--color-surface01);
  border-color: var(--color-surface01);
  color: var(--color-primary01);
}

:host .tertiary:active {
  background-color: var(--color-surface01);
  border-color: var(--color-surface01);
  color: var(--color-primary01);
  box-shadow: var(--shadow-2);
}

:host([disabled]:not([disabled="false"])) .tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-disabled02);
}
