:host {
  display: inline-block;
  --z-icon-width: 16px;
  --z-icon-height: 16px;
}

button:disabled,
::slotted(button:disabled) {
  pointer-events: none;
}

button,
::slotted(button),
::slotted(a) {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  border-width: var(--border-size-medium);
  border-style: solid;
  border-radius: var(--border-radius);
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  width: 100%;
}

button.big,
::slotted(button),
::slotted(a) {
  height: 44px;
  min-width: 44px;
}

button.small,
/* Legacy to be removed when we drop issmall support*/
button.issmall,
::slotted(button),
::slotted(a) {
  height: 36px;
  min-width: 36px;
}

button.x-small,
::slotted(button),
::slotted(a) {
  height: 32px;
  min-width: 32px;
}

button.hasContent,
::slotted(button),
::slotted(a) {
  min-width: calc(var(--space-unit) * 8);
  padding: 0 calc(var(--space-unit) * 2);
}

button.hasContent z-icon {
  margin-right: var(--space-unit);
}

button.primary,
:host([variant="primary"]) ::slotted(button),
:host([variant="primary"]) ::slotted(a) {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-white);
  fill: var(--bg-white);
}

@media (hover: hover) {
  button.primary:hover,
  :host([variant="primary"]) ::slotted(button:hover),
  :host([variant="primary"]) ::slotted(a:hover) {
    background-color: var(--myz-blue-dark);
    border-color: var(--myz-blue-dark);
    color: var(--bg-white);
    fill: var(--bg-white);
  }
}

button.primary:focus:focus-visible,
:host([variant="primary"]) ::slotted(button:focus:focus-visible),
:host([variant="primary"]) ::slotted(a:focus:focus-visible) {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-white);
  fill: var(--bg-white);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

button.primary:active,
:host([variant="primary"]) ::slotted(button:active),
:host([variant="primary"]) ::slotted(a:active) {
  background-color: var(--myz-blue-light);
  border-color: var(--myz-blue-light);
  color: var(--bg-white);
  fill: var(--bg-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

button:disabled,
:host([variant="primary"]) ::slotted(button:disabled) {
  background-color: var(--bg-neutral-200);
  border-color: var(--bg-neutral-200);
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

button.secondary,
:host([variant="secondary"]) ::slotted(button),
:host([variant="secondary"]) ::slotted(a) {
  background-color: var(--bg-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

@media (hover: hover) {
  button.secondary:hover,
  :host([variant="secondary"]) ::slotted(button:hover),
  :host([variant="secondary"]) ::slotted(a:hover) {
    background-color: var(--bg-white);
    border-color: var(--myz-blue-dark);
    color: var(--myz-blue-dark);
    fill: var(--myz-blue-dark);
  }
}

button.secondary:focus:focus-visible,
:host([variant="secondary"]) ::slotted(button:focus:focus-visible),
:host([variant="secondary"]) ::slotted(a:focus:focus-visible) {
  background-color: var(--bg-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

button.secondary:active,
:host([variant="secondary"]) ::slotted(button:active),
:host([variant="secondary"]) ::slotted(a:active) {
  background-color: var(--bg-white);
  border-color: var(--myz-blue-light);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

button.secondary:disabled,
:host([variant="secondary"]) ::slotted(button:disabled) {
  background-color: var(--bg-white);
  border-color: var(--bg-neutral-200);
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

button.tertiary,
:host([variant="tertiary"]) ::slotted(button),
:host([variant="tertiary"]) ::slotted(a) {
  padding: 0 var(--space-unit);
  background-color: transparent;
  border-color: transparent;
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

@media (hover: hover) {
  button.tertiary:hover,
  :host([variant="tertiary"]) ::slotted(button:hover),
  :host([variant="tertiary"]) ::slotted(a:hover) {
    background-color: var(--myz-blue-lighter);
    border-color: var(--myz-blue-lighter);
    color: var(--myz-blue-dark);
    fill: var(--myz-blue-dark);
  }
}

button.tertiary:focus:focus-visible,
:host([variant="tertiary"]) ::slotted(button:focus:focus-visible),
:host([variant="tertiary"]) ::slotted(a:focus:focus-visible) {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

button.tertiary:active,
:host([variant="tertiary"]) ::slotted(button:active),
:host([variant="tertiary"]) ::slotted(a:active) {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

button.tertiary:disabled,
:host([variant="tertiary"]) ::slotted(button:disabled) {
  background-color: transparent;
  border-color: transparent;
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}
