:host {
  position: absolute;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.relativeContainer {
  position: relative;
  height: 48px;
  display: grid;
  grid-template-columns: 34px auto 48px;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  align-items: center;
  padding: 0 var(--space-unit);
  outline: none;
}

.relativeContainer::-moz-focus-inner {
  border: 0;
}

:host div.addAlert {
  background: var(--status-success-green-lighter);
}

:host div.removeAlert {
  background: var(--status-warning-yellow-lighter);
  border: var(--border-size-medium) solid var(--bg-grey-200);
  border-top: none;
}

:host div>.contentText {
  color: var(--text-grey-800);
  font-size: 14px;
  letter-spacing: 0.16px;
  line-height: 20px;
}

:host div>.contentAction {
  color: var(--myz-blue);
  font-size: 12px;
  font-weight: var(--font-sb);
  height: 20px;
  letter-spacing: 0.32px;
  line-height: 20px;
  cursor: pointer;
}

:host div>z-icon {
  justify-self: center;
}

:host div>z-icon.addAlert {
  color: var(--status-success-green);
  fill: var(--status-success-green);
}

:host div>z-icon.removeAlert {
  color: var(--status-warning-yellow-dark);
  fill: var(--status-warning-yellow-dark);
}
