:host {
  --z-info-reveal-panel-width: 384px; /* defaults half the size of the mobile breakpoint */
  --trigger-size: 44px;

  position: relative;
}

:host * {
  box-sizing: border-box;
}

button {
  --trigger-icon-size: calc(var(--trigger-size) / 2);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: inherit;
}

button:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

.z-info-reveal-trigger {
  min-width: var(--trigger-size);
  height: var(--trigger-size);
  padding: calc((var(--trigger-size) - var(--trigger-icon-size)) / 2);
  background-color: var(--color-surface05);
  border-radius: var(--border-radius);
  color: var(--color-text-inverse);
  column-gap: var(--space-unit);
  font-weight: var(--font-sb);
  line-height: 1rem;
}

:host([size="big"]) .z-info-reveal-trigger {
  font-size: var(--font-size-2);
}

:host([size="small"]) .z-info-reveal-trigger {
  --trigger-size: 36px;

  font-size: var(--font-size-2);
}

:host([size="x-small"]) .z-info-reveal-trigger {
  --trigger-size: 32px;

  padding: var(--space-unit);
  font-size: var(--font-size-1);
}

:host > .z-info-reveal-trigger z-icon {
  --z-icon-width: var(--trigger-icon-size);
  --z-icon-height: var(--trigger-icon-size);

  display: flex;
  fill: var(--color-inverse-icon);
}

:host([size="small"]) > .z-info-reveal-trigger z-icon {
  --trigger-icon-size: var(--trigger-icon-size-small, 18px);
}

:host([size="x-small"]) > .z-info-reveal-trigger z-icon {
  --trigger-icon-size: var(--trigger-icon-size-x-small, 16px);
}

.z-info-reveal-panel {
  position: absolute;
  z-index: 99;
  display: flex;
  width: var(--z-info-reveal-panel-width);
  height: fit-content;
  align-items: flex-start;
  padding: calc(var(--space-unit) * 1.5);
  background-color: var(--color-surface05);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-4);
  color: var(--color-text-inverse);
  column-gap: var(--space-unit);
}

.z-info-reveal-panel[hidden] {
  display: none;
}

:host([position="top_left"]) .z-info-reveal-panel,
:host([position="top_right"]) .z-info-reveal-panel {
  top: 0;
}

:host([position="bottom_left"]) .z-info-reveal-panel,
:host([position="bottom_right"]) .z-info-reveal-panel {
  bottom: 0;
}

:host([position="top_right"]) .z-info-reveal-panel,
:host([position="bottom_right"]) .z-info-reveal-panel {
  right: 0;
}

:host([position="top_left"]) .z-info-reveal-panel,
:host([position="bottom_left"]) .z-info-reveal-panel {
  left: 0;
}

.z-info-reveal-panel .z-info-reveal-close {
  margin-left: auto;
}

.z-info-reveal-panel z-icon {
  fill: var(--color-inverse-icon);
}

@media (max-width: 767px) {
  .z-info-reveal-panel {
    position: fixed;
    top: auto !important;
    bottom: auto !important;
    left: var(--grid-margin) !important;
    width: calc(100% - (var(--grid-margin) * 2)) !important;
    max-width: none !important;
    margin-top: calc(var(--trigger-size) * -1);
  }
}
