:host {
  --z-info-reveal-theme--surface: var(--color-black);
  --z-info-reveal-theme--text: var(--color-white);
  --z-info-reveal-shadow: var(--shadow-2);
  --z-info-reveal-max-width: 375px; /* defaults to average width of mobile devices */

  position: relative;
  display: flex;
  width: fit-content;
  background-color: var(--z-info-reveal-theme--surface);
  color: var(--z-info-reveal-theme--text);
  font-size: var(--font-size-3);
  font-weight: var(--font-rg);
  line-height: 1.5;
  letter-spacing: 0;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: inherit;
  fill: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

z-icon {
  --z-icon-width: calc(var(--space-unit) * 3);
  --z-icon-height: calc(var(--space-unit) * 3);
  display: flex;
}

.z-info-reveal-trigger {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  column-gap: calc(var(--space-unit) / 2);
  padding: calc(var(--space-unit) / 2);
  box-shadow: var(--z-info-reveal-shadow);
}

:host([position="top_left"]) .z-info-reveal-trigger,
:host([position="bottom_left"]) .z-info-reveal-trigger {
  flex-direction: row-reverse;
}

:host([open]) .z-info-reveal-trigger {
  box-shadow: none;
}

.info-box {
  position: absolute;
  display: flex;
  max-width: var(--z-info-reveal-max-width);
  column-gap: calc(var(--space-unit) / 2);
  padding: calc(var(--space-unit) / 2);
  background-color: var(--z-info-reveal-theme--surface);
  box-shadow: var(--z-info-reveal-shadow);
  cursor: pointer;
}

:host([position="bottom_left"]) .info-box,
:host([position="bottom_right"]) .info-box {
  bottom: 0;
}

:host([position="top_right"]) .info-box,
:host([position="bottom_right"]) .info-box {
  right: 0;
}

:host([position="top_left"]) .info-box,
:host([position="bottom_left"]) .info-box {
  left: 0;
  flex-direction: row-reverse;
}

::slotted(*) {
  display: none;
  width: max-content;
}

::slotted([data-current]) {
  display: block;
}

:host([position="top_left"]) .z-info-reveal-close,
:host([position="top_right"]) .z-info-reveal-close {
  align-self: flex-start;
}

:host([position="bottom_left"]) .z-info-reveal-close,
:host([position="bottom_right"]) .z-info-reveal-close {
  align-self: flex-end;
}
