:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host div.wrapper {
  color: var(--text-grey-800);
  padding: calc(var(--space-unit) * 4) calc(var(--space-unit) * 2)
    calc(var(--space-unit) * 3) calc(var(--space-unit) * 2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

z-button,
z-input,
::slotted(z-button),
::slotted(z-input) {
  display: inline-block;
  width: 100%;
}

z-link,
::slotted(z-link) {
  font-size: 12px;
}

:host div.wrapper > form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

:host div.wrapper > form > div.username z-input,
:host div.wrapper > form > div.password z-input {
  margin-bottom: var(--space-unit);
}

:host div.wrapper > form > z-link.forget {
  font-size: 12px;
  align-self: flex-end;
}

:host div.wrapper > form > div.login z-button {
  margin: calc(var(--space-unit) * 3) 0;
  align-self: flex-start;
}

:host div.wrapper > hr {
  width: 100%;
  margin-bottom: calc(var(--space-unit) * 3);
  border: none;
  border-top: var(--border-size-medium) solid var(--bg-grey-200);
}

:host div.wrapper > div.signup z-button {
  display: inline-block;
  margin: calc(var(--space-unit) * 2) 0;
}

/* @PASQUALE - INIZIO CSS CASO 1 */
/* :host div.wrapper > div.provider z-body.provider {
  display: inline-block;
  margin: calc(var(--space-unit) * 2) 0;
}
*/

:host div.providers {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 16px 0px;
}


slot-fb[name='provider'] {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 16px 0px;
}

/*
:host div.wrapper .zd {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

:host div.wrapper .zd > svg {
  margin-right: var(--space-unit);
} */
/* FINE CSS CASO 1 */

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  z-button,
  ::slotted(z-button) {
    width: initial;
  }

  :host div.wrapper {
    width: 396px;
    padding: calc(var(--space-unit) * 3);
  }

  /* @PASQUALE - INIZIO CSS CASO 1 */
  :host div.providers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  :host div.providers > z-body {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  ::slotted([slot='provider']) {
    width: 100%;
  }
  slot-fb[name='provider'].hide {
    background-color: red;
  }

  slot-fb[name='provider'] {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  slot-fb[name='provider'] > * {

    width: 100%;
  }
  /*
  div.wrapper > div.provider div.providers > * {
    width: 100%;
    align-self: center;
  }
  */
  /* FINE CSS CASO 1 */
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  :host div.wrapper {
    width: 477px;
    padding: calc(var(--space-unit) * 4);
  }
}
