:host {
  --z-tooltip-theme--surface: var(--color-surface01);
  --z-tooltip-theme--text: var(--color-text01);
  --arrow-size: 6px;
  --edge-offset: calc(-1 * (var(--arrow-size) + calc(var(--space-unit) * 2)));

  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  padding: var(--space-unit);
  min-width: calc(var(--space-unit) * 8);
  min-height: calc(var(--space-unit) * 4);
  color: var(--z-tooltip-theme--text);
  fill: currentColor;
  font-family: var(--font-family-sans);
  text-align: center;
  border-radius: var(--border-radius-small);
  background: var(--z-tooltip-theme--surface);
  filter: drop-shadow(0 4px 8px var(--shadow-color-base));
  will-change: filter;
}

:host(.legacy) {
  display: inline-flex;
  padding: calc(var(--space-unit) * 2);
  min-width: auto;
  min-height: auto;
  max-width: 200px;
  font-style: italic;
  line-height: 16px;
  letter-spacing: 0.32px;
  font-size: 12px;
  border: var(--border-size-small) solid var(--gray200);
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.08));
}

:host(.legacy)::before {
  --arrow-size: 14px;
}

:host([position])::before {
  --arrow-edge-offset: calc(100% - var(--arrow-size) - var(--space-unit));
  --arrow-center-x-offset: calc(50% - calc(var(--arrow-size) / 2));
  --arrow-center-y-offset: calc(100% - calc(var(--arrow-size) / 2));

  content: "";
  position: absolute;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background: inherit;
  transform: rotate(45deg);
}

:host([open][style*="top:"]),
:host([open][style*="inset:"]) {
  display: inline-flex;
}

:host([position^="top"]) {
  margin-bottom: var(--space-unit);
}

:host([position="right"]) {
  margin-left: var(--space-unit);
}

:host([position="top_right"]),
:host([position="bottom_right"]) {
  margin-left: var(--edge-offset);
}

:host([position^="bottom"]) {
  margin-top: var(--space-unit);
}

:host([position="left"]) {
  margin-right: var(--space-unit);
}

:host([position="top_left"]),
:host([position="bottom_left"]) {
  margin-right: var(--edge-offset);
}

/* Arrow style */

:host([position^="top"])::before {
  top: var(--arrow-center-y-offset);
}

:host([position^="bottom"])::before {
  bottom: var(--arrow-center-y-offset);
}

:host([position="top"])::before,
:host([position="bottom"])::before {
  left: var(--arrow-center-x-offset);
}

:host([position="right"])::before,
:host([position="left"])::before {
  top: var(--arrow-center-x-offset);
}

:host([position="right"])::before {
  right: var(--arrow-center-y-offset);
}

:host([position="top_right"])::before,
:host([position="bottom_right"])::before {
  right: var(--arrow-edge-offset);
}

:host([position="left"])::before {
  left: var(--arrow-center-y-offset);
}

:host([position="top_left"])::before,
:host([position="bottom_left"])::before {
  left: var(--arrow-edge-offset);
}

::slotted(*) {
  flex: 1 auto;
  overflow: auto;
}
