:host {
  display: inline-block;
}

:host>div>div {
  fill: var(--text-grey-800);
}

:host>div>div>div.textareaWrapper {
  background: var(--bg-white);
  border: var(--border-size-small) solid var(--bg-grey-200);
  padding: var(--half-x3);
}

:host>div>div>input,
:host>div>div>div.textareaWrapper>textarea {
  border-radius: 0px;
  border: var(--border-size-small) solid var(--bg-grey-200);
  border-color: var(--bg-grey-200);
  background: var(--bg-white);
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  margin: 0;
  padding: 0 var(--half-x3);
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 16px;
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  outline: none;
}

:host>div>div>div.textareaWrapper>textarea {
  padding: 0;
  min-height: 132px;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: var(--myz-blue) var(--bg-grey-200);
  border-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-grey-700);
}

::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
  color: var(--text-grey-700);
}

:-ms-input-placeholder,
:-ms-textarea-placeholder {
  color: var(--text-grey-700);
}

::-moz-placeholder {
  color: var(--text-grey-700);
}

:-moz-placeholder {
  color: var(--text-grey-700);
}

:host>div>div>input.input_success,
:host>div>div>div.textareaWrapper>textarea.input_success,
:host>div>div>div.textareaWrapper.input_success {
  border-color: var(--status-success-green);
  background: var(--status-success-green-lighter);
}

:host>div>div>input.input_error,
:host>div>div>div.textareaWrapper>textarea.input_error,
:host>div>div>div.textareaWrapper.input_error {
  border-color: var(--status-error-red);
  background: var(--status-error-red-lighter);
}

:host>div>div>input.input_warning,
:host>div>div>div.textareaWrapper>textarea.input_warning,
:host>div>div>div.textareaWrapper.input_warning {
  border-color: var(--status-warning-yellow);
  background: var(--status-warning-yellow-lighter);
}

:host>div>div>div.textareaWrapper>textarea.input_success,
:host>div>div>div.textareaWrapper>textarea.input_error,
:host>div>div>div.textareaWrapper>textarea.input_warning {
  border-color: transparent;
}

:host>div>div>input.input_default.filled,
:host>div>div>div.textareaWrapper.input_default.filled {
  border-color: var(--text-grey-800);
}

:host>div>div>input:focus,
:host>div>div>div.textareaWrapper.focus {
  border-color: transparent;
  box-shadow: 0 0 2px 2px var(--accent-dark);
}

:host>div>div>input:focus.istyping,
:host>div>div>div.textareaWrapper.focus.istyping {
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  box-shadow: 0 0 0 0 transparent;
}

:host>div>div>div.textareaWrapper>textarea.istyping {
  color: var(--myz-blue);
}

:host>div>div>input:disabled,
:host>div>div>input.filled:disabled,
:host>div>div>div.textareaWrapper.disabled,
:host>div>div>div.textareaWrapper.filled.disabled {
  border-color: var(--bg-grey-200);
  background: var(--bg-white);
  box-shadow: none;
  color: var(--text-grey-700);
  fill: var(--bg-grey-200);
}

:host>div>div>input:hover,
:host>div>div>div.textareaWrapper.hover {
  border-color: var(--text-grey-800);
  background: var(--bg-grey-050);
}

:host>div>div>div.textareaWrapper>textarea:hover {
  background: var(--bg-grey-050);
}

:host>div>div>input:disabled:hover,
:host>div>div>div.textareaWrapper>textarea:disabled:hover,
:host>div>div>div.textareaWrapper.disabled.hover {
  background: var(--bg-white);
}

:host>div>div>input:disabled:hover {
  border-color: var(--bg-grey-200);
}

:host>div>div>input[readonly],
:host>div>div>div.textareaWrapper.readonly {
  color: var(--text-grey-800);
}

:host>div>div>input[readonly]:hover,
:host>div>div>div.textareaWrapper>textarea[readonly]:hover,
:host>div>div>div.textareaWrapper.readonly.hover {
  background: var(--bg-white);
}

:host>div>label {
  display: inline-block;
  color: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: var(--basex1) 0;
}

:host>div>div {
  position: relative;
  z-index: 1;
}

:host>div>div>z-icon {
  position: absolute;
  bottom: var(--half-x3);
  right: var(--half-x3);
  cursor: pointer;
  z-index: 2;
}

:host>div>span.statusMsg {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 14px;
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
  padding: var(--basex1) 0;
  display: flex;
}

:host>div>span.statusMsg.msg_success {
  color: var(--status-success-green);
  fill: var(--status-success-green);
}

:host>div>span.statusMsg.msg_error {
  color: var(--status-error-red);
  fill: var(--status-error-red);
}

:host>div>span.statusMsg.msg_warning {
  color: var(--status-warning-yellow-dark);
  fill: var(--status-warning-yellow-dark);
}

:host>div>span.statusMsg>z-icon {
  margin-right: var(--basex1);
  margin-top: var(--half-x1);
}

::-webkit-scrollbar {
  background: linear-gradient(90deg, var(--bg-white) 2px, var(--bg-grey-200) 4px, var(--bg-white) 8px);
  border-radius: var(--radius-base);
  width: 10px;
  margin-right: 20px;
  padding-right: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--myz-blue);
  border-radius: var(--radius-base);
  width: 10px;
  margin-right: 20px;
  padding: 20px;
}
