:host {
  display: inline-block;
  width: inherit;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* GENERAL */
:host input::-ms-clear,
:host input::-ms-reveal {
  display: none;
}

input,
textarea,
.textarea-wrapper,
ul[role="listbox"] {
  box-sizing: border-box;
  border: var(--border-size-small) solid var(--color-surface04);
  background: var(--color-input-field01);
  border-radius: var(--border-radius-small);
  color: var(--color-text02);
  fill: var(--color-icon02);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-3);
  font-weight: var(--font-rg);
  outline: none;
}

/* FOCUS */
input:focus:focus-visible,
li[role="option"]:focus:focus-visible,
.focus {
  box-shadow: var(--shadow-focus-primary);
}

/* FILLED */
.filled {
  border-color: var(--color-surface05);
}

/* STATUSES (success, warning, error) */
.input-success,
.input-success:hover,
.input-success.hover {
  border-color: var(--color-success01);
  background: var(--color-success-inverse);
  fill: var(--color-success01);
}

.input-error,
.input-error:hover,
.input-error.hover {
  border-color: var(--color-error01);
  background: var(--color-error-inverse);
  fill: var(--color-error01);
}

.input-warning,
.input-warning:hover,
.input-warning.hover {
  border-color: var(--color-warning01);
  background: var(--color-warning-inverse);
  fill: var(--color-warning01);
}

/* READONLY */
input[readonly],
.readonly {
  border-color: var(--color-disabled01);
  fill: var(--color-disabled01);
  pointer-events: none;
}

/* DISABLED */
input:disabled,
.disabled,
.filled:disabled {
  border-color: var(--color-disabled01);
  box-shadow: none;
  color: var(--color-disabled02);
  fill: var(--color-disabled01);
  pointer-events: none;
}

/* PLACEHOLDER */
input::placeholder,
textarea::placeholder {
  color: var(--color-text05);
}

::-webkit-textarea-placeholder {
  color: var(--color-text05);
}

:-ms-textarea-placeholder {
  color: var(--color-text05);
}

::placeholder {
  color: var(--color-text05);
}

.text-wrapper > div {
  position: relative;
  z-index: 1;
  fill: var(--color-icon02);
}

.text-wrapper > div > input {
  width: 100%;
  height: calc(var(--space-unit) * 5.5);
  box-sizing: border-box;
  padding: 0 calc(var(--space-unit) * 4.5) 0 calc(var(--space-unit) * 1.5);
  margin: 0;
}

.text-wrapper > div > input.has-icon,
.text-wrapper > div > input.has-clear-icon {
  padding-right: calc(var(--space-unit) * 4);
}

.text-wrapper > div > input.has-icon.has-clear-icon {
  padding-right: calc(var(--space-unit) * 7);
}

.text-wrapper .icons-wrapper {
  position: absolute;
  z-index: 2;
  right: calc(var(--space-unit) * 1.5);
  bottom: calc(var(--space-unit) * 1.5);
  display: flex;
}

.text-wrapper .icons-wrapper > z-icon {
  --z-icon-width: 18px;
  --z-icon-height: 18px;

  display: block;
  margin-left: calc(var(--space-unit) * 0.5);
}

.text-wrapper .icons-wrapper > z-icon.reset-icon,
.text-wrapper .icons-wrapper > z-icon.toggle-password-icon {
  cursor: pointer;
}

/* Disable background color webkit */
.text-wrapper > div > input:-webkit-autofill,
.text-wrapper > div > input:-webkit-autofill:hover,
.text-wrapper > div > input:-webkit-autofill:focus,
.text-wrapper > div > input:-webkit-autofill:active {
  background-clip: text !important;
}

.textarea-wrapper {
  padding: calc(var(--space-unit) * 1.5);

  /* Firefox scrollbar */
  scrollbar-color: var(--color-primary01) transparent;
}

textarea::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(to right, transparent 0 3px, var(--gray200) 3px 7px, transparent 7px 10px);
  border-radius: var(--border-radius);
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--color-primary01);
  border-radius: var(--border-radius);
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hover-primary);
}

textarea {
  width: 100%;
  min-height: 132px;
  padding: 0;
  border: none;
  margin: 0;
  resize: none;
}

.radio-wrapper,
.checkbox-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text01);
  fill: var(--color-primary01);
  font-family: var(--font-family-sans);
}

.radio-wrapper:hover,
.checkbox-wrapper:hover {
  color: var(--color-hover-primary);
  fill: currentcolor;
}

.radio-wrapper > input,
.checkbox-wrapper > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.radio-wrapper .radio-label,
.checkbox-wrapper .checkbox-label {
  display: inline-flex;
  align-items: center;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
  text-transform: inherit;
}

.radio-wrapper input:not(:disabled) + .radio-label,
.checkbox-wrapper input:not(:disabled) + .checkbox-label {
  cursor: pointer;
}

.radio-wrapper .radio-label z-icon,
.checkbox-wrapper .checkbox-label z-icon {
  cursor: pointer;
  fill: inherit;
}

.radio-wrapper .radio-label.after,
.checkbox-wrapper .checkbox-label.after {
  flex-direction: row;
}

.radio-wrapper .radio-label.before,
.checkbox-wrapper .checkbox-label.before {
  flex-direction: row-reverse;
}

.radio-wrapper .radio-label.after > span,
.checkbox-wrapper .checkbox-label.after > span {
  margin-left: var(--space-unit);
}

.radio-wrapper .radio-label.before > span,
.checkbox-wrapper .checkbox-label.before > span {
  margin-right: var(--space-unit);
}

/* focus */
.radio-wrapper > input:focus:focus-visible + .radio-label > z-icon,
.checkbox-wrapper > input:focus:focus-visible + .checkbox-label > z-icon {
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-focus-primary);
}

/* disabled */
.radio-wrapper > input:disabled + .radio-label,
.checkbox-wrapper > input:disabled + .checkbox-label {
  color: var(--color-disabled02);
}

.radio-wrapper > input:disabled + .radio-label > z-icon,
.checkbox-wrapper > input:disabled + .checkbox-label > z-icon {
  cursor: default;
  fill: var(--color-disabled01);
}

