z-registro-table {
  overflow-x: auto;
  display: block;
  width: 100%;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

z-registro-table > div.table {
  display: table;
  width: 100%;
  border-collapse: separate;
}

z-registro-table
  > div.table-bordered
  > z-registro-table-body
  > z-registro-table-row
  > z-registro-table-cell:not(:last-child),
z-registro-table
  > div.table-bordered
  > z-registro-table-head
  > z-registro-table-header-row
  > z-registro-table-header:not(:last-child) {
  border-right: var(--border-size-small) solid var(--bg-grey-200);
}

/** Remove border right to first cell if row is expandable */
z-registro-table
  > div
  > z-registro-table-body
  > z-registro-table-row[expandable]
  > z-registro-table-cell:first-child,
z-registro-table
  > div
  > z-registro-table-head
  > z-registro-table-header-row[expandable]
  > z-registro-table-header:first-child {
  border-right: none;
}

z-registro-table
  > div
  > z-registro-table-body
  > z-registro-table-row[expanded]
  > z-registro-table-cell {
  background-color: var(--gray50);
}

z-registro-table
  > div
  > z-registro-table-body
  > z-registro-table-row[expanded]
  + z-registro-table-expanded-row {
  border-bottom: 1px solid var(--gray200);
}

z-registro-table
  > div.table-column-sticky
  > z-registro-table-body
  > z-registro-table-row
  > z-registro-table-cell:first-child,
z-registro-table
  > div.table-column-sticky
  > z-registro-table-head
  > z-registro-table-header-row
  > z-registro-table-header:first-child {
  position: sticky;
  left: 0;
  box-shadow: 1px 0 4px -1px rgba(66, 69, 72, 0.4);
  z-index: 1;
}

z-registro-table
  > div.table-header-sticky
  > z-registro-table-head
  > z-registro-table-header-row
  > z-registro-table-header {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 3px -3px rgba(66, 69, 72, 0.4);
}

/**
 * L'ombra delle celle sticky non va sopra all'header fisso.
 */
z-registro-table
  > div.table-header-sticky
  > z-registro-table-head
  > z-registro-table-header-row
  > z-registro-table-header {
  z-index: 2;
}

/**
 * La cella in alto a sinistra rimane sempre sopra alle cell durante lo scroll.
 */
z-registro-table
  > div.table-header-sticky
  > z-registro-table-head
  > z-registro-table-header-row
  > z-registro-table-header:first-child,
z-registro-table
  > div.table-column-sticky
  > z-registro-table-head
  > z-registro-table-header-row
  > z-registro-table-header:first-child {
  z-index: 5;
}

z-registro-table-empty-box.bordered {
  border-left: var(--border-size-small) solid var(--bg-grey-200);
}

z-registro-table-body {
  width: auto;
}

z-registro-table-empty-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.error-message {
  margin-top: calc(var(--space-unit) * 2);
}

.table-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.error-content {
  font-family: var(--dashboard-font);
  padding: calc(var(--space-unit) * 3);
  display: flex;
}

.error-image {
  width: 244px;
  height: 188px;
  margin-right: calc(var(--space-unit) * 3);
}

/* Mobile */
@media only screen and (max-width: 768px) {
  z-registro-table > div.table-empty {
    display: none;
  }
  .error-content {
    display: flex;
    flex-direction: column;
  }
  .error-image {
    width: auto;
    height: auto;
  }
  .text {
    padding: calc(var(--space-unit) * 3) 0;
  }
}
