:host {
  max-width: 100%;
  overflow-x: auto;
  display: block;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host > div.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
