:host {
  display: block;
  padding: calc(var(--space-unit)) calc(var(--space-unit) * 3) calc(var(--space-unit) * 3) calc(var(--space-unit) * 3);
  background-color: var(--bg-white);
}

::slotted(*) {
  margin-top: var(--space-unit);
}

.cta {
  display: flex;
  flex-direction: row;
  margin-top: calc(var(--space-unit) / 2);
}

.cta.has-2-cta {
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  :host {
    padding: calc(var(--space-unit) * 3) calc(var(--space-unit) * 7) calc(var(--space-unit) * 3)
      calc(var(--space-unit) * 7);
  }

  ::slotted(*) {
    margin-right: calc(var(--space-unit) * 2);
  }

  .cta {
    margin-top: var(--space-unit);
  }

  .cta.has-2-cta {
    flex-direction: row;
  }
}
