/* The width of the card must be set by its container,
respecting the grid indications of the design. */
:host {
  /* Override this var to change the cover's aspect ratio */
  --aspect-ratio: 1.62;
  --z-card-cover--border-color: var(--gray200);
  --z-card-cover--color-cover-background: var(--color-surface02);

  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host(:not([overlay])) .cover-container {
  position: relative;
  width: 100%;
  margin-bottom: var(--space-unit);
}

/* Old good trick with percentage padding to keep the aspect ratio.
Unfortunately the `aspect-ratio` property is still experimental */
.cover-container {
  padding-bottom: calc(100% / var(--aspect-ratio));
}

::slotted([slot='cover']),
.color-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cover-container > z-icon {
  --z-icon-width: calc(var(--space-unit) * 11);
  --z-icon-height: var(--z-icon-width);

  position: absolute;
  top: calc(50% - calc(var(--z-icon-height) / 2));
  left: calc(50% - calc(var(--z-icon-width) / 2));
  fill: var(--color-primary01);
}

.color-cover {
  background-color: var(--z-card-cover--color-cover-background);
}

.content {
  display: flex;
  flex-direction: column;
}

.color-cover .content {
  padding: var(--space-unit);
}

::slotted([slot='title']) {
  margin: 0;
}

::slotted([slot='metadata']:not(:last-child)) {
  margin: 0 0 calc(var(--space-unit) * 0.25);
  text-transform: uppercase;
}

::slotted([slot='text']),
::slotted([slot='actions']) {
  margin: 0;
}

* + ::slotted([slot='text']),
* + ::slotted([slot='actions']) {
  margin-top: var(--space-unit);
}

.actions {
  display: flex;
  flex-direction: row;
  margin: var(--space-unit) 0 0;
}

::slotted([slot='action']:not(:last-child)) {
  margin-right: calc(var(--space-unit) * 1.5);
}

/* Shadowed */
:host([shadowed]) {
  box-shadow: var(--shadow-2);
}

:host([shadowed]) > .content {
  padding: 0 var(--space-unit) calc(var(--space-unit) * 2);
}

/* :host([shadowed][clickable]:hover) {
  box-shadow: var(--shadow-4);
}

:host([shadowed][clickable]:focus:focus-visible) {
  box-shadow: var(--shadow-4);
}

:host([shadowed][clickable]:active) {
  box-shadow: none;
} */

/* Overlay */
:host([overlay]) .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-end;
  padding: var(--space-unit);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: var(--color-text-inverse);
  fill: var(--color-text-inverse);
}
