:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host > div {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: space-between;
  color: var(--text-grey-800);
  border-radius: var(--half-x1);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  padding: var(--basex3) var(--basex2);
}

:host > div > div > h2 {
  height: var(--half-x7);
  margin: 0;
  padding: 0;
  color: rgb(75, 78, 82);
  border-radius: 0px;
  font-size: 18px;
  font-weight: var(--font-sb);
  letter-spacing: 0px;
  line-height: 22px;
  border-bottom: var(--border-base) solid rgb(75, 78, 82);
}

:host > div > div > div {
  padding: var(--basex3) 0;
  font-size: 14px;
  letter-spacing: 0.16px;
  line-height: 20px;
}

:host > div > div > div > ::slotted(*) {
  margin: 0;
}

:host > div > ::slotted(*) {
  margin: 0;
  width: 100%;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {

  :host > div {
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
  }

  :host > div > div {
    margin-right: 20%;
  }

  :host > div > div > h2 {
    height: var(--half-x7);
  }

  :host > div > div > div {
    padding-bottom: 0;
    padding-top: var(--basex2);
  }

  :host > div > ::slotted(*) {
    margin: 0;
    width: initial;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
