li {
  list-style-type: none;
  color: var(--myz-blue);
  font-family: Proxima Nova Lt;
  font-size: 16px;
  font-weight: normal;
  height: 14px;
  letter-spacing: 0.23px;
  line-height: 14px;
  list-style-type: none;
  --padding: 8px 8px 8px 8px;
  margin: 8px 0px 0px 0px;
}

li > span {
  line-height: 1;
  font-weight: 600;
  border-bottom: 2px solid var(--bg-artboard-gray-light);
  height: 2px;
  padding: 8px 8px 8px 8px;
  margin: 8px;
}

li > span {
  color: var(--text-my-zanichelli-blue);
}
