:host {
  position: relative;
  display: flex;
  min-width: 128px;
  box-sizing: border-box;
  align-items: center;
  padding: var(--z-table--cells-padding, calc(var(--space-unit) * 2));
  background-color: var(--color-surface01);
  gap: calc(var(--space-unit) * 2) var(--space-unit);
}

:host([sticky]) {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 8px 0 16px -8px var(--shadow-color-base);
}

/* Leave the space for the menu button */
:host([show-menu])::after {
  display: inline-block;
  height: 100%;
  margin-right: calc(var(--space-unit) * 4);
  background: transparent;
  content: "";
  user-select: none;
}

.cell--menu-container {
  position: absolute;
  z-index: 1;
  top: var(--space-unit);
  right: var(--space-unit);
}

:host(:not([show-menu])) .cell--menu-container {
  opacity: 0;
  pointer-events: none;
}

:host(:is([show-menu], [menu-open])) .cell--menu-container,
:host([show-menu]) .cell--menu-container:focus-within {
  opacity: 1;
  pointer-events: all;
}

:host .cell-popover {
  z-index: 100;
}

@media (min-width: 768px) and (hover: hover) {
  :host([show-menu="hover"]) .cell--menu-container {
    opacity: 0;
    pointer-events: none;
  }

  :host([show-menu="hover"]:hover) .cell--menu-container {
    opacity: 1;
    pointer-events: all;
  }
}

