:host {
  font-family: var(--dashboard-font);
  background-color: var(--gray50);
  display: none;
}

:host > td > div.content-container {
  padding: 0 calc(var(--space-unit) * 2) 0 calc(var(--space-unit) * 7);
}

:host > td > div.content-container > div.inner-content {
  padding: calc(var(--space-unit) * 2) 0 calc(var(--space-unit) * 2) 0;
  border-top: 1px solid var(--gray200);
}
