button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  background: var(--bg-grey-900);
  border: none;
  padding: 0 var(--space-unit) 0 0;
  letter-spacing: 0.16px;
}

button div.firstline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 200px;
}

button.open div.firstline {
  max-width: none;
}

button > div > div > z-icon {
  padding: 0 2px;
  fill: var(--text-white);
}

button > div > div > div {
  padding: 0 6px;
  color: var(--text-white);
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}

button.light {
  background: var(--bg-white);
}

button.light > div > div > z-icon {
  fill: var(--bg-grey-900);
}

button.light > div > div > div {
  color: var(--text-grey-800);
}

ul {
  position: absolute;
  left: 0;
  padding: var(--space-unit) calc(var(--space-unit) * 2) 0 calc(var(--space-unit) * 2);
  width: 100%;
  margin: var(--space-unit) 0 0 0;
  background: var(--bg-grey-900);
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

ul.light {
  background: var(--bg-white);
}

ul > li {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-unit) 0 calc(var(--space-unit) * 2) 0;
  margin: 0 calc(var(--space-unit) * 4) var(--space-unit) 0;
  border-bottom: var(--border-base) solid var(--bg-grey-700);
}

ul > li:first-child {
  border-top: none;
  padding-top: 0;
  flex-direction: column;
  align-items: end;
}

ul > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

button.guest {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  border-width: var(--border-size-medium);
  border-style: solid;
  border-radius: var(--border-radius);
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  fill: currentColor;
  height: 32px;
  min-width: 32px;
  padding: 0 calc(var(--space-unit) * 2);
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--text-grey-800);
}

div.userfullname {
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
  text-overflow: ellipsis;
  color: var(--text-white);
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.useremail {
  color: var(--text-white);
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.32px;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host {
    height: calc(var(--space-unit) * 4);
  }

  :host > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  :host > div.open {
    top: auto;
    transform: none;
  }

  :host > div > div {
    padding: 0;
  }

  :host > div > div.open {
    position: absolute;
    right: calc(var(--space-unit) * -1);
    box-shadow: 0px 2px calc(var(--space-unit) * .5) 0px rgba(0, 0, 0, 0.5);
    background: var(--bg-white);
    border-radius: calc(var(--space-unit) * .5);
    padding: var(--space-unit) var(--space-unit) 0 var(--space-unit);
    transform: translate(0, -4px);
  }

  button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: end;
    align-content: center;
  }

  button.open {
    background-color: var(--bg-white);
    border-top: var(--border-size-small) solid var(--bg-white);
    border-top-left-radius: calc(var(--space-unit) * .5);
    border-top-right-radius: calc(var(--space-unit) * .5);
    max-width: initial;
    margin-left: var(--space-unit);
    padding-bottom: calc(var(--space-unit) * 2);
  }

  button.open > div > div > z-icon {
    fill: var(--text-grey-800);
  }

  div.userfullname {
    font-family: var(--dashboard-font);
    font-weight: var(--font-sb);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.16px;
  }

  button.open div.userfullname {
    color: var(--text-grey-800);
    max-width: none;
    text-overflow: clip;
  }

  button.open div.useremail {
    color: var(--text-grey-800);
  }

  ul {
    position: initial;
    left: initial;
    padding: 0;
    margin-top: 0;
    width: 100%;
    background-color: var(--bg-white);
    border-bottom: var(--border-size-small) solid var(--bg-white);
    border-bottom-left-radius: var(--border-radius-base);
    border-bottom-right-radius: var(--border-radius-base);
  }

  ul > li {
    color: var(--text-grey-800);
    border-bottom: var(--border-base) solid var(--gray400);
    margin: 0 var(--space-unit);
    padding-top: calc(var(--space-unit) * 2 - 2px);
  }

  ul > li:first-child {
    border-top: var(--border-base) solid var(--gray400);
    padding-top: calc(var(--space-unit) * 2 - 2px);
  }

  .useremail {
    margin-right: calc(var(--space-unit) * 3 + 2px);
    text-align: end;
  }

}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
