:host {
  --cover-hero-height: auto;
  --cover-hero-overlay: none;
  --cover-hero-text-color: var(--color-text-inverse);

  display: block;
}

:host,
* {
  box-sizing: border-box;
}

:host .content-hero {
  position: relative;
  align-items: baseline;
  width: 100%;
  height: var(--cover-hero-height);
  min-height: calc(var(--space-unit) * 30);
  background-color: var(--gray600);
}

:host .content-container {
  color: var(--cover-hero-text-color);
  fill: var(--cover-hero-text-color);
}

/* Container of the slotted cover */
:host .content-hero .cover {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

::slotted([slot="cover"]) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

::slotted(z-info-reveal) {
  position: absolute;
  bottom: var(--grid-margin);
  right: var(--grid-margin);
  z-index: 1;
}

/* Variant overlay */
:host([variant="overlay"]) .content-hero .cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cover-hero-overlay);
}

:host([variant="overlay"]) .content-hero .content-container {
  position: relative;
  height: 100%;
  padding: var(--grid-margin);
}

/* Variant stacked */
:host([variant="stacked"]) {
  --cover-hero-text-color: var(--color-text01);
}

:host([variant="stacked"]) .content-container ::slotted(*) {
  padding: var(--grid-margin) 0;
}
