:host {
  --cover-hero-height: auto;
  --cover-hero-overlay: none;
  --cover-hero-text-color: var(--color-text-inverse);

  display: block;
}

:host,
* {
  box-sizing: border-box;
}

:host .content-hero {
  position: relative;
  align-items: baseline;
  width: 100%;
  height: var(--cover-hero-height);
  background-color: var(--gray600);
}

:host .content-container {
  display: grid;
  color: var(--cover-hero-text-color);
  fill: var(--cover-hero-text-color);
}

/* Cover hero - div with image & z-info-reveal */
:host .content-hero .cover {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

:host .content-hero .cover img,
:host .content-hero .cover ::slotted(:not(z-info-reveal)) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  -webkit-user-drag: none;
}

:host .content-hero .cover ::slotted(z-info-reveal) {
  position: absolute;
  bottom: var(--grid-margin);
  right: var(--grid-margin);
  z-index: 1;
}

:host([variant="stacked"]),
:host([variant="overlay"]) .content-hero {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-gutter);
}

:host([variant="overlay"]) .content-hero .content-container,
:host([variant="stacked"]) .content-container,
:host([variant="stacked"]) .content-hero {
  grid-column: 1 / -1;
}

/* Variant overlay */
:host([variant="overlay"]) .content-hero .cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cover-hero-overlay);
}

:host([variant="overlay"]) .content-hero .content-container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin-right: auto;
  width: 100%;
  padding: var(--grid-margin);
  margin-bottom: calc(var(--grid-margin) * 2);
}

/* Variant stacked */
:host([variant="stacked"]) {
  --cover-hero-text-color: var(--color-text01);
}

:host([variant="stacked"]) .content-hero {
  min-height: calc(var(--space-unit) * 30);
}

:host([variant="stacked"]) .content-container {
  padding: var(--grid-margin) 0;
}
