:host {
  --cover-hero-overlay: linear-gradient(270deg, #0000 0%, #000000e6 100%);
  --cover-hero-text-color: var(--color-text-inverse);
  --cover-hero-aspect-ratio: ;

  display: block;
  overflow: hidden;
}

:host,
* {
  box-sizing: border-box;
}

:host .main-container {
  position: relative;
  width: 100%;
  align-items: baseline;
}

:host .content-container {
  color: var(--cover-hero-text-color);
  fill: var(--cover-hero-text-color);
}

:host .main-container .cover-container {
  position: relative;
  width: 100%;
  padding-top: calc(100% / (var(--cover-hero-aspect-ratio, var(--image-aspect-ratio, 16/9))));
  background-color: var(--gray600);
}

::slotted([slot="cover"]) {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  object-position: top center;
}

::slotted(z-info-reveal) {
  position: absolute;
  z-index: 1;
  right: var(--grid-margin);
  bottom: var(--grid-margin);
}

/* Variant overlay */
:host([variant="overlay"]:not([preserve-aspect-ratio=""], [preserve-aspect-ratio="true"])) .main-container {
  height: 100%;
}

:host([variant="overlay"]:not([preserve-aspect-ratio=""], [preserve-aspect-ratio="true"]))
  .main-container
  .cover-container {
  position: absolute;
  z-index: -1;
  height: 100%;
  padding: 0;
}

:host([variant="overlay"]) .main-container .cover-container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cover-hero-overlay);
  content: "";
}

:host([variant="overlay"]:is([preserve-aspect-ratio=""], [preserve-aspect-ratio="true"]))
  .main-container
  .content-container {
  position: absolute;
  inset: 0;
}

:host([variant="overlay"]) .main-container .content-container {
  height: 100%;
  padding: var(--grid-margin);
}

/* Variant stacked */
:host([variant="stacked"]) {
  --cover-hero-text-color: var(--color-default-text);
}

:host([variant="stacked"]) .content-container ::slotted(*) {
  padding: var(--grid-margin) 0;
}
