.type-scale,
.typography-classes,
.section-title-classes {
  color: var(--color-default-text);
}

.type-scale {
  display: grid;
  align-items: baseline;
  column-gap: var(--space-unit);
  grid-template-columns: max-content max-content max-content;
  text-align: left;
}

.typography-classes {
  display: flex;
  gap: calc(var(--space-unit) * 8);
}

.typography-classes > *,
.typography-classes .typography-group {
  display: flex;
  flex-direction: column;
}

.typography-classes > * {
  gap: calc(var(--space-unit) * 2);
}

.section-title-classes {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-unit) * 4);
}

.section-title-classes code {
  padding: var(--space-unit);
  color: var(--color-default-text);
}
