:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  display: block;
  width: inherit;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  overflow: hidden;
}

:host > div > div {
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -2px 4px 0px rgba(66, 69, 72, 0.4);
  margin: 4px 4px 0 4px;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
  :host > div.open {
    /* max-height: 100%; */
    max-height: calc(100vh - 16px);
  }
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
