button.container {
  min-height: var(--basex2);
  line-height: var(--basex2);

  color: var(--myz-blue);
  background-color: var(--bg-artboard-white);
  margin: var(--basex1);

  border: 1px solid var(--bg-artboard-gray-light);
  border-radius: 19.5px;

  text-align: center;

  padding: 0.19em 8px 0.19em 8px;

  -webkit-user-select: none; /*INFO: Safari 3.1+ */
  -moz-user-select: none; /*INFO: Firefox 2+ */
  -ms-user-select: none; /*INFO: IE 10+ */
  user-select: none; /*INFO: Standard syntax */

  text-transform: capitalize;
  letter-spacing: 0.17px;
  font-family: var(--dashboard-font);
  font-size: 12px;
  font-weight: var(--font-sb);

  transition: all 200ms linear;
}

button.container:focus {
  outline: 0;
}

.text-container {
  margin-left: 4px;
}

button.container:hover .text-container {
  color: var(--myz-blue-dark);
}

span.close-icon-container {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

span.close-icon-container:before,
span.close-icon-container:after {
  position: absolute;
  left: -16px;
  top: 2px;
  content: " ";
  height: 12px;
  width: 1.5px;
  margin-left: 20px;
  background-color: var(--myz-blue);
  cursor: pointer;
}
span.close-icon-container:before {
  transform: rotate(45deg);
}
span.close-icon-container:after {
  transform: rotate(-45deg);
}

button.container:hover .close-icon-container:before,
button.container:hover .close-icon-container:after {
  background-color: var(--myz-blue-dark);
}

button.container:focus .close-icon-container:before,
button.container:focus .close-icon-container:after {
  background-color: var(--bg-artboard-white);
}

button.container:focus {
  background-color: var(--myz-blue-dark);
}

button.container:focus .text-container {
  color: var(--bg-artboard-white);
}
