button.container {
  min-height: 32px;
  line-height: 32px;

  border: var(--border-size-small) solid var(--bg-artboard-gray-light);
  border-radius: 19.5px;

  text-align: center;

  padding: 0 var(--basex2);

  -webkit-user-select: none;
  /*INFO: Safari 3.1+ */
  -moz-user-select: none;
  /*INFO: Firefox 2+ */
  -ms-user-select: none;
  /*INFO: IE 10+ */
  user-select: none;
  /*INFO: Standard syntax */

  letter-spacing: 0.17px;
  font-family: var(--dashboard-font);
  font-size: 12px;
  font-weight: var(--font-sb);

  opacity: 100%;

  transition: all 200ms linear;
}

button.container:focus {
  outline: 0;
}

button.container::-moz-focus-inner {
  border: 0;
}

.text-container {
  margin-left: 4px;
}

button.container,
button.container:focus,
button.container:hover {
  background-color: var(--bg-artboard-white);
  color: var(--text-gray-medium);
  fill: var(--text-gray-medium);
}

button.container.isactive {
  background-color: var(--bg-artboard-white);
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

button.container.isactive:hover {
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
}

button.container.isactive:focus {
  background-color: var(--myz-blue-dark);
  border-color: var(--myz-blue-dark);
  box-shadow: 0px 0px 4px 0px var(--text-gray-dark);
  color: var(--bg-artboard-white);
  fill: var(--bg-artboard-white);
}

button.container.isactive z-icon.close-icon-container {
  cursor: pointer;
}
