.notification-container {
  display: flex;
  align-items: center;
}

.banner-notification-demo z-notification {
  --z-notification--top-offset: calc(var(--space-unit) * 6);
}

.inline-notification-demo {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid var(--gray300);
}

.inline-notification-demo z-notification {
  position: absolute;
  top: 0;
  left: 0;
}

.inline-notification-demo .content {
  padding: var(--grid-margin);
}

.inline-notification-demo .content h2 {
  margin-top: 0;
}
