:host {
  margin-right: var(--z-icon-right-margin, 0);
  margin-left: var(--z-icon-left-margin, 0);
  line-height: 0;
  vertical-align: middle;
}

.icon-wrapper {
  position: relative;
  z-index: 0;
  display: block;
}

svg:not([width]) {
  width: var(--z-icon-width, 1.125rem);
}

svg:not([height]) {
  height: var(--z-icon-height, 1.125rem);
}

svg.color-indicator {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}
