ul {
  font-size: 14px;
  font-family: var(--proxima-nova);
  color: rgb(0, 86, 193);
  font-weight: bold;
  margin: 0px;
  padding: 8px 12px;
  overflow: hidden;
  list-style: none;
  width: 269px;
  height: 128px;
  letter-spacing: 0.17px;
  line-height: 24px;
}

ul > li > a {
  text-decoration: none;
  color: var(--text-my-zanichelli-blue);
}

ul > li > span {
  text-decoration: none;
  color: var(--text-gray-medium);
  padding: 8px;
}