:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 12px;
  height: 32px;
  width: inherit;
  letter-spacing: 0.17px;
  line-height: 14px;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

:host>div {
  background: var(--bg-artboard-gray);
  color: var(--text-gray-dark);
  border-radius: var(--radius-base);
  border: 1px solid transparent;
  width: 147px;
  outline: none;
}

:host>div::-moz-focus-inner {
  border: 0;
}

:host>div:hover,
:host>div.menu-opened:hover {
  color: var(--myz-blue-dark);
}

:host>div:focus {
  color: var(--myz-blue);
  border: 1px solid var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--myz-blue-light);
}

:host>div:active {
  color: #1973e1;
  border: 1px solid #1973e1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 147px; */
  height: 32px;
  position: relative;
}

.menu-opened {
  padding-bottom: var(--basex2);
  width: auto !important;
  min-width: 147px;
  position: inherit;
}

.menu-opened a,
.menu-opened a:active,
.menu-opened a:visited {
  color: var(--myz-blue);
}

.menu-opened a:hover {
  color: var(--myz-blue-dark);
}

div>img,
div>z-icon {
  width: 14px;
  height: 14px;
  padding-left: var(--half-x3);
}

div>span.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--basex1);
  padding-right: var(--basex1);
}

span.arrow>z-icon {
  transform: rotate(360deg);
  transition: all 200ms linear;
}

.menu-opened span.arrow>z-icon {
  transform: rotate(180deg);
  transition: all 200ms linear;
}

div>span.user {
  padding-left: var(--half-x1);
  /* width: 96px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-inline-start: var(--basex4);
  margin: 0px;
}

li {
  height: 32px;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  :host {
    width: inherit;
  }

  :host>div {
    width: 88px;
  }

  .container {
    width: 88px;
  }

  div>span.user {
    width: 37px;
  }

  /* div.menu-opened {
    margin-left: -59px;
    width: 147px;
  } */

  div.menu-opened .container {
    width: auto;
  }

  div.menu-opened span.user {
    width: auto;
  }
}
