:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 12px;
  height: 32px;
  width: 147px;
  letter-spacing: 0.17px;
  line-height: 14px;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration:none;
}

:host > div {
  background: var(--bg-artboard-gray);
  color: var(--text-gray-dark);
  border-radius: 4px;
  width:147px;
  cursor: pointer;
}

:host > div:hover, :host > div.menuOpened:hover {
  color: var(--myz-blue-dark);
}

:host > div:focus, :host > div.menuOpened {
  color: var(--myz-blue);
  border: 1px solid var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--myz-blue-light);
}

:host > div:active {
  color: #1973e1;
  border: 1px solid #1973e1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.menuOpened{
  padding-bottom: var(--basex2)
}

.menuOpened a, .menuOpened a:active, .menuOpened a:visited {
  color: var(--myz-blue);
}
.menuOpened a:hover {
  color: var(--myz-blue-dark);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 147px;
  height: 32px;
  position: relative;
}

div > img {
  width: 14px;
  height: 14px;
  padding-left: var(--half-x3);
}

div > span.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--basex1);
  padding-right: var(--basex1);
}

div > span.arrow > img{
  height: 7px;
  width: 10px;
}

div > span.user{
  padding-left: var(--half-x1);
  width:96px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-inline-start: var(--basex4);
  margin: 0px;
}

li {
    height: 32px;
    display: flex;
    align-items: center;
}


@media (max-width: 1024px) {
  :host {
    width: 88px;
  }

  :host > div {
    width: 88px;
  }

  .container {
    width: 88px;
  }

  div > span.user{
    width: 37px;
  }

  div.menuOpened {
    margin-left: -59px;
    width: 147px;
  }

  div.menuOpened .container {
    width: 147px;
  }

  div.menuOpened span.user{
    width: 96px;
  }
}
