label {
  display: block;
  margin: var(--space-unit) 0;
  color: var(--color-text02);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-1);
  font-weight: var(--font-sb);
  letter-spacing: 0.32px;
  line-height: 1.33;
  text-align: left;
  text-transform: uppercase;
}

label.disabled {
  color: var(--color-disabled02);
}
