:host li {
  all: unset;
  all: reset;
  width: 100%;
}

:host li {
  line-height: 14px;
  list-style-type: none;
}

:host li > span {
  display: flex;
  padding: calc(var(--space-unit) * 2) 0;
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-size: 16px;
  font-weight: var(--font-rg);
  letter-spacing: 0.23px;
  line-height: 14px;
}

:host li > span.border {
  border-bottom: 2px solid var(--bg-grey-200);
}

:host li span:hover,
a:hover {
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

a,
a:visited,
a:active {
  color: inherit;
  fill: inherit;
  text-decoration: none;
}

:host li span z-icon {
  width: calc(var(--space-unit) * 2);
  height: calc(var(--space-unit) * 2);
  padding: 0 calc(var(--space-unit) * 1.5) 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--myz-blue);
  fill: var(--myz-blue);
}
