:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > ::slotted(z-list-element) {
  box-sizing: border-box;
}

:host([size="small"]) > ::slotted(z-list-element) {
  padding: calc(var(--space-unit) / 2) 0;
  min-height: calc(var(--space-unit) * 4);
}

:host([size="medium"]) > ::slotted(z-list-element) {
  padding: var(--space-unit) 0;
  min-height: calc(var(--space-unit) * 5);
}

:host([size="large"]) > ::slotted(z-list-element) {
  padding: calc(var(--space-unit) * 2) 0;
  min-height: calc(var(--space-unit) * 7);
}

:host([size="x-large"]) > ::slotted(z-list-element) {
  padding: calc(var(--space-unit) * 3) 0;
  min-height: calc(var(--space-unit) * 9);
}
