:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > .z-list-group-header-container {
  padding-top: var(--space-unit);
  padding-bottom: var(--space-unit);

  color: var(--gray700);

  font-size: var(--font-size-2);
  font-weight: var(--font-rg);
  line-height: 1.4;
  letter-spacing: 0.16px;
}

:host > .z-list-group-header-container > z-divider {
  margin-top: var(--space-unit);
}
