:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

.popover-content-container {
  min-width: 112px;
  max-width: 280px;
  white-space: nowrap;
}

.element-container {
  display: flex;
}

.icon-container {
  padding-right: 8px;
}

.text-container {
  display: flex;
  align-items: center;
}

:host(:focus-within) > z-popover {
  box-shadow: var(--shadow-focus-primary);
}

:host(:focus-within) {
  outline: none;
}
