:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host(:focus-within) > z-popover {
  box-shadow: var(--shadow-focus-primary);
}

:host(:focus-within) {
  outline: none;
}

.popover-content-container {
  min-width: 112px;
  max-width: 280px;
  white-space: nowrap;
}

.sc-z-popover,
.sc-z-popover-s {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--space-unit) * 0.2);
}

.element-container,
.disabled-element-container {
  display: flex;
  padding: 0 8px;
  align-items: center;
  gap: 8px;
}

.element-container:hover {
  color: var(--myz-blue-dark);
}

.element-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
