:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > main {
  overflow: auto;
  border-right: var(--border-size-small) solid var(--color-surface03);
  border-left: var(--border-size-small) solid var(--color-surface03);
  background: var(--color-surface01);
  scrollbar-width: none;
}

:host > main.preview {
  max-height: 225px;
  transition:
    all 200ms ease-in-out,
    top 200ms ease-in-out;
}

:host > main.open {
  max-height: calc(100vh - 48px);
  transition:
    all 200ms ease-in-out,
    top 200ms ease-in-out;
}

:host > main.closed {
  height: 0;
  transition:
    all 200ms ease-in-out,
    top 200ms ease-in-out;
}

:host ::-webkit-scrollbar {
  width: 0;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host > main.preview {
    max-height: 157px;
  }
}
