:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

.panel-elem-icon {
  margin-left: 36px;
  margin-right: 36px;
}

.panel-elem-icon img {
  object-fit: contain;
  width: 120px;
  height: 56px;
  margin: auto;
}

.panel-elem-link {
  background: var(--bg-artboard-gray);
  border-radius: var(--radius-min);
  margin: 16px 36px;
  text-align: center;
}

.panel-elem-desc {
  letter-spacing: 0.16px;
  text-align: center;
  margin: 0;
}
