:host > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

:host > div > div {
  width: 300px;
  margin: 5px;
}

:host > div > div > label {
  margin: 0 10px;
}
