footer {
  display: grid;
  grid-template-rows: 450px 112px;
  width: 100vw;
  margin-right: 10px;
  height: 562px;
  font-family: var(--dashboard-font);
}

footer > section {
  display: grid;
  height: 100%;
  padding: 0 36px;
}

footer > section.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
  background-color: var(--text-gray-dark);
}

footer > section.bottom {
  display: grid;
  width: auto;
  height: 400px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr) 100px;
  background-color: var(--text-gray-dark2);

}

footer > section.bottom > div.item {
  display: grid;
  width: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  grid-column: span 1;
  margin: 2px;
}

/*
footer > section.bottom {
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-gray-dark2);
}
*/


/*
.container {
  display: grid;
  width: auto;
  height: 400px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr) 100px;
}
 .item {
  display: grid;
  width: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  grid-column: span 1;
  margin: 2px;
} */

footer > section.top > .column > nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 32px 0 0 0;
  grid-row: 1;
}

footer > section.top > .column > nav > h2 {
  width: 138px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #f7f7f7;
  border-bottom: 2px solid #666;
  padding: 0 0 8px;
  margin: 0;
}

footer > section.top > .column > nav > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

footer > section.top > .column > nav > ul > li > a {
  color: var(--text-my-zanichelli-white);
  letter-spacing: 0.2px;
  padding: 10px 0;
  text-decoration: underline;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
}

footer > section.bottom a > img {
  width: 236px;
}

footer > section.bottom > div {
  margin: 0;
  color: var(--text-my-zanichelli-white);
  font-size: 12px;
}
