:host {
  width: 100%;
}

footer {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
  width: auto;
  height: auto;
  font-family: var(--dashboard-font);
  font-size: 13px;
}

footer > section {
  display: grid;
  width: auto;
  height: auto;
}

footer > section.top {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 18px;
  height: 100%;
  background-color: var(--text-gray-dark);
}

footer > section.top > nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 4fr;
  margin: 0;
  padding: 32px 0 0 0;
}

footer > section.top > nav > div > h2 {
  width: auto;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #f7f7f7;
  border-bottom: 2px solid #666;
  padding: 0 0 8px;
  margin: 0;
}

footer > section.top > nav > div > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

footer > section.top > nav > div > ul > li > a {
  color: var(--text-my-zanichelli-white);
  letter-spacing: 0.2px;
  padding: 10px 0;
  text-decoration: underline;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
}

footer > section.bottom {
  display: grid;
  width: auto;
  height: 180px;
  margin: 0;
  padding: 0;
  grid-template-columns: 25% 28% auto;
  background-color: var(--text-gray-dark2);
  white-space: pre-line;
  font-size: 12px;
}

footer > section.bottom > div.item {
  display: grid;
  width: auto;
  margin: 32px;
  height: 72px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: span 1;
  color: var(--text-my-zanichelli-white);
}

footer > section.bottom > div.item > ul.social {
  display: flex;
  width: auto;
  padding: 0;
}

footer > section.bottom > div.item > ul.social img {
  width: 14px;
}

footer > section.bottom > div.bottom-links > ul {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  height: 54px;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

footer > section.bottom div.logo a > img {
  width: 236px;
}

footer > section.bottom > div.item small {
  font-size: 10px;
}

footer > section.bottom > div.item ul li {
  list-style: none;
  height: 24px;
  width: auto;
}

footer > section.bottom > div.item ul li a {
  color: var(--text-my-zanichelli-white);
}

@media (max-width: 1024px) {
  footer > section.top {
    height: 100%;
    grid-template-columns: 1fr;
    padding-top: 4px;
  }

  footer > section.top > nav {
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 1fr;
    grid-column-gap: 18px;
    padding: 4px;
    margin: 8px 18px;
    min-height: 50px;
    border-bottom: 2px solid #666;
  }

  footer > section.top > nav:last-child {
    border-bottom: none;
  }

  footer > section.top > nav > .header {
    line-height: 1;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
  }

  footer > section.top > nav > .header > h2 {
    border: none;
  }

  footer > section.top > nav > .content > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    border-bottom: none;
  }

  footer > section.top > nav > .content > ul > li {
    height: 32px;
    width: 223px;
    margin: 0 4px;
  }
}


@media (max-width: 360px) {

  footer {
    width: 100%;
  }

  footer > section.top,
  footer > section.bottom {
    width: 360px;
  }

  footer > section.top > nav {
    display: flex;
    flex-direction: column;
    margin: 4px;
    overflow: hidden;
  }

  footer > section.top > nav > .header {
    height: 32px;
  }

  footer > section.top > nav > .content > ul {
    display: none;
    height: 0;
    transition: 0.3s ease;
  }

  footer > section.top > nav > .content > ul > li {
    width: 100%
  }

  footer > section.top > nav > .content > ul.show {
    display: block;
    height: 100px;
    transition: 0.3s ease;
  }
}
