/* Styles for stacked z-accordions */

z-accordion + z-accordion {
  border-top: none;
}

/* all z-accordions with some sibling z-accordion */
z-accordion[variant="background"]:not(:first-of-type, :last-of-type),
z-accordion[variant="background"]:not(:first-of-type, :last-of-type)::part(summary),
z-accordion[variant="background"]:not(:first-of-type, :last-of-type)::part(content),
z-accordion[variant="background"]:not(:first-of-type, :last-of-type)::part(summary)::before,
z-accordion[variant="background"]:not(:first-of-type, :last-of-type)::part(content)::before {
  border-radius: 0;
}

/* first z-accordion with some sibling z-accordion */
z-accordion[variant="background"]:first-of-type:not(:only-of-type),
z-accordion[variant="background"]:first-of-type:not(:only-of-type)::part(summary),
z-accordion[variant="background"]:first-of-type:not(:only-of-type)::part(content),
z-accordion[variant="background"][highlight]:first-of-type:not(:only-of-type)::part(summary)::before,
z-accordion[variant="background"][highlight]:first-of-type:not(:only-of-type)::part(content)::before {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* last z-accordion with some sibling z-accordion */
z-accordion[variant="background"]:last-of-type:not(:only-of-type),
z-accordion[variant="background"]:last-of-type:not(:only-of-type)::part(summary),
z-accordion[variant="background"][highlight]:last-of-type:not(:only-of-type)::part(summary)::before,
z-accordion[variant="background"][highlight]:last-of-type:not(:only-of-type)::part(content)::before {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
