:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

button > z-icon {
  color: var(--bg-white);
  fill: currentcolor;
}

button > z-icon.light {
  color: var(--bg-grey-900);
  fill: currentcolor;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
