:host {
  color: var(--color-text01);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > .container {
  display: flex;
  flex-direction: column;
}

:host .modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .modal-wrapper > .files-wrapper {
  display: flex;
  flex-direction: column;
  margin: calc(var(--space-unit) * 4);
  gap: var(--space-unit);
}

:host .text-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

:host .text-container .body-1 {
  text-align: center;
}

:host .text-container .upload-link {
  color: var(--color-link-primary);
  cursor: pointer;
}

:host .text-container .upload-link-text {
  margin-bottom: var(--space-unit);
}

input#file-elem {
  display: none;
}

#title {
  display: inline-block;
  margin-bottom: var(--space-unit);
}

:host > .container > z-button {
  display: inline-block;
  margin-top: calc(var(--space-unit) * 3);
}

:host > .container > .files-container.hidden {
  display: none;
}

:host > .container > .files-container > .heading-4-sb {
  display: inline-block;
  margin: calc(var(--space-unit) * 3) 0;
}

:host > .container > .files-container > .files-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: calc(var(--space-unit) * 2);
  row-gap: calc(var(--space-unit) * 2);
}

:host > .container > .files-container > z-divider {
  margin-top: calc(var(--space-unit) * 3);
  margin-bottom: 0;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host > .container > z-button {
    align-self: flex-start;
  }
}
