:host {
  color: var(--color-default-text);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > .container {
  display: flex;
  flex-direction: column;
}

:host .modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--space-unit) * 2);
}

:host .modal-wrapper > .files-wrapper {
  display: flex;
  flex-direction: column;
  margin: calc(var(--space-unit) * 4);
  gap: var(--space-unit);
}

:host .text-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

:host .text-container .body-1 {
  text-align: center;
}

:host .text-container .upload-link {
  color: var(--color-text-link-blue);
  cursor: pointer;
}

:host .text-container .upload-link:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none !important;
}

:host .text-container .upload-link-text {
  margin-bottom: var(--space-unit);
}

input#file-elem {
  display: none;
}

#title {
  display: inline-block;
  margin: calc(var(--space-unit) * 2.5) 0 calc(var(--space-unit) * 4);
  font-size: calc(var(--space-unit) * 3);
  font-weight: var(--font-sb);
}

:host > .container > z-button {
  display: inline-block;
  margin-top: calc(var(--space-unit) * 3);
}

:host > .container > .files-container.hidden {
  display: none;
}

:host > .container > .files-container > .heading-4-sb {
  display: inline-block;
  margin: calc(var(--space-unit) * 3) 0;
  font-size: calc(var(--space-unit) * 2);
  font-weight: var(--font-sb);
}

:host([type="dragdrop"]) > .container > .files-container > .heading-4-sb {
  margin-top: 0;
  margin-bottom: calc(var(--space-unit) * 3);
}

:host > .container > .files-container > .files-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: calc(var(--space-unit) * 2);
  row-gap: calc(var(--space-unit) * 2);
}

:host > .container > .files-container > z-divider {
  margin-top: calc(var(--space-unit) * 3);
  margin-bottom: 0;
}

:host([type="dragdrop"]) > .container > .files-container > z-divider {
  margin: calc(var(--space-unit) * 3) 0;
}

:host .error-message {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.16%;
  line-height: 20px;
  text-align: left;
}

:host .error-message > .file-name {
  font-weight: 600;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host > .container > z-button {
    align-self: flex-start;
  }

  :host .modal-wrapper {
    padding: calc(var(--space-unit) * 3);
  }
}

@media only screen and (min-width: 1152px) {
  :host .modal-wrapper {
    padding: calc(var(--space-unit) * 4);
  }
}
