header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: auto;
  height: 40px;
  position: relative;
  border-bottom: var(--border-base) solid var(--card-border);
  border-radius: var(--radius-base) var(--radius-base) var(--radius-min) var(--radius-min);
  background-color: var(--header-background);
}

h2 {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  color: var(--text-gray-dark);
  width: 80%;
  height: var(--basex2);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  line-height: var(--basex2);
  margin: 0px;
  padding: var(--half-x3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.faded {
  border-top: var(--border-base) solid var(--card-border);
  border-right: var(--border-base) solid var(--card-border);
  border-left: var(--border-base) solid var(--card-border);
}
