:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  width: 100%;
  z-index: 2;

  display: block;
}

div.modal-alert-container {
  padding: var(--basex3) var(--basex2);
}

.success {
  background: var(--status-success-green-lighter);
}

.warning,
.error {
  border-bottom: var(--border-base) solid var(--bg-grey-200);
}

.warning {
  background: var(--status-warning-yellow-lighter);
}

.error {
  background: var(--status-error-red-lighter);
}

/* Tablet */

@media only screen and (min-width: 768px) {
  div.modal-alert-container {
    padding: var(--basex3) var(--basex3);
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  div.modal-alert-container {
    padding: var(--basex3) var(--basex4);
  }
}
