:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host > div {
  position: fixed;
  z-index: 1000;
  top: 30vh;
  display: flex;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  max-width: 297px;
  height: fit-content;
  min-height: 232px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background: var(--myz-blue-lighter);
  border-radius: calc(var(--space-unit) * 0.5);
  box-shadow: 0 -2px 4px 0 rgb(66 69 72 / 40%);
  -ms-overflow-style: none;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host > div {
    position: initial;
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    min-height: 138px;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 0;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
  :host > div {
    min-height: 122px;
  }
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
