:host {
  display: grid;
  width: fit-content;
  padding: calc(var(--space-unit) * 2);
  background: var(--color-surface01);
  gap: var(--space-unit);
  grid-auto-flow: column;
  grid-template-columns: repeat(9, calc(var(--space-unit) * 3));
  grid-template-rows: repeat(5, calc(var(--space-unit) * 3));
}

:host,
* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  appearance: none;
  background: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

button[data-color="#FFFFFF00"] {
  position: relative;
}

/* draw a diagonal line from top right corner */
button[data-color="#FFFFFF00"]::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    transparent 48%,
    var(--color-surface05) 48%,
    var(--color-surface05) 52%,
    transparent 52%
  );
  border-radius: var(--border-radius);
  content: "";
}

button[aria-selected="true"] {
  box-shadow:
    0 0 0 1px var(--color-white),
    0 0 0 3px var(--color-active-primary);
}

button:focus-visible {
  box-shadow: var(--shadow-focus-primary);
}

button .color-swatch {
  width: calc(var(--space-unit) * 3);
  height: calc(var(--space-unit) * 3);
  border: var(--border-size-small) solid var(--color-surface05);
  border-radius: var(--border-radius);
}
