@import "../css-components/z-label/styles.css";

:host {
  display: block;
  color: var(--color-form-default-text);
  fill: var(--color-form-default-icon);
  font-family: var(--font-family-sans);
}

:host > div.fixed {
  position: relative;
}

:host > div > .header {
  position: relative;
  z-index: 10;
  display: flex;
  min-height: 42px;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--space-unit) * 1.5);
  border: var(--border-size-small) solid var(--color-form-surface04);
  margin: 0;
  background-color: var(--color-form-background);
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

:host([size="small"]) > div > .header {
  min-height: 34px;
  font-size: var(--font-size-2);
}

:host([size="x-small"]) > div > .header {
  min-height: 30px;
  font-size: var(--font-size-2);
}

:host > div > .header:hover {
  outline: var(--border-size-medium) solid var(--color-form-surface04);
  outline-offset: -2px;
}

:host > div > .header:focus:focus-visible {
  z-index: 16;
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

:host > div > .header > span.body-3 > span {
  font-weight: var(--font-sb);
}

:host > div > .header > z-icon {
  fill: var(--color-form-default-icon);
  transform: rotate(360deg);
  transition: all 200ms linear;
}

:host > div > .header > z-icon.small,
:host > div > .header > z-icon.x-small {
  --z-icon-width: 16px;
  --z-icon-height: 16px;
}

:host > div.open > .header {
  border: var(--border-size-small) solid var(--color-form-active-primary);
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

:host > div.disabled {
  pointer-events: none;
}

:host > div.disabled .header {
  border-color: var(--color-form-disabled03);
  fill: var(--color-form-disabled01-icon);
}

:host > div.disabled .header > span.body-3 {
  color: var(--color-form-disabled03);
}

:host > div.disabled .header > z-icon:last-child {
  fill: var(--color-form-disabled01-icon);
}

:host > div.open > .header > z-icon {
  fill: var(--color-form-default-icon);
  transform: rotate(180deg);
  transition: all 200ms linear;
}

:host > div > div.open-combo-data {
  display: none;
}

:host > div.open > div.open-combo-data {
  position: relative;
  z-index: 12;
  display: block;
  padding: var(--space-unit) calc(var(--space-unit) * 2);
  border: var(--border-size-small) solid var(--color-form-surface03);
  border-top: 0;
  background-color: var(--color-form-background);
  border-radius: 0;
  box-shadow: var(--shadow-2);
}

:host .open .open-combo-data z-input .z-label {
  color: var(--color-form-default-text);
}

:host > div.open > div.open-combo-data > div > div {
  overflow: auto;
  max-height: 235px;
  padding: 0;
  padding-left: var(--space-unit); /* padding left and negative margin in order to enable focus */
  margin-left: calc(var(--space-unit) * -1); /* padding left and negative margin in order to enable focus */
}

:host > div.open > div.open-combo-data > z-input {
  width: 100%;
  margin-bottom: calc(var(--space-unit) * 2);
}

:host > div.open > div.open-combo-data > div > div > ul {
  max-height: 235px;
  padding: 0 calc(var(--space-unit) * 0.5); /* needed for checkbox focus shadow */
  margin: 0;
}

:host .open-combo-data z-list-element {
  --background-color-list-element: var(--color-form-background);
  --background-hover-color-list-element: var(--color-form-surface03);
  --background-active-color-list-element: var(--color-form-surface03);
}

::-webkit-scrollbar {
  width: 6px;
  background: linear-gradient(to right, transparent 0 1px, var(--gray200) 1px 5px, transparent 5px 6px);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary01);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hover-primary);
}

/* Firefox scrollbar */
@supports not selector(::-webkit-scrollbar-track) {
  :host {
    scrollbar-color: var(--color-primary01) transparent;
  }
}

:host > div.open > z-input {
  position: relative;
  z-index: 1;
  width: 238px;
  margin: 0 calc(var(--space-unit) * 2);
  color: var(--color-form-active-primary);
}

:host > div.open > div.open-combo-data > div > div.search {
  overflow: hidden;
  max-height: none;
  margin-top: 0;
}

:host > div.open > div.open-combo-data > div > div.search > ul {
  overflow: auto;
  max-height: 180px;
  padding: var(--space-unit) calc(var(--space-unit) * 2);
}

:host .open .open-combo-data .search .no-results {
  display: flex;
  align-items: center;
  column-gap: var(--space-unit);
}

:host > .open > .open-combo-data .search .close-search {
  display: flex;
  justify-content: center;
}

:host > div.open > div.open-combo-data > div > div.search .close-search > a {
  display: inline-block;
  height: 44px;
  color: var(--color-form-active-primary);
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--font-sb);
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}

:host > div.open > div.open-combo-data > div > div.search .close-search > a:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

:host > div.open > div.open-combo-data > div > div.check-all-wrapper {
  /* padding left and negative margin in order to enable focus */
  padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 0.5) calc(var(--space-unit) * 2)
    calc(var(--space-unit) * 1.5);
  border-bottom: var(--border-size-small) solid var(--gray800);
  margin-bottom: var(--space-unit);
  margin-left: calc(var(--space-unit) * -1);
  text-align: left;
}

:host([size="small"]) > div.open > div.open-combo-data > div > div.check-all-wrapper {
  padding: calc(var(--space-unit) * 1.5) calc(var(--space-unit) * 0.5);
}

:host([size="x-small"]) > div.open > div.open-combo-data > div > div.check-all-wrapper {
  padding: var(--space-unit) calc(var(--space-unit) * 0.5);
}
