:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
}

:host > div {
  padding: 16px;
}

:host > div.success {
  background: var(--status-success-green-lighter);
}

:host > div.warning {
  background: var(--status-warning-yellow-lighter);
}

:host > div.error {
  background: var(--status-error-red-lighter);
}
