::slotted(button), ::slotted(a) {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  border-width: var(--border-size-medium);
  border-style: solid;
  border-radius: var(--border-radius);
  height: 44px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px calc(var(--space-unit) * 2);
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  width: inherit;
}

::slotted(button)::-moz-focus-inner , ::slotted(a)::-moz-focus-inner {
  border: 0;
}

:host([variant="primary"]) ::slotted(button), :host([variant="primary"]) ::slotted(a) {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-white);
  fill: var(--bg-white);
}

@media (hover: hover) {
  :host([variant="primary"]) ::slotted(button:hover), :host([variant="primary"]) ::slotted(a:hover) {
    background-color: var(--myz-blue-dark);
    border-color: var(--myz-blue-dark);
    color: var(--bg-white);
    fill: var(--bg-white);
  }
}

:host([variant="primary"]) ::slotted(button:focus:focus-visible), :host([variant="primary"]) ::slotted(a:focus:focus-visible) {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-white);
  fill: var(--bg-white);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

:host([variant="primary"]) ::slotted(button:active), :host([variant="primary"]) ::slotted(a:active) {
  background-color: var(--myz-blue-light);
  border-color: var(--myz-blue-light);
  color: var(--bg-white);
  fill: var(--bg-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
:host([variant="primary"]) ::slotted(button:disabled) {
  background-color: var(--bg-neutral-200);
  border-color: var(--bg-neutral-200);
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

:host([variant="secondary"]) ::slotted(button), :host([variant="secondary"]) ::slotted(a) {
  background-color: var(--bg-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

@media (hover: hover) {
  :host([variant="secondary"]) ::slotted(button:hover), :host([variant="secondary"]) ::slotted(a:hover) {
    background-color: var(--bg-white);
    border-color: var(--myz-blue-dark);
    color: var(--myz-blue-dark);
    fill: var(--myz-blue-dark);
  }
}

:host([variant="secondary"]) ::slotted(button:focus:focus-visible), :host([variant="secondary"]) ::slotted(a:focus:focus-visible) {
  background-color: var(--bg-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

:host([variant="secondary"]) ::slotted(button:active), :host([variant="secondary"]) ::slotted(a:active) {
  background-color: var(--bg-white);
  border-color: var(--myz-blue-light);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
:host([variant="secondary"]) ::slotted(button:disabled) {
  background-color: var(--bg-white);
  border-color: var(--bg-neutral-200);
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

:host([variant="tertiary"]) ::slotted(button), :host([variant="tertiary"]) ::slotted(a) {
  background-color: transparent;
  border-color: transparent;
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

@media (hover: hover) {
  :host([variant="tertiary"]) ::slotted(button:hover), :host([variant="tertiary"]) ::slotted(a:hover) {
    background-color: transparent;
    border-color: transparent;
    color: var(--myz-blue-dark);
    fill: var(--myz-blue-dark);
  }
}

:host([variant="tertiary"]) ::slotted(button:focus:focus-visible), :host([variant="tertiary"]) ::slotted(a:focus:focus-visible) {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

:host([variant="tertiary"]) ::slotted(button:active), :host([variant="tertiary"]) ::slotted(a:active) {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
:host([variant="tertiary"]) ::slotted(button:disabled) {
  background-color: transparent;
  border-color: transparent;
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

::slotted(button) > z-icon, ::slotted(a) > z-icon {
  margin-right: calc(var(--space-unit) * 1.5);
}

::slotted(button):disabled {
  pointer-events: none;
}
