::slotted(button), ::slotted(a) {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  letter-spacing: 0.3px;
  border-width: var(--border-size-medium);
  border-style: solid;
  border-radius: var(--border-radius);
  height: 44px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px calc(var(--space-unit) * 2);
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  width: inherit;
}

::slotted(button)::-moz-focus-inner , ::slotted(a)::-moz-focus-inner {
  border: 0;
}

::slotted(button).primary, ::slotted(a).primary {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-white);
  fill: var(--bg-white);
}

::slotted(button).primary:hover, ::slotted(a).primary:hover {
  background-color: var(--myz-blue-dark);
  border-color: var(--myz-blue-dark);
  color: var(--bg-white);
  fill: var(--bg-white);
}

::slotted(button).primary:focus, ::slotted(a).primary:focus {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-white);
  fill: var(--bg-white);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

::slotted(button).primary:active, ::slotted(a).primary:active {
  background-color: var(--myz-blue-light);
  border-color: var(--myz-blue-light);
  color: var(--bg-white);
  fill: var(--bg-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
::slotted(button).primary:disabled {
  background-color: var(--bg-neutral-200);
  border-color: var(--bg-neutral-200);
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

::slotted(button).secondary, ::slotted(a).secondary {
  background-color: var(--bg-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

::slotted(button).secondary:hover, ::slotted(a).secondary:hover {
  background-color: var(--bg-white);
  border-color: var(--myz-blue-dark);
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
}

::slotted(button).secondary:focus, ::slotted(a).secondary:focus {
  background-color: var(--bg-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

::slotted(button).secondary:active, ::slotted(a).secondary:active {
  background-color: var(--bg-white);
  border-color: var(--myz-blue-light);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
::slotted(button).secondary:disabled {
  background-color: var(--bg-white);
  border-color: var(--bg-neutral-200);
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

::slotted(button).tertiary, ::slotted(a).tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

::slotted(button).tertiary:hover, ::slotted(a).tertiary:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
}

::slotted(button).tertiary:focus, ::slotted(a).tertiary:focus {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

::slotted(button).tertiary:active, ::slotted(a).tertiary:active {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* INFO: mantenere il selettore disabled per ultimo in modo che sia prioritario rispetto agli altri */
::slotted(button).tertiary:disabled {
  background-color: transparent;
  border-color: transparent;
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
}

::slotted(button) > z-icon, ::slotted(a) > z-icon {
  margin-right: calc(var(--space-unit) * 1.5);
}

::slotted(button):disabled {
  pointer-events: none;
}
