:host {
  font-family: var(--font-family-sans);

  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-transform: uppercase;
}

:host(.small),
:host(.small) > img {
  height: calc(var(--space-unit) * 3);
  width: calc(var(--space-unit) * 3);
}

:host(.medium),
:host(.medium) > img {
  height: calc(var(--space-unit) * 4);
  width: calc(var(--space-unit) * 4);
}

:host(.large),
:host(.large) > img {
  height: calc(var(--space-unit) * 5);
  width: calc(var(--space-unit) * 5);
}

:host > img {
  object-fit: cover;
}
