z-avatar {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);

  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-transform: uppercase;
}

z-avatar.small,
z-avatar.small > img {
  height: calc(var(--space-unit) * 3);
  width: calc(var(--space-unit) * 3);
}

z-avatar.medium,
z-avatar.medium > img {
  height: calc(var(--space-unit) * 4);
  width: calc(var(--space-unit) * 4);
}

z-avatar.large,
z-avatar.large > img {
  height: calc(var(--space-unit) * 5);
  width: calc(var(--space-unit) * 5);
}

z-avatar > img {
  object-fit: cover;
}
