:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > header {
  display: flex;
  height: 36px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: var(--border-size-small) solid var(--color-surface03);
  background: var(--color-surface01);
  border-radius: var(--space-unit) var(--space-unit) 0 0;
  cursor: pointer;
}

:host > header:focus {
  outline: none;
}

:host > header::-moz-focus-inner {
  border: 0;
}
