.tooltip-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.tooltip-container z-button z-icon {
  --z-icon-width: 32px;
  --z-icon-height: 32px;
}
