z-tooltip .container z-button:not(:last-child) {
  margin-right: 0.5rem;
}

z-tooltip.dark {
  --z-tooltip-theme--surface: var(--color-surface05);
  --z-tooltip-theme--text: var(--color-text-inverse);
}

.tooltip-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.tooltip-container z-icon {
  --z-icon-width: 32px;
  --z-icon-height: 32px;
}
