:host {
  --z-tooltip-light--surface: var(--bg-white);
  --z-tooltip-light--text: var(--text-grey-800);
  --z-tooltip-dark--surface: var(--text-grey-900);
  --z-tooltip-dark--text: var(--color-white);
  color: var(--z-tooltip-theme--text, var(--z-tooltip-light--text));
  fill: var(--z-tooltip-theme--text, var(--z-tooltip-light--text));
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-style: italic;
  line-height: 16px;
  letter-spacing: 0.32px;
  font-size: 12px;
  padding: calc(var(--space-unit) / 2); /* TEMP FIX MYZ */
}

/* Tooltip basic */
:host .tooltip {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  border-radius: var(--border-radius);
  text-align: center;
  background: var(--z-tooltip-theme--surface, var(--z-tooltip-light--surface));
  /* box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08); */
  box-shadow: var(--shadow-2); /* TEMP FIX MYZ */
  padding: calc(var(--space-unit) * 2);
}

:host .tooltip.legacy {
  max-width: 200px;
}

/* Tooltip Top */
:host .tooltip-top-arrow:after {
  content: "";
  position: absolute;
  left: calc(50% - 7px);
  top: -7px;
  width: 14px;
  height: 14px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: -1px -1px 4px -1px rgba(0, 0, 0, 0.08);
}

/* Tooltip Bottom */
:host .tooltip-bottom-arrow:after {
  content: "";
  position: absolute;
  left: calc(50% - 7px);
  bottom: -7px;
  width: 14px;
  height: 14px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: rgb(0 0 0 / 8%) 1px 1px 2px 0px;
}

/* Tooltip Left */
:host .tooltip-left-arrow:after {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: -7px;
  width: 14px;
  height: 14px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: rgb(0 0 0 / 8%) -1px 1px 2px 0px;
}

/* Tooltip Right */
:host .tooltip-right-arrow:after {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  right: -7px;
  width: 14px;
  height: 14px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: rgb(0 0 0 / 8%) 1px -1px 2px 0px;
}

/* Tooltip Top Right */
:host .tooltip-top-right-arrow:after {
  content: "";
  position: absolute;
  right: calc(25% - 7px);
  top: -7px;
  width: 14px;
  height: 14px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: -1px -1px 4px -1px rgba(0, 0, 0, 0.08);
}

/* Tooltip Top Left */
:host .tooltip-top-left-arrow:after {
  content: "";
  position: absolute;
  left: calc(25% - 7px);
  top: -7px;
  width: 14px;
  height: 14px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: -1px -1px 4px -1px rgba(0, 0, 0, 0.08);
}

/* Tooltip Bottom Right */
:host .tooltip-bottom-right-arrow:after {
  content: "";
  position: absolute;
  right: calc(25% - 7px);
  bottom: -7px;
  width: 14px;
  height: 14px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: rgb(0 0 0 / 8%) 1px 1px 2px 0px;
}

/* Tooltip Bottom Left */
:host .tooltip-bottom-left-arrow:after {
  content: "";
  position: absolute;
  left: calc(25% - 7px);
  bottom: -7px;
  width: 14px;
  height: 14px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: rgb(0 0 0 / 8%) 1px 1px 2px 0px;
}
