:host > div {
  display: inline-block;
  min-height: 28px;
  padding: 0 calc(var(--space-unit) * 1.5);
  border: var(--border-size-small) solid var(--bg-grey-200);
  background-color: var(--bg-white);
  border-radius: 14px;
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-size: 12px;
  line-height: 28px;
}

.boldtext {
  font-weight: bold;
}
