.z-cover-story {
  display: flex;
  width: 220px;
  height: 220px;
  align-items: center;
  justify-content: center;
  padding: calc(var(--space-unit) * 2);
  background-color: #f5f5f5;
  border-radius: var(--border-size-large);
}
