.z-cover-container {
  position: relative;
  display: flex;
  width: 119px;
  height: 158px;
  align-items: center;
  justify-items: center;
}

.z-cover-stack {
  width: 100%;
  height: 100%;
}

/* Base sizes for single cover */
.z-cover-shadow,
.z-cover-img {
  width: 119px;
  min-width: 119px;
  max-width: 119px;
  height: 158px;
  min-height: 158px;
  max-height: 158px;
}

/* Scaled sizes for multiple covers */
.z-cover-container.has-multiple .z-cover-shadow,
.z-cover-container.has-multiple .z-cover-img {
  width: 107px;
  min-width: 107px;
  max-width: 107px;
  height: 142px;
  min-height: 142px;
  max-height: 142px;
}

.z-cover-shadow {
  position: absolute;
  z-index: 1;
  background-color: var(--color-white);
}

.z-shadow-1 {
  z-index: 1;
  top: var(--space-unit);
  right: 6px;
  border: var(--border-size-small) solid black;
}

.z-shadow-2 {
  z-index: 0;
  top: calc(var(--space-unit) * 2);
  right: 12px;
  border: var(--border-size-small) solid black;
}

.z-cover-img {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  border: var(--border-size-small) solid black;
  object-fit: cover;
  object-position: left;
}

.z-cover-container.has-multiple .z-cover-img {
  left: 10px;
}
