button {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  letter-spacing: 0.3px;
  border-width: var(--border-base);
  border-style: solid;
  border-radius: var(--radius-base);
  height: 44px;
  text-transform: uppercase;
  padding: 0px 32px;
}

button.small {
  height: 36px;
}

button.primary {
  background-color: var(--myz-blue);
  border-color: var(--myz-blue);
  color: var(--bg-artboard-white);
}

button.primary:hover {
  background-color: var(--myz-blue-dark);
  border-color: var(--myz-blue-dark);
  color: var(--bg-artboard-white);
}

button.primary:disabled {
  background-color: var(--bg-artboard-gray-very-light);
  border-color: var(--bg-artboard-gray-very-light);
  color: var(--text-gray-dark);
}

button.secondary {
  background-color: var(--bg-artboard-white);
  border-color: var(--myz-blue);
  color: var(--myz-blue);
}

button.secondary:hover {
  background-color: var(--bg-artboard-white);
  border-color: var(--myz-blue-dark);
  color: var(--myz-blue-dark);
}

button.secondary:disabled {
  background-color: var(--bg-artboard-white);
  border-color: var(--bg-artboard-gray-very-light);
  color: var(--text-gray-dark);
}

button > img {
  height: 12px;
  margin-right: 12px;
}
