.toolbar-container {
  display: flex;
  width: 100%;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}

.toolbar-nested {
  flex-direction: column;
  gap: 4px;
}

.toolbar-with-nested-toolbar {
  display: flex;
  min-height: 200px;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
}
