:host {
  display: inline-flex;
  height: 44px;
  align-items: center;
  padding: 0;
  border: var(--border-size-small) solid var(--color-surface03);
  background-color: var(--color-surface01);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-4);
  gap: calc(var(--space-unit) / 2);
}

::slotted(.z-toolbar-group) {
  display: inline-flex;
}

::slotted(.z-toolbar-group:not(:last-child)) {
  padding-right: 5px;
  background-image: linear-gradient(var(--color-surface03));
  background-position: right center;
  background-repeat: no-repeat;
  background-size: var(--border-size-small) calc(100% - 8px);
}
