:host,
* {
  box-sizing: border-box;
}

:host {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0;
  border: var(--border-size-small) solid var(--color-surface03);
  background-color: var(--color-surface01);
  border-radius: calc(var(--border-radius) + var(--border-size-small)); /* ensure correct radius for nested items */
  box-shadow: var(--shadow-4);
  gap: calc(var(--space-unit) / 2);
}

::slotted(z-divider) {
  height: calc(var(--space-unit) * 4.5) !important;
}

@media (max-width: 767px) {
  :host {
    --z-toolbar-columns: 6;

    position: relative;
    display: grid;
    max-width: 100%;

    /* Draws a horizontal separator line between rows */
    background: repeating-linear-gradient(
        to bottom,
        transparent 0,
        transparent calc(var(--space-unit) * 5.5),
        var(--color-surface03) calc(var(--space-unit) * 5.5),
        var(--color-surface03) calc(var(--space-unit) * 5.5 + 1px)
      )
      center / calc(100% - var(--space-unit)) 100% no-repeat var(--color-surface01);
    gap: var(--border-size-small) calc(var(--space-unit) / 2);
    grid-template-columns: repeat(var(--z-toolbar-columns, auto-fill), minmax(44px, auto));
  }

  ::slotted(z-divider) {
    display: none !important;
  }
}
