:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > .container {
  color: var(--gray800);
  display: flex;
  flex-direction: column;
}

:host .text-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

:host .text-container z-body {
  text-align: center;
}

:host .text-container .upload-link {
  color: var(--blue500);
}

input#fileElem {
  display: none;
}

::slotted([slot="title"]) {
  display: inline-block;
  margin-bottom: var(--space-unit);
}

:host > .container > z-button {
  display: inline-block;
  margin-top: calc(var(--space-unit) * 3);
}

:host > .container > .files-container > z-heading {
  display: inline-block;
  margin: calc(var(--space-unit) * 3) 0;
}

:host > .container > .files-container > .files {
  display: flex;
  flex-wrap: wrap;
  row-gap: calc(var(--space-unit) * 2);
  column-gap: calc(var(--space-unit) * 2);
}
:host > .container > .files-container > z-divider {
  margin: calc(var(--space-unit) * 3) 0;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host > .container {
    align-items: flex-start;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
