.z-ghost-loading-story-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--grid-gutter);
}

.z-ghost-loading-row {
  display: flex;
  column-gap: var(--space-unit);
}

.z-ghost-loading-row z-ghost-loading {
  display: block;
  height: 1.5rem;
  margin-bottom: var(--space-unit);
}

.z-ghost-loading-row:nth-child(2) {
  flex-direction: column;
}

.z-ghost-loading-row:nth-child(2) z-ghost-loading {
  height: 0.75rem;
}

.z-ghost-loading-row:nth-child(3) {
  column-gap: calc(var(--space-unit) * 2.5);
}

.z-ghost-loading-row:nth-child(3) z-ghost-loading {
  height: 3rem;
}
