:host {
  display: block;
  width: inherit;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > div {
  display: flex;
  width: inherit;
  flex-direction: column;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
}

main z-icon.scroll {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: auto;
  margin: 0 var(--space-unit);
  cursor: pointer;
  fill: var(--color-primary01);
  transition: 0.6s ease;
}

main .scroll.disabled {
  opacity: 0.5;
  pointer-events: none;
}

main .scroll.right {
  right: 0;
}

#slides {
  display: flex;
  flex-wrap: wrap;
  line-height: 0px;
  overflow-y: hidden;
  transition: all 300ms;
}

footer {
  display: grid;
  width: 100%;
  height: 56px;
  align-items: center;
  border-top: var(--border-size-medium) solid var(--color-background);
  grid-template: 2 / 2;
  grid-template-areas: "center center" "left right";
}

footer > div {
  width: 100%;
  align-items: center;
}

footer .footer-center {
  grid-area: center;
}

footer .footer-left {
  grid-area: left;
}

footer .footer-right {
  grid-area: right;
}

footer .bullet-container {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

footer .bullet-container .bullet {
  width: 8px;
  height: 8px;
  margin: var(--space-unit) 2px;
  background-color: var(--gray200);
  border-radius: 50%;
  pointer-events: none;
}

footer .bullet-container .bullet.selected {
  background-color: var(--gray400);
}

main z-icon:focus,
footer .bullet-container .bullet:focus {
  border-radius: 50%;
  box-shadow: var(--shadow-focus-primary);
  outline: none !important;
}

/* Tablet breakpoint */

@media only screen and (min-width: 768px) {
  footer {
    height: 76px;
    border-top: var(--border-size-medium) solid var(--color-background);
    grid-template: 1 / 1fr 2fr 1fr;
    grid-template-areas: "left center right";
  }

  footer .bullet-container .bullet {
    width: 10px;
    height: 10px;
    margin: var(--space-unit) 3px;
  }
}

/* Desktop breakpoint */

@media only screen and (min-width: 1025px) {
  main z-icon.scroll {
    margin: 0 10px;
  }

  footer .bullet-container .bullet {
    width: 16px;
    height: 16px;
    margin: var(--space-unit) calc(var(--space-unit) * 0.5);
    cursor: pointer;
    pointer-events: auto;
  }
}
