:host {
  --z-icon-width: 15px;
  --z-icon-height: 15px;

  --iconTextToken: var(--color-primary03);
  --bgToken: var(--color-hover-primary);

  font-family: var(--font-family-sans);

  height: 22px;
  border-radius: var(--border-radius);
  padding: 4px;
  text-transform: uppercase;

  display: flex;
  width: fit-content;
  height: fit-content;

  max-width: inherit;
  max-height: inherit;

  color: var(--iconTextToken);
  fill: var(--iconTextToken);
  background-color: var(--bgToken);
}

:host > z-icon {
  margin-right: var(--space-unit);
}

:host(.expandable) > z-icon {
  margin-right: 0;
  transition: margin-right 0.3s ease-out 0.2s;
}

:host(:not(.expandable)) > z-icon:not(:last-child),
:host(.expandable:hover) > z-icon:not(:last-child) {
  margin-right: var(--space-unit);
  transition: margin-right 0.3s ease-out 0s;
}

:host(.expandable) > div {
  max-width: 0;
  max-height: 0;
  transition: max-width 0.3s ease-out, max-height 0.3s all;
  overflow: hidden;
}

:host(.expandable:hover) > div {
  max-width: 100%;
  max-height: 100%;
  transition: max-width 0.3s ease-out, max-height 0.3s all;
}
