:host {
  --z-icon-width: 14px;
  --z-icon-height: 14px;

  --z-tag-text-color: var(--color-primary03);
  --z-tag-bg: var(--color-hover-primary);

  font-family: var(--font-family-sans);

  border-radius: var(--border-radius);
  padding: calc(var(--space-unit) / 2);
  text-transform: uppercase;

  display: flex;
  width: fit-content;
  height: fit-content;

  max-width: inherit;
  max-height: inherit;

  color: var(--z-tag-text-color);
  fill: var(--z-tag-text-color);
  background-color: var(--z-tag-bg);
  line-height: 14px;
}

:host > z-icon {
  margin-right: var(--space-unit);
}

:host(.expandable) > z-icon {
  margin-right: 0;
  transition: margin-right 0.3s ease-out 0.2s;
}

:host(:not(.expandable)) > z-icon:not(:last-child),
:host(.expandable:hover) > z-icon:not(:last-child) {
  margin-right: var(--space-unit);
  transition: margin-right 0.3s ease-out 0s;
}

:host(.expandable) > div {
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

:host(.expandable:hover) > div {
  max-width: 100%;
  max-height: 100%;
}
