:host {
  display: table-row;
  font-family: var(--font-family-sans);
}

:host[expandable] > z-registro-table-cell:first-child {
  width: 40px;
  padding: 8px;
  box-sizing: border-box;
}

:host[expanded] + z-registro-table-expanded-row {
  height: auto;
}
