div {
  background-color: var(--bg-artboard-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: auto;
  max-width: 328px;
  height: 558px;
  border: var(--border-base) solid var(--bg-artboard-gray-very-light);
  border-radius: var(--radius-base);
}

div.real {
  border-color: var(--bg-artboard-gray-very-light-real);
}

.faded {
  border: none;
}
