div.real-card {
  --footer-background: #add2ff;
  --header-background: #ebf4ff;
  --card-border: #add2ff;
}

div.virtual-card {
  --footer-background: var(--bg-artboard-gray-very-light);
  --header-background: var(--bg-artboard-gray);
  --card-border: var(--bg-artboard-gray-very-light);
}

div {
  background-color: var(--bg-artboard-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  height: 558px;
  border: var(--border-base) solid var(--card-border);
  border-radius: var(--radius-base);
}

.faded {
  border: none;
}
