div {
  background-color: var(--bg-artboard-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  height: 558px;
  border: var(--border-base) solid;
  border-radius: var(--radius-base);
}

div.real-card {
  border-color: #add2ff;
}

div.virtual-card {
  border-color: var(--bg-artboard-gray-very-light);
}

.faded {
  border: none;
}
