:host {
  display: inline-block;
  width: inherit;
}

/* GENERAL */
:host ul[role="listbox"] {
  background: var(--bg-white);
  border-radius: 0px;
  border: var(--border-size-small) solid var(--bg-grey-200);
  border-color: var(--bg-grey-200);
  box-sizing: border-box;
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 16px;
  outline: none;
}

/* FILLED */
:host .filled {
  border-color: var(--text-grey-800) !important;
}

/* FOCUS */
:host li[role="option"]:focus {
  border-color: transparent;
  box-shadow: 0 0 2px 2px var(--accent-dark);
  outline: none;
}

:host > div.selectWrapper > z-input {
  width: 100%;
}

:host > div.selectWrapper > div {
  position: relative;
}

:host > div.selectWrapper > div.closed {
  height: 0px;
  overflow: hidden;
}

:host > div.selectWrapper > div > div.ulScrollWrapper {
  background: var(--bg-white);
  position: absolute;
  padding: calc(var(--space-unit) * 0.5) var(--space-unit);
  border: var(--border-size-small) solid var(--bg-grey-200);
  border-top: none;
  width: 100%;
  box-sizing: border-box;
}

:host > div.selectWrapper > div.closed > div.ulScrollWrapper {
  z-index: 10;
}

:host > div.selectWrapper > div.open > div.ulScrollWrapper {
  z-index: 20;
}

:host > div.selectWrapper > div > div.ulScrollWrapper > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0px;
  max-height: 240px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--myz-blue) var(--bg-grey-200);
  position: relative;
}

:host > div.selectWrapper > div > div.ulScrollWrapper > ul::-webkit-scrollbar {
  background: linear-gradient(
    90deg,
    var(--bg-white) 2px,
    var(--bg-grey-200) 4px,
    var(--bg-white) 8px
  );
  border-radius: var(--border-radius);
  width: 10px;
}

:host
  > div.selectWrapper
  > div
  > div.ulScrollWrapper
  > ul::-webkit-scrollbar-thumb {
  background-color: var(--myz-blue);
  border-radius: var(--border-radius);
  width: 10px;
}

:host > div.selectWrapper > div > div.ulScrollWrapper > ul > li {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 44px;
  padding: calc(var(--space-unit) * 1.5);
  text-align: left;
  cursor: pointer;
  border-bottom: var(--border-size-small) solid var(--bg-grey-200);
}

:host > div.selectWrapper > div > div.ulScrollWrapper > ul > li:hover {
  color: var(--myz-blue-dark);
  background: var(--bg-grey-050);
}

:host > div.selectWrapper > div > div.ulScrollWrapper > ul > li:focus {
  margin: 2px;
}

:host
  > div.selectWrapper
  > div
  > div.ulScrollWrapper
  > ul
  > li[aria-selected=""] {
  font-weight: var(--font-sb);
}

:host > div.selectWrapper > div > div.ulScrollWrapper > ul > li.disabled {
  color: var(--text-grey-700);
  cursor: default;
  pointer-events: none;
}

:host > div.selectWrapper > div > div.ulScrollWrapper > ul > li.noResults {
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

:host
  > div.selectWrapper
  > div
  > div.ulScrollWrapper
  > ul
  > li.noResults
  > z-icon {
  margin-right: var(--space-unit);
}

:host > div.selectWrapper > div.chipsWrapper {
  padding-bottom: var(--space-unit);
}

:host > div.selectWrapper > div.chipsWrapper > z-button-filter {
  display: inline-block;
  margin: 4px;
}
