:host {
  display: inline-block;
  width: inherit;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-size: var(--font-size-3);
  color: var(--color-text02);
}

.selectWrapper > z-input {
  width: 100%;
}

.selectWrapper > div {
  position: relative;
}

.selectWrapper > div.closed {
  height: 0;
  overflow: hidden;
}

.selectWrapper .ulScrollWrapper {
  background: var(--color-surface01);
  position: absolute;
  padding: calc(var(--space-unit) * 0.5) var(--space-unit);
  border: var(--border-size-small) solid var(--gray200);
  border-top: none;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.selectWrapper .closed .ulScrollWrapper {
  z-index: 10;
}

.selectWrapper .open .ulScrollWrapper {
  z-index: 20;
}

.selectWrapper .ulScrollWrapper > z-list {
  position: relative;
  padding: calc(var(--space-unit) * 0.5);
  max-height: 240px;
  overflow: auto;
  outline: none;

  /* Firefox scrollbar */
  scrollbar-color: var(--color-primary01) transparent;
}

.selectWrapper .ulScrollWrapper > z-list::-webkit-scrollbar {
  background: linear-gradient(
    to right,
    transparent 0 3px,
    var(--gray200) 3px 7px,
    transparent 7px 10px
  );
  width: 10px;
  border-radius: var(--border-radius);
}

.selectWrapper .ulScrollWrapper > z-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.selectWrapper .ulScrollWrapper > z-list::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--color-primary01);
  border-radius: var(--border-radius);
}

.selectWrapper .ulScrollWrapper > z-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hover-primary);
}

.selectWrapper .ulScrollWrapper z-list z-list-element span {
  display: block;
  padding: 0 calc(var(--space-unit) * 1.5);
}

.selectWrapper .ulScrollWrapper .noResults z-icon {
  margin-right: var(--space-unit);
}
