:host {
  font-family: Proxima Nova Sb;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 301px;
  height: 40px;
  position: relative;
  background: var(--bg-artboard-gray);
  border-bottom: var(--border-base) solid var(--bg-artboard-gray-very-light);
  border-radius: var(--radius-base) var(--radius-base) var(--radius-min)
    var(--radius-min);
}

header > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > span > img {
  width: 20px;
  height: 22px;
  object-fit: contain;
}

header > h2 {
  color: var(--text-gray-dark);
  width: 240px;
  height: var(--basex2);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  line-height: var(--basex2);
  border-right: var(--border-base) solid var(--bg-artboard-gray-very-light);
  margin: 0px;
  padding: var(--half-x3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
