:host {
  color: black;
  font-family: Proxima Nova Sb;
}

header {
  display: flex;
  width: 301px;
  height: 40px;
  background: var(--bg-artboard-gray);
  border: var(--border-base) solid #cad1d8;
  border-radius: var(--radius-base) var(--radius-base) var(--radius-min)
    var(--radius-min);
}

span {
  /*  */
}

h2 {
  color: var(--text-gray-dark);
  width: 240px;
  height: var(--basex2);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  line-height: var(--basex2);
  border-right: var(--border-base) solid #cad1d8;
  margin: 0px;
  padding: var(--half-x3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span .icon-opened {
  color: var(--text-gray-medium);
}

span .icon-closed {
  color: var(--text-gray-light);
}
