@import "~flatpickr/dist/flatpickr.min.css";

:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

/* Calentar container selectors */
.flatpickr-calendar::before,
.flatpickr-calendar::after {
  display: none;
}

.flatpickr-calendar {
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(66, 69, 72, 0.4);
  padding-top: calc(var(--space-unit) * 2);
}

.flatpickr-calendar.hasTime {
  min-height: 516px !important;
}

.flatpickr-calendar.animate {
  font-family: var(--font-family-sans) !important;
}

.flatpickr-calendar.animate,
.flatpickr-innerContainer,
.flatpickr-days,
.dayContainer {
  width: 336px !important;
  max-width: 336px !important;
}

/* Months and year row containers selectors */
.flatpickr-months {
  margin-bottom: var(--space-unit) 0 !important;
  height: 48px !important;
  position: relative;
  align-items: center;
}

.flatpickr-month {
  overflow: visible !important;
  height: 48px !important;
}

.flatpickr-current-month {
  display: flex !important;
  justify-content: space-evenly;
  align-items: baseline;
  left: 0px !important;
  width: -webkit-fill-available;
  padding-top: 0;
  height: 48px;
}

/* Months arrows selectors */
.flatpickr-next-month,
.flatpickr-prev-month {
  height: 32px !important;
  width: 32px !important;
  position: static !important;
  padding: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;
}
.flatpickr-prev-month {
  margin-left: 8px;
}
.flatpickr-next-month {
  margin-right: 8px;
}

.flatpickr-next-month > svg,
.flatpickr-prev-month > svg {
  height: 16px !important;
  width: 16px !important;
  fill: var(--myz-blue);
}

.flatpickr-next-month:hover,
.flatpickr-prev-month:hover {
  border-radius: var(--border-radius);
  background-color: var(--color-primary03) !important;
  border-color: var(--color-primary03) !important;
  color: var(--color-hover-primary) !important;
}

.flatpickr-next-month:hover svg,
.flatpickr-prev-month:hover svg {
  fill: var(--color-hover-primary) !important;
}

.flatpickr-next-month:active,
.flatpickr-prev-month:active {
  border-radius: var(--border-radius);
  background-color: var(--color-surface01) !important;
  border-color: var(--color-surface01) !important;
  color: var(--color-primary01) !important;
  box-shadow: var(--shadow-2) !important;
}

.flatpickr-next-month:focus svg,
.flatpickr-prev-month:focus svg {
  fill: var(--color-primary01) !important;
}

/* Months dropdown selectors */
.flatpickr-monthDropdown-months {
  background: white !important;
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-rg) !important;
  padding: 0 0 0 8px !important;
  color: var(--text-grey-800) !important;
  outline: 1px solid black !important;
  height: 44px !important;
}

.flatpickr-monthDropdown-months:hover {
  outline: 1px solid var(--myz-blue) !important;
}

/* Year toggle selectors */
.flatpickr-current-month > .numInputWrapper {
  background: white !important;
  padding-right: 5px !important;
  display: flex;
  color: var(--text-grey-800);
  text-align: center;
  padding: 0px !important;
  outline: 1px solid black !important;
  height: 44px !important;
  width: 80px;
}

.flatpickr-current-month > .numInputWrapper:hover {
  outline: 1px solid var(--myz-blue) !important;
}

.flatpickr-current-month > .numInputWrapper > input {
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-rg) !important;
  text-align: center;
  padding: 0 24px 0 8px;
}

/* Weekdays selectors */
.flatpickr-weekdays {
  height: 48px;
  border-bottom: 1px solid var(--gray200);
}

.flatpickr-weekday {
  font-weight: 400 !important;
  font-size: 16px !important;
}

/* Calendar days selectors */
.flatpickr-day {
  height: 48px !important;
  width: 48px !important;
  max-width: 100% !important;

  font-size: 16px !important;
  line-height: 46px !important;

  margin: 0px !important;
  border: none;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.selected:hover {
  background-color: var(--myz-blue-dark) !important;
  border-color: var(--myz-blue-dark) !important;
  color: var(--color-white) !important;
}

.flatpickr-day.today {
  border: 2px solid var(--myz-blue-dark) !important;
}

.flatpickr-day.selected {
  background-color: var(--myz-blue) !important;
  border-color: var(--myz-blue) !important;
}

.flatpickr-weekday:nth-child(6),
.flatpickr-weekday:nth-child(7),
.flatpickr-day:nth-child(7n + 6),
.flatpickr-day:nth-child(7n + 7) {
  font-weight: 600 !important;
}

/* Date and time selectors */
.flatpickr-time {
  display: block;
  height: 90px !important;
  max-height: 90px !important;
  text-align: left;
}

.flatpickr-time::before {
  content: "Orario";
  width: 100%;
  display: block;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-grey-800) !important;
}

.flatpickr-time.time24hr {
  margin: 18px 14px !important;
}

.flatpickr-time.time24hr > .numInputWrapper > input:hover,
.flatpickr-time.time24hr > .numInputWrapper > input:focus,
.flatpickr-time.time24hr > .numInputWrapper:hover {
  background-color: white !important;
}

.flatpickr-time.time24hr > div {
  height: 44px !important;
  width: 87px !important;
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.flatpickr-time-separator {
  height: 44px !important;
  font-weight: unset !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flatpickr-minute,
.flatpickr-hour {
  outline: 1px solid black !important;
}

.numInputWrapper:hover .flatpickr-minute,
.numInputWrapper:hover .flatpickr-hour,
.flatpickr-minute:focus,
.flatpickr-hour:focus {
  outline: 1px solid var(--myz-blue) !important;
}

/* toggle arrows selectors */
.arrowUp,
.arrowDown {
  height: 16px !important;
  width: 16px !important;

  opacity: 1 !important;
  border: none !important;
  padding: 0px !important;
}

.arrowUp {
  margin-top: 4px !important;
  margin-right: 4px !important;
}

.arrowDown {
  top: auto !important;
  margin-top: 25px !important;
  margin-right: 4px !important;
}

.arrowUp:hover,
.arrowDown:hover {
  border-radius: var(--border-radius);
  background-color: var(--color-primary03) !important;
  border-color: var(--color-primary03) !important;
  color: var(--color-hover-primary) !important;
}

.arrowUp:active,
.arrowDown:active {
  border-radius: var(--border-radius);
  background-color: var(--color-surface01) !important;
  border-color: var(--color-surface01) !important;
  color: var(--color-primary01) !important;
  box-shadow: var(--shadow-2) !important;
}

.arrowUp::after,
.arrowDown::after {
  border: solid var(--myz-blue) !important;
  border-width: 0 1px 1px 0 !important;
  padding: 2.5px !important;
}

.arrowUp::after {
  transform: rotate(-135deg);

  top: 0 !important;
  margin-left: 5.5px !important;
  margin-top: 6px !important;
}

.arrowDown::after {
  transform: rotate(45deg);

  top: 0 !important;
  left: 5.5px !important;
  margin-top: 4px !important;
}
