@import "~flatpickr/dist/flatpickr.min.css";

:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

.flatpickr-calendar::before,
.flatpickr-calendar::after {
  display: none;
}

/* Months and year row containers selectors */
.flatpickr-months {
  margin-bottom: var(--space-unit) 0 !important;
  height: 48px !important;
  position: relative;
}

.flatpickr-month {
  overflow: visible !important;
  height: 48px !important;
}

.flatpickr-current-month {
  display: flex !important;
  justify-content: space-between;
  left: 0px !important;
  width: -webkit-fill-available;
}

/* Months dropdown selectors */
.flatpickr-monthDropdown-months {
  background: white !important;
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-rg) !important;
  padding: 0 !important;
  color: var(--text-grey-800) !important;
  text-align: center;
}

.flatpickr-monthDropdown-months:hover {
  outline: 2px solid var(--myz-blue) !important;
}

/* Months arrows selectors */
.flatpickr-next-month,
.flatpickr-prev-month {
  height: 48px !important;
  width: 48px !important;
  position: static !important;
  padding: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flatpickr-next-month > svg,
.flatpickr-prev-month > svg {
  height: 16px !important;
  width: 16px !important;
  fill: var(--text-grey-700);
}

/* Year toggle selectors */
.flatpickr-current-month > .numInputWrapper {
  background: white !important;
  padding-right: 5px !important;
  display: flex;
  align-items: center;
  color: var(--text-grey-800);
  text-align: center;
  width: 96px;
  padding: 0px !important;
}

.flatpickr-current-month > .numInputWrapper:hover {
  outline: 2px solid var(--myz-blue) !important;
}

.flatpickr-current-month > .numInputWrapper > input {
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-rg) !important;
  text-align: center;
}

/* Weekdays selectors */
.flatpickr-weekdays {
  height: 48px;
  border-bottom: 1px solid var(--gray200);
}

.flatpickr-weekday {
  font-weight: 400 !important;
}

/* Calendar days selectors */
.flatpickr-calendar {
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(66, 69, 72, 0.4);
  padding-top: var(--space-unit);
}
.flatpickr-calendar.hasTime {
  min-height: 516px !important;
}

.flatpickr-weekday:nth-child(6),
.flatpickr-weekday:nth-child(7),
.flatpickr-day:nth-child(7n + 6),
.flatpickr-day:nth-child(7n + 7) {
  font-weight: 600 !important;
}

.flatpickr-calendar.animate {
  font-family: var(--font-family-sans) !important;
}

.flatpickr-calendar.animate,
.flatpickr-innerContainer,
.flatpickr-days,
.dayContainer {
  width: 336px !important;
  max-width: 336px !important;
}

.flatpickr-day {
  height: 48px !important;
  width: 48px !important;
  max-width: 100% !important;

  font-size: 16px !important;
  line-height: 46px !important;

  margin: 0px !important;
  border: none;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.selected:hover {
  background-color: var(--myz-blue-dark) !important;
  border-color: var(--myz-blue-dark) !important;
  color: var(--color-white) !important;
}

.flatpickr-day.today {
  border: 2px solid var(--myz-blue-dark) !important;
}

.flatpickr-day.selected {
  background-color: var(--myz-blue) !important;
  border-color: var(--myz-blue) !important;
}

/* Date and time selectors */
.flatpickr-time {
  display: block;
  height: 90px !important;
  max-height: 90px !important;
  text-align: left;
}

.flatpickr-time::before {
  content: "Orario";
  width: 100%;
  display: block;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-grey-800) !important;
}

.flatpickr-time.time24hr {
  margin: 18px 14px !important;
}

.flatpickr-time.time24hr > .numInputWrapper > input:hover {
  background-color: white !important;
  border: 0;
}

.flatpickr-time.time24hr > .numInputWrapper:hover {
  background-color: white !important;
}

.flatpickr-time.time24hr > div {
  border-radius: 2px !important;
  border: 1px solid rgb(103, 107, 111) !important;
  height: 44px !important;
  width: 87px !important;
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.flatpickr-time-separator {
  height: 44px !important;
  font-weight: unset !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* toggle arrows selectors */
.arrowUp,
.arrowDown {
  opacity: 1 !important;
  border: none !important;
}

.arrowUp:hover,
.arrowDown:hover {
  background-color: white !important;
}

.arrowUp::after,
.arrowDown::after {
  border: solid black !important;
  border-width: 0 1px 1px 0 !important;
  padding: 2.5px !important;
}

.arrowUp::after {
  transform: rotate(-135deg);
}

.arrowDown::after {
  transform: rotate(45deg);
}
