:host {
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host,
:host * {
  box-sizing: border-box;
}

z-icon {
  fill: var(--color-icon01);
}

*:disabled z-icon {
  fill: var(--color-disabled02);
}

.pagination-bar {
  display: flex;
  height: 48px;
}

.pagination-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--color-surface03);
  transition: background-color .150s ease-out,
    color .150s ease-out,
    border-bottom-color .150s ease-out,
    font-size .150s ease-in-out,
    font-weight .150s ease-in-out;
  color: var(--color-primary01);
  border: none;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.pagination-bar button:hover {
  background-color: var(--color-hover-surface);
}

.pagination-bar button:focus-visible {
  outline: none;
  box-shadow: inset var(--shadow-focus-primary);
  background-color: var(--color-hover-surface);
}

.pagination-bar .navigation-button {
  padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 1.5);
}

.pagination-bar .navigation-button:disabled {
  background-color: var(--color-disabled01);
  color: var(--color-disabled02);
  cursor: default;
}

.pagination-bar .page-button,
.pagination-bar .split-button {
  width: var(--z-pagination--page-button-width);
}

.pages-container {
  --z-pagination--page-button-width: 64px;
  --z-pagination--pages-container-max-width: 100%;

  position: relative;
  display: inline-flex;
  max-width: var(--z-pagination--pages-container-max-width);
  overflow-x: auto;
  scroll-behavior: smooth;

  /* hide scrollbar in Firefox */
  scrollbar-width: none;
}

.pages-container::-webkit-scrollbar {
  display: none;
}

.pages-chunk {
  display: flex;
  scroll-snap-align: center;
}

.pagination-bar .page-button {
  border-bottom: var(--border-size-large) solid transparent;
  font-size: var(--font-size-2);
  font-weight: var(--font-sb);
}

.pagination-bar .page-button:hover,
.pagination-bar .page-button:focus-visible {
  border-bottom-color: var(--color-hover-light);
}

.pagination-bar .page-button[data-active] {
  font-size: var(--font-size-7);
  border-bottom-color: var(--color-primary01);
}

.go-to-page {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-unit);
  margin-left: calc(var(--space-unit) * 4);
}

.go-to-page .label {
  font-size: var(--font-size-1);
  font-weight: var(--font-sb);
  color: var(--color-text02);
  line-height: 1.33;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.go-to-page .inputs {
  display: flex;
  column-gap: var(--space-unit);
}

.go-to-page .inputs z-input input {
  padding: 0 calc(var(--space-unit) * 1.5) !important;
}

@media (min-width: 768px) {
  .pages-container {
    --z-pagination--page-button-width: 88px;
  }
}
