z-pagination {
  --z-pagination--page-button-width: 64px;
  --z-pagination--pages-container-max-width: 100%;
  --z-pagination-background-color: var(--color-background);
  --z-pagination-background-color-hover: var(--color-surface01);

  display: flex;
  max-width: 100%;
  flex-flow: column wrap;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  gap: calc(var(--space-unit) * 2) calc(var(--space-unit) * 4);
}

z-pagination,
z-pagination * {
  box-sizing: border-box;
}

z-pagination button {
  height: 100%;
}

z-pagination z-icon {
  fill: var(--color-primary01-icon);
}

z-pagination *:disabled z-icon {
  fill: var(--color-disabled03);
}

z-pagination .page-label {
  margin-right: calc(var(--space-unit) * 3);
  color: var(--color-default-text);
}

z-pagination .pagination-bar {
  display: flex;
  max-width: 100%;
  height: 48px;
  align-items: center;
}

z-pagination .pagination-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  background-color: var(--z-pagination-background-color);
  color: var(--color-primary01);
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  transition:
    background-color 0.15s ease-out,
    color 0.15s ease-out,
    border-bottom-color 0.15s ease-out,
    font-size 0.15s ease-in-out,
    font-weight 0.15s ease-in-out;
}

z-pagination .pagination-bar button:focus-visible {
  background-color: var(--color-surface01);
  outline: none;
}

z-pagination .pagination-bar .pagination-button {
  padding: calc(var(--space-unit) * 2);
  font-weight: var(--font-sb);
  text-transform: uppercase;
  white-space: nowrap;
}

z-pagination .pagination-bar .navigation-button {
  padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 1.5);
}

z-pagination .pagination-bar .pagination-button:disabled,
z-pagination .pagination-bar .navigation-button:disabled {
  color: var(--color-disabled03);
  cursor: default;
  fill: var(--color-disabled03);
  pointer-events: none;
}

z-pagination .pagination-bar .page-button,
z-pagination .pagination-bar .ellipsis-button {
  width: var(--z-pagination--page-button-width);
}

z-pagination .pages-container {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-align: center;

  /* hide scrollbar in Firefox */
  scrollbar-width: none;
}

z-pagination .pages-container::-webkit-scrollbar {
  display: none;
}

z-pagination .pages-chunk {
  display: flex;
  scroll-snap-align: center;
}

z-pagination .pagination-bar .page-button {
  padding-top: var(--border-size-large) solid transparent;
  border-bottom: var(--border-size-large) solid transparent;
  font-size: var(--font-size-2);
  font-weight: var(--font-sb);
}

z-pagination .pagination-bar .page-button[data-current] {
  border-bottom-color: var(--color-primary01);
  font-size: var(--font-size-7);
}

z-pagination .go-to-page {
  display: flex;
  flex-direction: column;
}

z-pagination .go-to-page .inputs {
  display: flex;
  column-gap: var(--space-unit);
}

z-pagination .go-to-page .inputs z-input {
  width: calc(var(--space-unit) * 11);
}

z-pagination .go-to-page .inputs z-input input,
z-pagination .mobile-go-to-page z-input input {
  padding: 0 calc(var(--space-unit) * 1.5) !important;
  appearance: none;
}

z-pagination .mobile-go-to-page {
  display: flex;
  height: 100%;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface02);
}

z-pagination .mobile-go-to-page z-input {
  width: var(--z-pagination--page-button-width);
  margin-right: var(--space-unit);
}

z-pagination .mobile-go-to-page z-input input {
  text-align: center;
}

z-pagination .mobile-go-to-page z-input input::-webkit-outer-spin-button,
z-pagination .mobile-go-to-page z-input input::-webkit-inner-spin-button {
  appearance: none;
}

z-pagination .mobile-go-to-page > span {
  font-size: var(--font-size-2);
}

@media (hover: hover) {
  z-pagination .pagination-bar button:hover {
    background-color: var(--z-pagination-background-color-hover);
  }

  z-pagination .pagination-bar .page-button:hover {
    border-bottom-color: var(--color-hover-primary);
    color: var(--color-hover-primary);
  }
}

@media (min-width: 768px) {
  z-pagination {
    --z-pagination--page-button-width: 88px;

    flex-direction: row;
    align-items: flex-end;
  }

  z-pagination .pages-container {
    max-width: var(--z-pagination--pages-container-max-width);
  }
}
