:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  display: inline-flex;
  position: relative;
}

label {
  display: flex;
  align-items: center;
  flex-direction: row;
}

label.left {
  margin: 0 var(--space-unit) 0 0;
}

label.right {
  margin: 0 var(--space-unit) 0 0;
  flex-direction: row-reverse;
}

label > span {
  letter-spacing: 0;
  color: var(--text-grey-800);
}

label > span.left {
  margin-right: var(--space-unit);
}

label > span.right {
  margin-left: var(--space-unit);
}

label > span.container {
  display: flex;
  align-items: center;
}

label > span.container {
  height: 18px;
  width: calc(var(--space-unit) * 4);
  border-radius: var(--space-unit);
  color: var(--gray500);
  background-color: var(--gray500);
  position: relative;
  cursor: pointer;
}

label > span.container.disabled,
label > span.container.active.disabled {
  background-color: var(--bg-grey-200);
  cursor: default;
}

label > span.container.active.disabled > span.circle.checked.disabled > z-icon {
  fill: var(--gray200);
}

label > span.container.active {
  background-color: var(--color-primary01);
  fill: var(--color-primary01);
}

input:focus:focus-visible + label > span.container:not(.disabled) {
  outline: none;
  box-shadow: var(--shadow-focus-primary);
}

input:focus:focus-visible + label > span.container.disabled {
  outline: none;
}

label > span.container:not(.disabled):hover {
  background-color: var(--color-hover-primary);
  fill: var(--color-hover-primary);
}

label > span.container > span.circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: calc(var(--space-unit) * 2);
  width: calc(var(--space-unit) * 2);
  border-radius: 7px;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-2);
  transition: transform 0.3s ease;
}

label > span.container > span.circle.checked {
  transform: translateX(100%);
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
