:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  display: inline-flex;
  position: relative;
}

:host > label {
  display: flex;
  align-items: center;
  flex-direction: row;
}

:host > label.left {
  margin: 0 var(--space-unit) 0 0;
}

:host > label.right {
  margin: 0 var(--space-unit) 0 0;
  flex-direction: row-reverse;
}

:host > label > z-body {
  letter-spacing: 0;
  color: var(--text-grey-800);
}

:host > label > z-body.left {
  margin: 0 var(--space-unit) 0 0;
}

:host > label > z-body.right {
  margin: 0 0 0 var(--space-unit);
}

:host > label > div {
  display: flex;
  align-items: center;
}

:host > label > div.container {
  height: 18px;
  width: calc(var(--space-unit) * 4);
  border-radius: var(--space-unit);
  color: var(--gray500);
  background-color: var(--gray500);
  position: relative;
  cursor: pointer;
}

:host > label > div.container.disabled,
:host > label > div.container.active.disabled {
  background-color: var(--bg-grey-200);
  cursor: default;
}

:host
  > label
  > div.container.active.disabled
  > div.circle.checked.disabled
  > z-icon {
  fill: var(--gray200);
}
:host > label > div.container.active {
  background-color: var(--color-primary01);
  fill: var(--color-primary01);
}

:host > label > div.container:not(.disabled):focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus-primary);
}

:host > label > div.container.disabled:focus-visible {
  outline: none;
}

:host > label > div.container:not(.disabled):hover {
  background-color: var(--color-hover-primary);
  fill: var(--color-hover-primary);
}

:host > label > div.container > div.circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: calc(var(--space-unit) * 2);
  width: calc(var(--space-unit) * 2);
  border-radius: 7px;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-2);
  transition: transform 0.3s ease;
}

:host > label > div.container > div.circle.checked {
  transform: translateX(100%);
}

:host > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
