:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > a {
  display: inline-block;
  width: 100%;
  padding: calc(var(--space-unit) / 2 * 3) 0;
  border-bottom: 1px solid var(--gray50);
  color: var(--color-white);
  font-size: 14px;
  text-decoration: none;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host a {
    width: initial;
    padding: 0;
    border-bottom: none;
    font-size: 12px;
    text-decoration: underline;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
