div {
  background-color: var(--color-surface01);
  display: flex;
  flex-direction: column;
  width: auto;
  box-sizing: border-box;
  width: 256px; /* TODO: width must be 100% - must be handled in dashboard */
  height: 522px;
  border: var(--border-size-medium) solid var(--color-surface03);
  border-radius: var(--border-radius);
  overflow-y: clip;
}

div.real,
div.trial,
div.temp {
  border-color: var(--accent);
}

/* HIDDEN status */
div.faded {
  border: var(--border-size-medium) solid var(--color-surface02);
}

/* HIGHLIGHTED status */
div.highlighted {
  box-shadow: var(--shadow-4);
  outline: none;
}

/* PRESSED status */
div.pressed {
  box-shadow: var(--shadow-8);
  outline: none;
}

div:focus {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}
