:host {
  width: 100%;
}

footer {
  width: auto;
  height: auto;
  box-sizing: border-box;
  font-family: var(--font-family-sans);
  font-size: 13px;
  padding: var(--space-unit) 0;
  background-color: var(--gray900);
  color: var(--gray50);
}

footer * {
  box-sizing: border-box;
}

footer > section {
  display: grid;
}

footer > section.top {
  padding: 0 calc(var(--space-unit) * 2);
}

footer > section.bottom {
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 calc(var(--space-unit) * 2);
  white-space: pre-line;
  font-size: 12px;
}

footer > section.bottom > div.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 1;
  height: auto;
  width: auto;
  padding: calc(var(--space-unit) * 2) 0;
}

footer > section.bottom > div.item:nth-child(1) {
  order: 2;
}

footer > section.bottom > div.item:nth-child(2) {
  order: 1;
  border-bottom: 1px solid var(--gray50);
}

footer > section.bottom > div.item > div.social {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 24px);
  column-gap: 12px;
  padding: 0;
  margin-bottom: 0px;
}

footer > section.bottom > div.bottom-links {
  display: none;
}

footer > section.bottom > div.item > p {
  margin: var(--space-unit) 0;
  padding: var(--space-unit) 0;
}

footer > section.bottom > div.item > p:first-child {
  margin-top: 0;
}

footer > section.bottom > div.item > p:last-child {
  margin-bottom: 0;
}

footer > section.bottom > div.logo > p > span {
  display: block;
}

div.extension {
  padding: 0 calc(var(--space-unit) * 2);
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--space-unit);
  align-items: center;
}

div.extension > z-divider {
  margin-top: var(--space-unit);
}

div.extension z-button {
  margin-left: var(--space-unit);
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  footer {
    padding: 0;
  }

  footer > section.top {
    background-color: var(--gray800);
    padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 3);
  }

  /* backward compatibility */
  footer > section.top > z-footer-section:last-child {
    display: none;
  }

  footer > section.bottom {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--grid-tablet-margin);
    background-color: var(--gray900);
    padding: 0 calc(var(--space-unit) * 3);
  }

  footer > section.bottom > div.item {
    margin: 0;
  }

  footer > section.bottom > div.item:nth-child(1) {
    order: 1;
  }

  footer > section.bottom > div.item:nth-child(2) {
    order: 2;
    border-bottom: none;
  }

  footer > section.bottom > div.item > p {
    padding-top: 0;
  }

  footer > section.bottom > div.logo > z-logo {
    width: auto;
    height: 39px;
  }

  footer > section.bottom > div.bottom-links {
    display: block;
    grid-column: span 2;
    order: 3;
  }

  footer > section.bottom > div.bottom-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 24px);
    grid-column-gap: var(--grid-tablet-margin);
    font-size: 12px;
  }

  div.extension {
    margin: auto;
    padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 3) 0;
    background-color: var(--gray800);
    color: white;
    grid-template-columns: 1fr 1fr;
  }

  div.extension > div {
    text-align: end;
  }

  div.extension > z-divider {
    grid-column: 1 / span 2;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
  footer > section.top {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: var(--grid-desktop-margin);
    width: 100%;
  }

  footer > section.bottom > div.item:nth-child(1) > p:nth-of-type(2) {
    font-size: 10px;
  }

  footer > section.bottom > div.item > p {
    padding-bottom: 0;
    margin-bottom: calc(var(--space-unit) * 2);
  }

  footer > section.bottom > div.item > div.social {
    margin-top: 0;
  }

  footer > section.bottom > div.bottom-links {
    padding: calc(var(--space-unit) * 2) 0 0 0;
  }

  footer > section.bottom > div.bottom-links {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--grid-desktop-margin);
    margin: 0;
  }
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  footer > section.top {
    padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 4);
  }

  footer > section.bottom {
    padding: 0 calc(var(--space-unit) * 4);
  }

  div.extension {
    padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 4) 0;
  }
}