:host {
  position: relative;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);

  --z-icon-width: 18px;
  --z-icon-height: 18px;
}

:host(:not(:last-child)) {
  flex: 1;
}

:host(:not(:last-child))::after {
  position: absolute;
  z-index: 1;
  top: calc(var(--space-unit) * 1.75);
  right: 1px;
  left: 30px;
  display: block;
  width: auto;
  border-bottom: var(--border-size-medium) solid var(--color-disabled03);
  content: "";
}

.stepper-item {
  display: flex;
  width: calc(var(--space-unit) * 3.5);
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 0;
  appearance: none;
  background: var(--color-surface01);
  gap: 10px;
  outline: 0;
  text-decoration: none;
}

.indicator {
  display: flex;
  width: calc(var(--space-unit) * 4);
  height: calc(var(--space-unit) * 4);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: var(--border-size-medium) solid var(--color-primary01);
  border-radius: 50%;
  color: var(--color-primary01);
  content: counter(stepper);
}

.stepper-item span {
  width: calc(100% + calc(var(--space-unit) * 4));
  color: var(--color-default-text);
  text-align: center;
}

:host([href]:not([disabled], [pressed])) .stepper-item {
  cursor: pointer;
}

:host([disabled]) .stepper-item {
  pointer-events: none;
}

:host([pressed]),
:host([pressed]) .stepper-item {
  pointer-events: none;
}

:host([pressed]:not([disabled])) .indicator {
  border-color: var(--color-hover-primary);
  background: var(--color-hover-primary);
  color: var(--color-text-inverse);
}

:host([href]:not([disabled]):focus-within) .indicator {
  box-shadow: var(--shadow-focus-primary);
}

:host([href]:not([disabled], [pressed], [checked])) .indicator:hover {
  border-color: var(--color-hover-primary);
  color: var(--color-hover-primary);
}

:host([disabled]) .indicator {
  border-color: var(--color-disabled01);
  color: var(--color-disabled03);
}

:host([checked]:not([disabled])) .indicator {
  border-color: var(--color-primary01);
  background-color: var(--color-primary01);
}

:host([checked]:not([disabled])) .indicator z-icon {
  fill: var(--color-white);
}

/* Desktop breakpoint */
@media (min-width: 1152px) {
  :host {
    --z-icon-width: 24px;
    --z-icon-height: 24px;
  }

  :host(:not(:last-child))::after {
    top: 24px;
    right: 6px;
    left: 42px;
  }

  .stepper-item {
    width: calc(var(--space-unit) * 4.5);
    gap: 12px;
  }

  .indicator {
    width: calc(var(--space-unit) * 6);
    height: calc(var(--space-unit) * 6);
  }
}
