:host {
  position: relative;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);

  --z-icon-width: 18px;
  --z-icon-height: 18px;
  --indicator-size: calc(var(--space-unit) * 4);
  --stepper-item-size: calc(var(--space-unit) * 3.5);
  --indicator-overflow: calc((var(--indicator-size) - var(--stepper-item-size)) / 2);
  --connector-top: calc(var(--space-unit) * 1.75);
}

:host(:not(:last-child)) {
  flex: 1;
}

:host(:not(:last-child))::after {
  position: absolute;
  z-index: 1;
  top: var(--connector-top);
  right: var(--indicator-overflow);
  left: calc(var(--stepper-item-size) + var(--indicator-overflow));
  display: block;
  width: auto;
  border-bottom: var(--border-size-medium) solid var(--color-disabled03);
  content: "";
}

.stepper-item {
  display: flex;
  width: var(--stepper-item-size);
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 0;
  appearance: none;
  background: var(--color-surface01);
  gap: 10px;
  outline: 0;
  text-decoration: none;
}

.indicator {
  display: flex;
  width: var(--indicator-size);
  height: var(--indicator-size);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: var(--border-size-medium) solid var(--color-primary01);
  border-radius: 50%;
  color: var(--color-primary01);
  content: counter(stepper);
  font-size: var(--font-size-1);
  font-weight: var(--font-sb);
  letter-spacing: 0.32px;
  line-height: 1.333;
}

.stepper-item span {
  color: var(--color-default-text);
  font-size: var(--font-size-2);
  letter-spacing: 0.16px;
  line-height: 1.4;
  text-align: center;
}

:host([pressed]) .stepper-item .span,
:host([href]:not([disabled]):focus-within) .stepper-item span {
  font-weight: var(--font-sb);
}

:host([href]:not([disabled], [pressed])) .stepper-item {
  cursor: pointer;
}

:host([disabled]) .stepper-item {
  pointer-events: none;
}

:host([pressed]),
:host([pressed]) .stepper-item {
  pointer-events: none;
}

:host([pressed]:not([disabled])) .indicator {
  border-color: var(--color-hover-primary);
  background: var(--color-hover-primary);
  color: var(--color-text-inverse);
}

:host([href]:not([disabled]):focus-within) .indicator {
  position: relative;
  z-index: 2;
  box-shadow: var(--shadow-focus-primary);
}

:host([href]:not([disabled], [pressed], [checked])) .indicator:hover {
  border-color: var(--color-hover-primary);
  color: var(--color-hover-primary);
}

:host([disabled]) .indicator {
  border-color: var(--color-form-disabled01-icon);
  color: var(--color-form-disabled01-icon);
}

:host([checked]:not([disabled])) .indicator {
  border-color: var(--color-primary01);
  background-color: var(--color-primary01);
}

:host([checked]:not([disabled])) .indicator z-icon {
  fill: var(--color-white);
}

/* Desktop breakpoint */
@media (min-width: 1152px) {
  :host {
    --z-icon-width: 24px;
    --z-icon-height: 24px;
    --indicator-size: calc(var(--space-unit) * 6);
    --stepper-item-size: calc(var(--space-unit) * 4.5);
    --connector-top: calc(var(--space-unit) * 3);
  }

  .stepper-item {
    gap: 12px;
  }

  .indicator {
    font-size: var(--font-size-3);
    line-height: 1.5;
  }

  .stepper-item span {
    font-size: var(--font-size-3);
    line-height: 1.5;
  }
}
