:host {
  position: relative;
  display: block;
  overflow: auto;
  min-width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  padding: var(--space-unit);
}

:host([expandable]) {
  --z-table--expand-button-size: 40px;
}
