:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  display: inline-block;
}

:host > a {
  cursor: pointer;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-bottom: 4px solid transparent;
  color: var(--myz-blue);
  font-size: 14px;
  text-decoration: none;
  transition: border-bottom 0.2s ease, font-size 0.2s ease;
  min-width: 56px;
}

:host > a.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--text-grey-700);
}

:host > a:hover {
  border-bottom: 4px solid rgba(0, 86, 193, 0.5);
  background-color: var(--bg-grey-050);
  text-decoration: none;
  transition: border-bottom 0.2s ease, background-color 0.2s ease;
}

:host > a:focus {
  border-bottom: 4px solid var(--bg-grey-200);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
  background-color: var(--bg-grey-050);
  text-decoration: none;
}

:host > a.visited {
  border-color: rgba(0, 86, 193, 0.5);
  text-decoration: none;
}

:host > a.selected {
  border-bottom: 4px solid var(--myz-blue);
  font-size: 28px;
  transition: border-bottom 0.2s ease, font-size 0.2s ease;
}

/* Tablet / Desktop */

@media only screen and (min-width: 768px) {
  :host > a {
    /* width: 76px; */
  }
}
