:host > div {
  display: flex;
  width: 315px;
  height: 47px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-unit) calc(var(--space-unit) * 1.5);
  gap: calc(var(--space-unit) * 2);

  .app {
    display: flex;
    flex: 1;
    align-items: center;
    gap: var(--space-unit);

    .name {
      font-family: var(--font-family-serif);

      .laz {
        color: var(--red500);
      }
    }
  }

  z-info-reveal {
    --z-info-reveal-panel-width: 250px;

    font-family: var(--font-family-sans);

    --color-surface05: var(--color-surface01);
    --color-text-inverse: var(--color-primary01);
    --color-inverse-icon: var(--color-primary01);
  }
}
