:root,
:host {
  --bg-artboard-gray: #f6f6f6;
  --bg-artboard-white: #ffffff;
  --bg-artboard-gray-light: #e6e6e6;
  --bg-artboard-gray-very-light: #cad1d8;

  --brand-red-normal: #e2001a;
  --brand-red-light: #ff808e;
  --brand-red-dark: #80000f;

  --myz-blue: #0056c1;
  --myz-blue-light: #63a8ff;
  --myz-blue-dark: #003476;

  --text-gray-dark: #424548;
  --text-gray-medium: #676b6f;
  --text-gray-light: #8d9196;
  --text-my-zanichelli-blue: #0056c1;

  --status-success-green: #9cd638;
  --status-warning-orange: #db9909;
  --status-error-red: #dc3122;
}
