:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  position: absolute;
  background-color: #24f4ff;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  left: -100%;
}

:host.skip-to-content-visible,
:host:focus {
  position: static;
  display: block;
}

:host::slotted(*):last-child {
  margin-right: 0;
}

:host::slotted(*).link-invisible {
  opacity: 0;
}

:host::slotted(*).link-visible {
  position: absolute;
  left: 24px;
}

:host.dark {
  background-color: var(--bg-grey-800);
  color: var(--color-white);
}

:host.light {
  background-color: var(--bg-white);
  color: var(--text-grey-800);
}

/* Tablet breakpoint */
@media (min-width: 768px) {
}

/* Desktop breakpoint */
@media (min-width: 1152px) {
  :host::slotted(*) {
    padding: 0 calc(var(--space-unit) * 3);
    border-right: 1px solid var(--bg-grey-800);
  }

  :host::slotted(*):first-child {
    padding-left: 0;
  }

  :host::slotted(*):last-child {
    border-right: none;
    padding-right: 0;
  }

  :host.dark::slotted(*) {
    border-right: 1px solid var(--bg-white);
  }
}

/* Wide breakpoint */
@media (min-width: 1366px) {
}
