:host {
  position: absolute;
  left: -100%;
  height: 60px;
  box-sizing: border-box;
  padding: calc(var(--space-unit) * 1.25) calc(var(--space-unit) * 3);
  background-color: #24f4ff;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  text-align: center;
}

:host > .link-container {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

:host.skip-to-content-visible,
:host:focus {
  position: static;
  display: block;
}

:host > .link-container > a.z-link.link-invisible {
  overflow: hidden;
  width: 0;
  height: 0;
}

:host > .link-container > a.z-link.link-visible {
  width: initial;
  height: initial;
}

:host.dark {
  background-color: var(--color-surface05);
  color: var(--color-surface01);
}

:host.light {
  border: var(--border-size-medium) solid var(--color-surface05);
  background-color: var(--color-surface01);
  color: var(--color-default-text);
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  :host {
    text-align: start;
  }
}

/* Desktop breakpoint */
@media (min-width: 1152px) {
  :host > .link-container {
    padding: 0 calc(var(--space-unit) * 3);
    border-right: var(--border-size-small) solid var(--color-surface05);
  }

  :host > .link-container > a.z-link.link-invisible {
    overflow: initial;
    width: initial;
    height: initial;
  }

  :host > .link-container:first-child {
    padding-left: 0;
  }

  :host > .link-container:last-child,
  :host.dark > .link-container:last-child,
  :host.light > .link-container:last-child {
    padding-right: 0;
    border-right: none;
  }

  :host.dark > .link-container {
    border-right: var(--border-size-small) solid var(--color-surface01);
  }
}
