:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  width: 100%;
  z-index: 2;

  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
}

:host div.card-alert-container {
  border-style: solid;
  border-color: var(--bg-grey-200);
  padding: var(--basex2) var(--basex2);
}

.success {
  background: var(--status-success-green-lighter);
  border-width: 0 0 var(--border-base);
}

.warning,
.error {
  border-width: 0 var(--border-base) var(--border-base);
}

.warning {
  background: var(--status-warning-yellow-lighter);
}

.error {
  background: var(--status-error-red-lighter);
}
