:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  width: 100%;
  z-index: 2;

  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: 48px;
  width: 100%;
}
