z-body {
  font-size: 16px;
  letter-spacing: 0.3px;
}

.theme-list {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0;
}

.theme-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray200);
  padding: var(--space-unit) 0;
}

.theme-list > li > code {
  margin-right: 8px;
}

.theme-list > li > span {
  width: 100px;
  height: 20px;
  display: inline-block;
  border: 1px solid var(--gray400);
  border-radius: 4px;
}
