.themes-story {
  padding: var(--grid-margin);
  color: var(--color-text02);
}

.themes-story span,
.themes-story p {
  font-size: 16px;
  letter-spacing: 0.3px;
}

.themes-story .theme-list {
  padding: 0;
  margin: 0;
  columns: 2;
}

.themes-story .theme-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-unit) 0;
  border-bottom: 1px solid var(--gray200);
  font-weight: var(--font-sb);
}

.themes-story .theme-list > li > code {
  margin-right: 8px;
}

.themes-story .theme-list > li > span {
  display: inline-block;
  width: 100px;
  height: 20px;
  border: 1px solid var(--gray400);
  border-radius: 4px;
}
