:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
  z-index: 10000;
  margin-bottom: calc(var(--space-unit) * 2);
  margin-top: calc(var(--space-unit) * 2);
}

#notification-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
}

::slotted(:not(:last-child)) {
  margin-bottom: calc(var(--space-unit) * 1);
}

#notification-stack.newest-on-top {
  flex-direction: column-reverse;
}

#notification-stack.newest-on-top ::slotted(:not(:last-child)) {
  margin-top: calc(var(--space-unit) * 1);
  margin-bottom: 0;
}

:host(.bottom-centre),
:host(.bottom-right),
:host(.bottom-left) {
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
}

:host(.top-left),
:host(.top-right),
:host(.top-centre) {
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
}


/* Tablet breakpoint */
@media only screen and (min-width: 768px) {

  #notification-stack {
    width: calc(100% / 2);
  }

  :host {
    margin: calc(var(--space-unit) * 3);
  }

  :host(.top-centre) {
    justify-content: flex-start;
	  align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  :host(.top-left) {
    justify-content: flex-start;
	  align-items: flex-start;
    top: 0;
    left: 0;
  }

  :host(.top-right) {
    justify-content: flex-start;
	  align-items: flex-end;
    top: 0;
    right: 0;
  }

  :host(.bottom-centre) {
    justify-content: flex-end;
	  align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  :host(.bottom-right) {
    justify-content: flex-end;
	  align-items: flex-end;
    bottom: 0;
    right: 0;
  }

  :host(.bottom-left) {
    justify-content: flex-end;
	  align-items: flex-start;
    bottom: 0;
    left: 0;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {

  :host {
    margin: calc(var(--space-unit) * 4);
  }

  #notification-stack {
    width: calc(100% / 3);
  }
}
