z-navigation-tabs[orientation="horizontal"] {
  max-width: 400px;
}

z-navigation-tabs[orientation="vertical"] {
  max-height: 260px;
}

.panels-story-wrapper {
  display: flex;
  flex-direction: column;
}

.panels-story-wrapper.vertical {
  flex-direction: row;
}

.panels-story-wrapper z-navigation-tabs + .panels {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--space-unit) * 2) var(--grid-margin);
  border-top: var(--border-size-small) solid var(--color-primary01);
  background-color: var(--color-background);
}

.panels-story-wrapper.vertical .panels {
  width: 100%;
  border-top: none;
  border-left: var(--border-size-small) solid var(--color-primary01);
}

.panels-story-wrapper .panels [role="tabpanel"]:not([hidden]) {
  display: flex;
  align-items: center;
  color: var(-color-text01);
  column-gap: var(--space-unit);
}

.panels-story-wrapper .panels z-icon {
  display: flex;
  align-items: center;
}
