:host {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 0;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  overflow: hidden;
}

:host,
:host *,
::slotted(*) {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.navigation-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: var(--color-white);
  border: none;
  outline: none;
  fill: var(--color-primary01);
  border-radius: var(--border-no-radius);
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px 0px 4px 1px rgb(66, 69, 72, 0.4);
}

.navigation-button:focus:focus-visible {
  fill: var(--color-primary01);
  box-shadow: inset var(--shadow-focus-primary);
}

.navigation-button:disabled {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  scroll-behavior: smooth;

  /* hide scrollbar in Firefox */
  scrollbar-width: none;
}

:host([orientation="horizontal"]) nav {
  width: 100%;
}

:host([orientation="horizontal"]) .navigation-button {
  top: 0;
  height: 100%;
  width: calc(var(--space-unit) * 4);
}

:host([orientation="horizontal"]) .navigation-button:first-child {
  left: 0;
}

:host([orientation="horizontal"]) .navigation-button:last-child {
  right: 0;
}

/* Orientation vertical */
:host([orientation="vertical"]) {
  flex-direction: column;
  width: fit-content;
}

:host([orientation="vertical"]) nav {
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

:host([orientation="vertical"]) .navigation-button {
  left: 0;
  width: 100%;
  height: calc(var(--space-unit) * 4);
}

:host([orientation="vertical"]) .navigation-button:first-child {
  top: 0;
}

:host([orientation="vertical"]) .navigation-button:last-child {
  bottom: 0;
}

:host([size="small"][orientation="vertical"]) .navigation-button {
  height: calc(var(--space-unit) * 4);
}
