:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host>div {
  background: var(--accent-lighter);
  padding: var(--basex2);
  border-radius: var(--radius-base);
  display: flex;
  width: inherit;
}

:host>div>slot {
  color: var(--text-grey-800);
  font-size: 14px;
}

:host>div>z-icon {
  fill: var(--myz-blue);
  cursor: pointer;
  margin-left: var(--basex2);
}
