div {
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: auto;
  box-sizing: border-box;
  width: 256px;
  height: 522px;
  border: var(--border-base) solid var(--bg-grey-200);
  border-radius: var(--radius-base);
}

div.real,
div.trial {
  border-color: var(--accent);
}

/* HIDDEN status */
div.faded {
  border: none;
}

/* HIGHLIGHTED status */
div.highlighted {
  box-shadow: var(--shadow-4);
  outline: none;
}

/* PRESSED status */
div.pressed {
  box-shadow: var(--shadow-8);
  outline: none;
}

div:focus {
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
  outline: none;
}
