:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host > div {
  display: flex;
  width: inherit;
  padding: calc(var(--space-unit) * 2);
  background: var(--accent-lighter);
  border-radius: var(--border-radius);
}

:host > div > slot {
  color: var(--text-grey-800);
  font-size: 14px;
}

:host > div > z-icon {
  margin-left: calc(var(--space-unit) * 2);
  cursor: pointer;
  fill: var(--myz-blue);
}
