:host {
  display: block;
  position: sticky;
  box-sizing: border-box;
  top: 0;
  height: calc(var(--space-unit) * 6);
  padding: calc(var(--space-unit) / 2) calc(var(--space-unit) * 2);
  border-radius: var(--border-radius-min);
  background-color: var(--bg-grey-900);
  z-index: 99;
}

:host(.light) {
  background-color: var(--bg-white);
}

:host > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-panel {
  display: flex;
  gap: calc(var(--space-unit) + 2px);
  align-items: center
}

#right-panel {
  display: flex;
  gap: calc(var(--space-unit) * 2);
  align-items: center;
}

.right-action {
  display: none;
}

#divider-container {
  display: none;
}

z-link {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

z-logo {
  margin-right: calc(var(--space-unit) - 2px);
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host {
    padding: var(--space-unit) calc(var(--space-unit) * 2) var(--space-unit) var(--space-unit);
  }

  .left-action {
    display: none;
  }

  .right-action {
    display: block;
  }

  #divider-container {
    display: block;
    height: 24px;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  #content-container.limited-width {
    margin: auto;
    max-width: var(--mw);
  }
  
}
