:host {
  position: sticky;
  z-index: 99;
  top: 0;
  display: block;
  height: calc(var(--space-unit) * 6);
  box-sizing: border-box;
  padding: calc(var(--space-unit) / 2) calc(var(--space-unit) * 2);
  background-color: var(--gray900);
  border-radius: var(--border-no-radius);
}

:host(.light) {
  background-color: var(--color-white);
}

:host > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host(.limited-width) #content-container {
  max-width: var(--mw);
  margin: auto;
}

.content-panel {
  display: flex;
  align-items: center;
}

.content-panel > :not(:last-child) {
  margin-right: calc(var(--space-unit) * 2);
}

#divider-container {
  display: none;
}

z-link {
  font-family: var(--font-family-sans);
  font-size: 14px;
  font-weight: var(--font-sb);
  letter-spacing: 0.3px;
  line-height: 20px;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host {
    padding: var(--space-unit) calc(var(--space-unit) * 2) var(--space-unit) var(--space-unit);
  }

  :host(.limited-width) {
    padding: var(--space-unit);
  }

  #divider-container {
    display: block;
    height: calc(var(--space-unit) * 3);
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
