:host > label {
  display: block;
  color: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  margin: var(--spcae-unit) 0;
}

:host > label.disabled {
  color: var(--text-grey-700);
}
