:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host > div {
  background: rgb(51, 51, 51);
  border-radius: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 6px;
  position: sticky;
  top: 0;
}

.left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.left > #hashtag {
  display: none;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.right > ::slotted(a) {
  padding: 6px;
  fill: rgb(255, 255, 255);
}

.right > ::slotted(button) {
  display: flex;
  margin: 0;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 16px;
}

.right > ::slotted(z-app-menu) {
  padding: 6px;
  color: aliceblue;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
}
