:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);

  --z-carousel-gutter: 0;
  --z-carousel-items-shadow: ;
}

:host([single]) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:host([single]) .z-carousel-container {
  width: fit-content;
  max-width: 100%;
}

.z-carousel-container {
  display: flex;
  flex-direction: column;
}

.z-carousel-title {
  margin-bottom: calc(var(--space-unit) * 2);
}

.z-carousel-wrapper {
  position: relative;
}

.z-carousel-items-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  margin: 0;
  box-shadow: var(--z-carousel-items-shadow, none);
  column-gap: var(--z-carousel-gutter);
  list-style: none;
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: scroll;
  padding-inline-start: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.z-carousel-items-container::-webkit-scrollbar {
  display: none;
}

.z-carousel-items-container ::slotted(*) {
  scroll-snap-align: center;
}

.z-carousel-navigation-arrow[hidden] {
  display: none;
}

.z-carousel-navigation-arrow[data-direction] {
  position: absolute;
  z-index: 1;
  bottom: 50%;
  transform: translateY(50%);
}

.z-carousel-navigation-arrow[data-direction="next"] {
  right: 0;
}

:host(:not([fixed-arrows])) .z-carousel-wrapper .z-carousel-navigation-arrow {
  display: none;
}

.z-carousel-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: calc(var(--space-unit) * 3);
}

:host([arrows-position="bottom"]) .z-carousel-footer {
  margin-top: calc(var(--space-unit) * 0.75);
}

.z-carousel-footer .numbers-progress,
.z-carousel-footer .dots-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-carousel-footer .dots-progress {
  column-gap: calc(var(--space-unit) * 3);
}

:host(:not([arrows-position="bottom"])) .z-carousel-footer .dots-progress {
  margin-top: calc(var(--space-unit) * 2);
}

.z-carousel-footer .dots-progress button {
  display: flex;
  width: calc(var(--space-unit) * 3);
  height: calc(var(--space-unit) * 3);
  align-items: center;
  padding: 0;
  border: none;
  margin: 0;
  background-color: var(--color-surface03);
  border-radius: calc(var(--space-unit) * 3);
}

.z-carousel-footer .dots-progress button.current {
  background-color: var(--color-primary01);
}

.z-carousel-footer .dots-progress button:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

.z-carousel-footer .dots-progress button:not(.current) {
  cursor: pointer;
}

.z-carousel-footer .numbers-progress {
  column-gap: calc(var(--space-unit) / 2);
}

:host(:not([arrows-position="bottom"])) .z-carousel-footer .numbers-progress {
  margin-top: var(--space-unit);
}

.z-carousel-footer .numbers-progress .current {
  font-weight: var(--font-sb);
}

@media (min-width: 768px) {
  :host(:not([fixed-arrows])) .z-carousel-wrapper:hover .z-carousel-navigation-arrow:not([hidden]) {
    display: flex;
  }
}
