span {
  width: 38px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: var(--border-base) solid var(--bg-artboard-gray-very-light);
  border-radius: 0px var(--radius-base) 0px 0px;

  color: var(--myz-blue);
  fill: var(--myz-blue);
  cursor: pointer;
}

span:active,
span:focus {
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
}

span > span {
  width: 28px;
  height: 28px;
  border-radius: var(--radius-base);
  border: 0px;
}
span:hover > span {
  background: rgb(225, 240, 255);
}
