button {
  width: 42px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--myz-blue);
  fill: var(--myz-blue);
  cursor: pointer;
  outline: none;

  background: none;
  border: none;
  border-left: var(--border-base) solid var(--bg-grey-200);
  border-radius: 0px var(--radius-base) 0px 0px;
  margin: 0;
  padding: 0px;
  width: 48px;
  height: 48px;
}

button:active,
button:focus {
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
}

button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: var(--radius-base);
  border: 0px;
}

button:hover > span {
  background: var(--myz-blue-lighter);
}

button:focus > span {
  background: var(--bg-white);
  border-radius: var(--radius-base);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

button:active > span {
  background: var(--bg-white);
  border-radius: var(--radius-base);
  box-shadow: 0px 2px 4px 0px rgba(66, 69, 72, 0.4);
}

button:disabled {
  cursor: not-allowed;
}

button:disabled > span {
  background: none;
  box-shadow: 0 0 0 0 transparent;
  pointer-events: none;
}

button:disabled > span > z-icon {
  fill: var(--bg-grey-200);
}

button::-moz-focus-inner {
  border: 0;
}
