:host {
  position: sticky;
  left: 0;
  display: block;
  padding: var(--basex2);
  border-width: var(--border-size-small) 0 var(--border-base);
  border-style: solid;
  border-color: var(--gray200);
  background-color: var(--bg-white);
  font-weight: var(--font-rg);
}
