:host,
* {
  box-sizing: border-box;
}

.z-tool {
  --z-tool-size: calc(var(--space-unit) * 5.5);
  --z-tool-icon-size: calc(var(--space-unit) * 2.5);

  position: relative;
  display: inline-flex;
  width: var(--z-tool-size);
  height: var(--z-tool-size);
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  margin: 0;
  background-color: var(--color-surface01);
  border-radius: var(--border-radius);
  cursor: pointer;
}

:host(:is([active], [open])) .z-tool {
  box-shadow: inset 0 0 0 2px var(--color-primary01);
}

@media (hover: hover) {
  :host(:hover),
  :host:has(.z-tool:focus-visible) {
    /* ensure any open tooltip is shown over sibling elements */
    z-index: 1;
  }

  :host(:not([disabled])) .z-tool:hover {
    background-color: var(--color-primary03);
  }
}

:host([disabled]) .z-tool {
  color: var(--color-disabled01-icon);
  cursor: not-allowed;
}

.z-tool:focus-visible {
  box-shadow: inset 0 0 0 2px var(--color-primary01);
  outline: none;
}

z-icon {
  --z-icon-width: var(--z-tool-icon-size);
  --z-icon-height: var(--z-tool-icon-size);

  display: block;
  fill: var(--color-default-icon);
}

:host([disabled]) z-icon {
  fill: var(--color-disabled01-icon);
}

.z-tool-tooltip {
  --z-tooltip-padding: calc(var(--space-unit) * 1.5) calc(var(--space-unit) * 2);
  --z-tooltip-shadow-filter: drop-shadow(0 4px 8px var(--shadow-color-base));

  z-index: 2;
  font-family: var(--font-family-sans);
}

.z-tool-submenu {
  border-radius: calc(var(--border-radius) + var(--border-size-small));
}

.z-tool-submenu ::slotted(z-color-picker) {
  border: var(--border-size-small) solid var(--color-surface03);
  border-radius: var(--border-radius);
}

@media (max-width: 767px) and (hover: none) {
  .z-tool-tooltip {
    display: none !important;
  }
}
