z-popover .container z-button-deprecated:not(:last-child) {
  margin-right: 0.5rem;
}
.popover-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.popover-container z-icon {
  --z-icon-width: 32px;
  --z-icon-height: 32px;
}

/* margins needed to have the z-tooltip design */
z-popover[position*='top'],
z-popover[position*='bottom'] {
  margin: 0.5rem 0;
}

z-popover[position*='left'],
z-popover[position*='right'] {
  margin: 0 0.5rem;
}
