:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);

  position: relative;
  display: inline-block;
}

.popover-content-container {
  position: absolute;
  min-width: 64px;
  min-height: 32px;
  z-index: 5;
}

.popover-content-container.after-down {
  top: 0;
  left: calc(100% + var(--space-unit));
}

.popover-content-container.after-center {
  top: 50%;
  left: calc(100% + var(--space-unit));
  transform: translateY(-50%);
}

.popover-content-container.after-up {
  bottom: 0;
  left: calc(100% + var(--space-unit));
}

.popover-content-container.below-right {
  left: 0;
  top: calc(100% + var(--space-unit));
}

.popover-content-container.below-center {
  left: 50%;
  top: calc(100% + var(--space-unit));
  transform: translateX(-50%);
}

.popover-content-container.below-left {
  right: 0;
  top: calc(100% + var(--space-unit));
}

.popover-content-container.before-down {
  top: 0;
  right: calc(100% + var(--space-unit));
}

.popover-content-container.before-center {
  top: 50%;
  right: calc(100% + var(--space-unit));
  transform: translateY(-50%);
}

.popover-content-container.before-up {
  bottom: 0;
  right: calc(100% + var(--space-unit));
}

.popover-content-container.above-right {
  left: 0;
  bottom: calc(100% + var(--space-unit));
}

.popover-content-container.above-center {
  left: 50%;
  bottom: calc(100% + var(--space-unit));
  transform: translateX(-50%);
}

.popover-content-container.above-left {
  right: 0;
  bottom: calc(100% + var(--space-unit));
}

.arrow {
  position: absolute;
  z-index: 5;
  border-width: 5px;
  border-style: solid;
}

.popover-content-container.after-down:after,
.popover-content-container.after-center:after,
.popover-content-container.after-up:after {
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% - 4px);

  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background: inherit;
  transform: rotate(45deg);
  box-shadow: rgb(0 0 0 / 8%) -1px 1px 2px 0px;
  z-index: 1;
}
