.textarea-wrapper {
  padding: calc(var(--space-unit) * 1.5);

  /* Firefox scrollbar */
  scrollbar-color: var(--color-primary01) transparent;
}

.textarea-wrapper:focus-within {
  box-shadow: var(--shadow-focus-primary);
  outline: none !important;
}

textarea::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(to right, transparent 0 3px, var(--gray200) 3px 7px, transparent 7px 10px);
  border-radius: var(--border-radius);
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--color-primary01);
  border-radius: var(--border-radius);
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hover-primary);
}

textarea {
  width: 100%;
  min-height: 132px;
  padding: 0;
  border: none;
  margin: 0;
  resize: none;
}
