:host {
  display: inline-block;
  width: inherit;
}

:host * {
  box-sizing: border-box;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* GENERAL */
:host input::-ms-clear,
:host input::-ms-reveal {
  display: none;
}

input,
textarea {
  background: var(--color-form-background);
  fill: var(--color-form-default-icon);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-3);
  font-weight: var(--font-rg);
  outline: none;
}

input,
.textarea-wrapper {
  border: var(--border-size-small) solid var(--color-form-surface04);
  border-radius: var(--border-radius-small);
  color: var(--color-form-default-text);
}

:host([size="small"]) input,
:host([size="small"]) textarea,
:host([size="x-small"]) input,
:host([size="x-small"]) textarea {
  font-size: var(--font-size-2);
}

:host.cursor-select input {
  cursor: pointer;
}

/* HOVER */
input:not([readonly]):hover,
.textarea-wrapper:not(.readonly):hover {
  outline: var(--border-size-medium) solid var(--color-surface04);
  outline-offset: -2px;
}

/* FOCUS */
:host:not(.active-select) input:focus:focus-visible,
:host:not([readonly="true"]) .textarea-wrapper:focus-within {
  border-color: var(--color-form-active-primary);
  box-shadow: var(--shadow-focus-primary);
  color: var(--color-form-active-primary);
}

:host input:focus:focus-visible:hover,
.textarea-wrapper:not(.readonly):focus-within:hover {
  outline-color: var(--color-form-active-primary);
}

:host input:focus:focus-visible + .icons-wrapper {
  fill: var(--color-form-active-primary);
}

:host.active-select input {
  border: var(--border-size-small) solid var(--color-form-active-primary);
}

:host.cursor-select input:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
}

:host input[readonly]:focus:focus-visible {
  border-color: var(--color-form-surface03);
  box-shadow: none;
}

/* STATUSES (success, warning, error) */
.input-success {
  border-color: var(--color-form-success01);
  background: var(--color-form-inverse-success);
}

.input-success:focus:focus-visible + .icons-wrapper,
.input-success + .icons-wrapper {
  fill: var(--color-form-success01);
}

.input-error {
  border-color: var(--color-form-hover-error);
  background: var(--color-form-inverse-error);
}

.input-error:focus:focus-visible + .icons-wrapper,
.input-error + .icons-wrapper {
  fill: var(--color-form-hover-error);
}

.input-warning {
  border-color: var(--color-form-hover-warning);
  background: var(--color-form-inverse-warning);
}

.input-warning:focus:focus-visible + .icons-wrapper,
.input-warning + .icons-wrapper {
  fill: var(--color-form-hover-warning);
}

:is(.input-success, .input-error, .input-warning):focus:focus-visible {
  color: var(--color-form-default-text);
}

/* READONLY */
:host:not(.active-select) input[readonly],
.textarea-wrapper.readonly {
  border-color: var(--color-form-surface03);
  fill: var(--color-form-disabled01-icon);
  pointer-events: none;
}

/* DISABLED */
:host([disabled]:not([disabled="false"])) input,
:host([disabled]:not([disabled="false"])) .textarea-wrapper,
:host([disabled]:not([disabled="false"])) z-icon {
  border-color: var(--color-form-disabled03);
  box-shadow: none;
  color: var(--color-form-disabled-text);
  fill: var(--color-form-disabled01-icon);
  pointer-events: none;
}

:host([disabled]:not([disabled="false"])) input:hover {
  border-width: var(--border-size-small);
}

/* PLACEHOLDER */
input::placeholder,
textarea::placeholder {
  color: var(--color-form-placeholder-text);
}

::-webkit-textarea-placeholder {
  color: var(--color-form-placeholder-text);
}

:-ms-textarea-placeholder {
  color: var(--color-form-placeholder-text);
}

::placeholder {
  color: var(--color-form-placeholder-text);
}

:host([disabled]:not([disabled="false"])) label.z-label {
  color: var(--color-disabled03);
}
