.text-wrapper > div {
  position: relative;
  z-index: 1;
  fill: var(--color-form-default-icon);
}

.text-wrapper > div > input {
  width: 100%;
  height: calc(var(--space-unit) * 5.5);
  box-sizing: border-box;
  padding: 0 calc(var(--space-unit) * 1.5);
  margin: 0;
}

:host([size="small"]) .text-wrapper > div > input {
  height: calc(var(--space-unit) * 4.5);
}

:host([size="x-small"]) .text-wrapper > div > input {
  height: calc(var(--space-unit) * 4);
}

.text-wrapper > div > input.has-icon,
.text-wrapper > div > input.has-clear-icon {
  padding-right: calc(var(--space-unit) * 5.25);
}

.text-wrapper > div > input.has-icon.has-clear-icon {
  padding-right: calc(var(--space-unit) * 8);
}

.text-wrapper .icons-wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--space-unit) * 1.5);
  display: flex;
  pointer-events: none;
  transform: translateY(-50%);
}

.text-wrapper .icons-wrapper > button.input-icon {
  display: flex;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  pointer-events: initial;
}

.text-wrapper .icons-wrapper > .input-icon + .input-icon {
  margin-left: calc(var(--space-unit) * 0.5);
}

.text-wrapper .icons-wrapper > button.input-icon.hidden {
  display: none;
}

.text-wrapper .icons-wrapper > button.reset-icon,
.text-wrapper .icons-wrapper > button.toggle-password-icon {
  cursor: pointer;
  /* WCAG 2.5.2: Prevent double-tap-to-zoom gesture from being confused with button activation */
  touch-action: manipulation;
}

.text-wrapper .icons-wrapper > .input-icon {
  --z-icon-width: 18px;
  --z-icon-height: 18px;

  display: block;
}

.text-wrapper .icons-wrapper > .input-icon.small,
.text-wrapper .icons-wrapper > .input-icon.x-small {
  --z-icon-width: 16px;
  --z-icon-height: 16px;
}

.text-wrapper .icons-wrapper > button.input-icon:focus {
  box-shadow: var(--shadow-focus-primary);
  outline: none !important;
}

/* stylelint-disable property-no-vendor-prefix */
.text-wrapper > div > input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: currentcolor;
}
