:host {
  display: table-cell;
  padding: calc(var(--space-unit) * 2);
  background-color: var(--color-white);
  border-bottom: var(--border-size-small) solid var(--bg-grey-200);
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  position: relative;
}

:host > .button-container {
  display: none;
}

:host:hover > .button-container {
  display: initial;
}

.button-container {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 5;
}

.button-content {
  position: relative;
}

.contextual-menu-container {
  display: none;
  position: absolute;
  top: calc(100% - var(--space-unit));
  right: 0;
}

.button-container.visible,
.contextual-menu-container.visible {
  display: initial;
}
