:host > div {
  height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

:host > div > z-icon {
  cursor: pointer;
  margin: calc(var(--space-unit) * 2) 0;
  color: var(--color-primary01);
  fill: var(--color-primary01);
}

:host > div > z-icon.disabled {
  cursor: default;
  pointer-events: none;
  color: var(--color-disabled01);
  fill: var(--color-disabled01);
}
