:host {
  --font-size-link: inherit;
}

:host {
  font-family: var(--dashboard-font);
  font-weight: inherit;
  font-size: var(--font-size-link);
  line-height: inherit;
  outline: none;
}

a {
  cursor: pointer;
  color: var(--color-link01);
  fill: var(--color-link01);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: calc(var(--space-unit) * .5) 0;
  border-top: var(--border-size-medium) solid transparent;
  border-bottom: var(--border-size-medium) solid transparent;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

a:hover,
a:focus,
a:visited {
  color: var(--color-hover-primary);
  fill: var(--color-hover-primary);
}

a:active {
  color: var(--color-pressed-primary);
  fill: var(--color-pressed-primary);
}

a.disabled {
  cursor: default;
  pointer-events: none;
  color: var(--color-disabled03);
  fill: var(--color-disabled03);
}

a.underline,
a.underline:active,
a.underline:hover,
a.underline:visited,
a.underline.disabled {
  text-decoration: underline;
}

a.disabled,
a.disabled:active,
a.disabled:visited,
a.disabled:hover {
  text-decoration: none;
}

a.default-inverse,
a.default-inverse:focus,
a.default-inverse:active,
a.default-inverse:hover {
  color: var(--color-text-inverse);
  fill: var(--color-text-inverse);
}

a.default-inverse:visited {
  color: var(--color-text-inverse);
  fill: var(--color-text-inverse);
}

a.black,
a.black:active,
a.black:visited,
a.black:hover {
  color: var(--bg-grey-900);
  fill: var(--bg-grey-900);
  text-decoration: none;
}

a.white,
a.white:active,
a.white:visited,
a.white:hover {
  color: var(--bg-white);
  fill: var(--bg-white);
  text-decoration: none;
}

a.active,
a.active:active,
a.active:visited {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  text-decoration: none;
  border-bottom: var(--border-size-medium) solid var(--myz-blue);
}

a.big {
  font-size: 16px;
  font-weight: 600;
}

a > z-icon {
  margin-right: 8px;
}
