:host {
  --font-size-link: inherit;
  --font-weight-link: inherit;
}

:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-weight-link);
  font-size: var(--font-size-link);
  line-height: inherit;
  outline: none;
}

a {
  cursor: pointer;
  color: var(--color-link-primary);
  fill: var(--color-link-primary);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: calc(var(--space-unit) * .5) 0;
  border-top: var(--border-size-medium) solid transparent;
  border-bottom: var(--border-size-medium) solid transparent;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

a.active {
  color: var(--color-active-link);
  fill: var(--color-active-link);
}

a:hover,
a:focus {
  color: var(--color-hover-link);
  fill: var(--color-hover-link);
}

a:active {
  color: var(--color-pressed-link);
  fill: var(--color-pressed-link);
}

a:visited {
  color: var(--color-visited-link);
  fill: var(--color-visited-link);
}

a.disabled,
a.inverse.disabled {
  cursor: default;
  pointer-events: none;
  color: var(--color-disabled03);
  fill: var(--color-disabled03);
}

a.underline,
a.underline:active,
a.underline:hover,
a.underline:visited,
a.underline.disabled,
a.underline.black,
a.underline.white {
  text-decoration: underline;
}

a.disabled,
a.disabled:active,
a.disabled:visited,
a.disabled:hover {
  text-decoration: none;
}

a.inverse {
  color: var(--color-inverse-link);
  fill: var(--color-inverse-link);
}

a.inverse.active {
  color: var(--color-inverse-active-link);
  fill: var(--color-inverse-active-link);
}

a.inverse:hover,
a.inverse:focus {
  color: var(--color-inverse-hover-link);
  fill: var(--color-inverse-hover-link);
}

a.inverse:active {
  color: var(--color-inverse-pressed-link);
  fill: var(--color-inverse-pressed-link);
}

a.inverse:visited {
  color: var(--color-inverse-visited-link);
  fill: var(--color-inverse-visited-link);
}

a.black {
  color: var(--gray800);
  fill: var(--gray800);
  text-decoration: none;
}

a.black:hover,
a.black.active,
a.black:visited {
  color: var(--color-black);
  fill: var(--color-black);
}

a.black:hover,
a.black:focus,
a.black:active {
  text-decoration: underline;
}

a.black:active {
  color: var(--gray700);
  fill: var(--gray700);
}

a.white,
a.white:active,
a.white:hover,
a.white.active {
  color: var(--bg-white);
  fill: var(--bg-white);
  text-decoration: none;
}

a.white:visited {
  color: var(--gray300);
  fill: var(--gray300);
}

a.white:hover,
a.white:focus,
a.white:active {
  text-decoration: underline;
}

a.white.disabled,
a.black.disabled {
  color: var(--gray500);
  fill: var(--gray500);
}

a > z-icon:first-child {
  margin-right: 8px;
}

a > z-icon:last-child {
  margin-left: 8px;
}
