:host > article {
  font-family: var(--font-family-sans);
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  :host > article.landscape {
    width: 635px;
    min-height: 332px;
    max-height: 428px;
    border: solid var(--border-size-medium) var(--color-surface03);
    background-color: aquamarine;
    border-radius: var(--border-radius);

    .main-content {
      display: flex;
      height: 300px;
      padding: calc(var(--space-unit) * 2);
      background-color: cadetblue;
      gap: calc(var(--space-unit) * 2);

      .cover {
        display: flex;
        overflow: hidden;
        width: 221px;
        border-radius: var(--border-radius);

        img {
          width: 100%;
          align-self: end;
        }
      }

      .card-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        background-color: yellowgreen;
        gap: calc(var(--space-unit) * 2);

        .book-data {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;
          background-color: violet;

          .authors-title-icon-section {
            display: flex;
            gap: calc(var(--space-unit) * 2);

            .authors-title {
              flex: 1;
              background-color: orange;

              .authors {
                display: -webkit-box;
                overflow: hidden;
                margin-bottom: calc(var(--space-unit) / 2);
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                text-overflow: ellipsis;
              }

              .opera-title {
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                text-overflow: ellipsis;
              }
            }

            .icon {
              width: 28px;
              height: 28px;
              padding: calc(var(--space-unit) / 2);
              background-color: yellow;
            }
          }

          .isbn-link-section {
            background-color: rgb(121 143 121);

            .isbn-tags-section {
              margin-bottom: calc(var(--space-unit) * 2);

              .tags {
                display: flex;
                overflow: hidden;
                height: 22px;
                flex-flow: wrap;
                margin-top: calc(var(--space-unit) / 2);
                gap: var(--space-unit);
              }
            }

            .link-section {
              display: flex;
              justify-content: space-between;
              gap: var(--space-unit);

              .adoption-tag {
                padding: calc(var(--space-unit) / 2) var(--space-unit);
                background-color: var(--green100);
                border-radius: 100px;
                text-transform: uppercase;
              }
            }
          }
        }

        .ebook {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: var(--space-unit);
          background-color: var(--color-primary02);
          border-radius: var(--border-radius);
          gap: var(--space-unit);

          .app-name {
            display: flex;
            align-items: center;
            padding: calc(var(--space-unit) / 2) 0;
            font-family: var(--font-family-serif);
            gap: calc(var(--space-unit) / 2);

            .laz {
              color: var(--red500);
            }
          }
        }
      }
    }
  }
}

/* Desktop breakpoint */

/* 
@media (min-width: 1152px) {
} */

/* Wide breakpoint */

/* @media (min-width: 1366px) {
} */
