li {
  list-style-type: none;
  line-height: 14px;
  width: 308px;
}

li > span {
  height: 14px;
  margin: var(--basex1);
  padding: var(--basex1);
  display: flex;
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.23px;
  width: 264px;
  color: var(--text-gray-dark);
}
li span {
  margin: 0 var(--basex1);
}

.separatedList {
  border-bottom: 2px solid var(--bg-artboard-gray-light);
}

.nestedText {
  font-size: 14px;
}
