:host {
  display: inline-block;
  width: inherit;
}

/* GENERAL */
:host input::-ms-clear { 
  display: none;
}

:host input,
:host textarea,
:host ul[role="listbox"] {
  background: var(--bg-white);
  border-radius: 0px;
  border: var(--border-size-small) solid var(--bg-grey-200);
  border-color: var(--bg-grey-200);
  box-sizing: border-box;
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 16px;
  outline: none;
}

/* FILLED */
:host .filled {
  border-color: var(--text-grey-800) !important;
}

/* FOCUS */
:host input:focus,
:host ul[role="listbox"].closed:focus,
:host li[role="option"]:focus,
:host .focus {
  border-color: transparent;
  box-shadow: 0 0 2px 2px var(--accent-dark);
  outline: none;
}

/* HOVER */
:host input:hover,
:host textarea:hover,
:host ul[role="listbox"].closed:hover,
:host .hover {
  background: var(--bg-grey-050) !important;
  border-color: var(--text-grey-800) !important;
}

/* READONLY */
:host input[readonly],
:host .readonly,
:host input[readonly].filled,
:host .readonly.filled,
:host ul[role="listbox"].closed.readonly {
  border-color: var(--text-grey-200) !important;
  color: var(--text-grey-800) !important;
  pointer-events: none;
}

/* READONLY - hover */
:host input[readonly]:hover,
:host textarea[readonly]:hover,
:host .readonly.hover,
:host ul[role="listbox"].closed[readonly]:hover {
  background: var(--bg-white);
}

/* DISABLED */
:host input:disabled,
:host .disabled,
:host .filled:disabled,
:host input:disabled:hover,
:host textarea:disabled:hover,
:host .disabled.hover,
:host ul[role="listbox"].closed.disabled,
:host ul[role="listbox"].closed.disabled:hover {
  background: var(--bg-white) !important;
  border-color: var(--bg-grey-200) !important;
  box-shadow: none !important;
  color: var(--text-grey-700) !important;
  fill: var(--bg-grey-200) !important;
  pointer-events: none;
}

/* STATUSES (success, warning, error) */
:host .input_success,
:host .input_success:hover,
:host .input_success.hover {
  background: var(--status-success-green-lighter) !important;
  border-color: var(--status-success-green) !important;
}

:host .input_error,
:host .input_error:hover,
:host .input_error.hover {
  background: var(--status-error-red-lighter) !important;
  border-color: var(--status-error-red) !important;
}

:host .input_warning,
:host .input_warning:hover,
:host .input_warning.hover {
  background: var(--status-warning-yellow-lighter) !important;
  border-color: var(--status-warning-yellow) !important;
}

/* TYPING */
:host input:focus.istyping,
:host .focus.istyping {
  border-color: var(--myz-blue) !important;
  box-shadow: 0 0 0 0 transparent;
  color: var(--myz-blue);
}

/* PLACEHOLDER */
:host input::placeholder,
:host textarea::placeholder {
  color: var(--text-grey-700);
}
::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
  color: var(--text-grey-700);
}
:-ms-input-placeholder,
:-ms-textarea-placeholder {
  color: var(--text-grey-700);
}
::-moz-placeholder {
  color: var(--text-grey-700);
}
:-moz-placeholder {
  color: var(--text-grey-700);
}

/* LABEL */
:host label {
  display: block;
  color: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  margin: var(--basex1) 0;
}

:host label.disabledLabel {
  color: var(--text-grey-700);
}

/* MESSAGES */
:host span.statusMsg {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 14px;
  line-height: 16px;
  min-height: 16px;
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
  margin-top: var(--basex1);
  display: flex;
}

:host span.statusMsg.msg_success {
  color: var(--status-success-green);
  fill: var(--status-success-green);
}

:host span.statusMsg.msg_error {
  color: var(--status-error-red);
  fill: var(--status-error-red);
}

:host span.statusMsg.msg_warning {
  color: var(--status-warning-yellow-dark);
  fill: var(--status-warning-yellow-dark);
}

:host span.statusMsg > z-icon {
  margin-right: var(--basex1);
  margin-top: 1px;
}
