.checkboxWrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-family-sans);
  position: relative;
  color: var(--color-text01);
}

.checkboxWrapper > input {
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.checkboxWrapper .checkboxLabel {
  display: inline-flex;
  align-items: center;
  margin: 0;
  line-height: 1;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
}

.checkboxWrapper .checkboxLabel z-icon {
  fill: var(--color-primary01);
  cursor: pointer;
}

.checkboxWrapper .checkboxLabel.after {
  flex-direction: row;
}

.checkboxWrapper .checkboxLabel.before {
  flex-direction: row-reverse;
}

.checkboxWrapper .checkboxLabel.after > span {
  margin-left: var(--space-unit);
}

.checkboxWrapper .checkboxLabel.before > span {
  margin-right: var(--space-unit);
}

/* focus */
.checkboxWrapper > input:not([readonly]):focus + .checkboxLabel > z-icon {
  box-shadow: var(--shadow-focus-primary);
  border-radius: var(--border-radius-small);
}

/* readonly */
.checkboxWrapper > input[readonly] + .checkboxLabel > z-icon {
  fill: currentColor;
  pointer-events: none;
  cursor: default;
}

/* disabled */
.checkboxWrapper > input:disabled + .checkboxLabel {
  color: var(--color-disabled02);
}

.checkboxWrapper > input:disabled + .checkboxLabel > z-icon {
  fill: var(--color-disabled01);
  cursor: default;
}
