.radioWrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-family-sans);
  position: relative;
  color: var(--color-text01);
}

.radioWrapper > input {
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.radioWrapper .radioLabel {
  display: inline-flex;
  align-items: center;
  margin: 0;
  line-height: 1;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
}

.radioWrapper .radioLabel z-icon {
  fill: var(--color-primary01);
  cursor: pointer;
}

.radioWrapper .radioLabel.after {
  flex-direction: row;
}

.radioWrapper .radioLabel.before {
  flex-direction: row-reverse;
}

.radioWrapper .radioLabel.after > span {
  margin-left: var(--space-unit);
}

.radioWrapper .radioLabel.before > span {
  margin-right: var(--space-unit);
}

/* focus */
.radioWrapper > input:not([readonly]) + .radioLabel > z-icon {
  box-shadow: var(--shadow-focus-primary);
  border-radius: var(--border-radius-small);
}

/* readonly */
.radioWrapper > input[readonly] + .radioLabel > z-icon {
  fill: currentColor;
  pointer-events: none;
  cursor: default;
}

/* disabled */
.radioWrapper > input:disabled + .radioLabel {
  color: var(--color-disabled02);
}

.radioWrapper > input:disabled + .radioLabel > z-icon {
  fill: var(--color-disabled01);
  cursor: default;
}
