:host {
  display: inline-block;
  width: inherit;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* GENERAL */
:host input::-ms-clear,
:host input::-ms-reveal {
  display: none;
}

input,
textarea,
.textareaWrapper,
ul[role="listbox"] {
  background: var(--color-input-field01);
  border-radius: var(--border-radius-small);
  border: var(--border-size-small) solid var(--color-surface04);
  box-sizing: border-box;
  color: var(--color-text02);
  fill: var(--color-icon02);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-size: var(--font-size-3);
  outline: none;
}

/* FOCUS */
input:focus:focus-visible,
li[role="option"]:focus:focus-visible,
.focus {
  box-shadow: var(--shadow-focus-primary);
}

input:focus:focus-visible,
li[role="option"]:focus:focus-visible,
.focus textarea {
  color: var(--color-primary01);
}

/* FILLED */
.filled {
  border-color: var(--color-surface05);
}

/* STATUSES (success, warning, error) */
.input_success,
.input_success:hover,
.input_success.hover {
  background: var(--color-success-inverse);
  border-color: var(--color-success01);
  fill: var(--color-success01);
}

.input_error,
.input_error:hover,
.input_error.hover {
  background: var(--color-error-inverse);
  border-color: var(--color-error01);
  fill: var(--color-error01);
}

.input_warning,
.input_warning:hover,
.input_warning.hover {
  background: var(--color-warning-inverse);
  border-color: var(--color-warning01);
  fill: var(--color-warning01);
}

/* READONLY */
input[readonly],
.readonly {
  border-color: var(--color-disabled01);
  fill: var(--color-disabled01);
  pointer-events: none;
}

/* DISABLED */
input:disabled,
.disabled,
.filled:disabled {
  border-color: var(--color-disabled01);
  color: var(--color-disabled02);
  fill: var(--color-disabled01);
  pointer-events: none;
  box-shadow: none;
}

/* PLACEHOLDER */
input::placeholder,
textarea::placeholder {
  color: var(--color-text05);
}

::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
  color: var(--color-text05);
}

:-ms-input-placeholder,
:-ms-textarea-placeholder {
  color: var(--color-text05);
}

::-moz-placeholder {
  color: var(--color-text05);
}

:-moz-placeholder {
  color: var(--color-text05);
}
