:host > div.textWrapper > div {
  fill: var(--text-grey-800);
}

:host > div.textWrapper > div > input {
  height: 44px;
  width: 100%;
  margin: 0;
  padding: 0 calc(var(--space-unit) * 4.5) 0 calc(var(--space-unit) * 1.5);
  box-sizing: border-box;
}

:host > div.textWrapper > div > input:disabled,
:host > div.textWrapper > div > input[readonly] {
  padding: 0 var(--half-x3);
  box-sizing: border-box;
}

:host > div.textWrapper > div > input.hasIcon,
:host > div.textWrapper > div > input.hasClearIcon {
  padding-right: calc(var(--space-unit) * 4);
}

:host > div.textWrapper > div > input.hasIcon.hasClearIcon {
  padding-right: calc(var(--space-unit) * 7);
}

:host > div.textWrapper > div {
  position: relative;
  z-index: 1;
}

:host > div.textWrapper > div > span.iconsWrapper {
  position: absolute;
  bottom: calc(var(--space-unit) * 1.5);
  right: calc(var(--space-unit) * 1.5);
  z-index: 2;
  height: 18px;
  display: flex;
}

:host > div.textWrapper > div > span.iconsWrapper > z-icon {
  display: block;
  height: 18px;
  width: 18px;
  margin-left: calc(var(--space-unit) * .5px);
}

:host > div.textWrapper > div > span.iconsWrapper > z-icon.resetIcon {
  cursor: pointer;
}
