.textWrapper > div {
  fill: var(--color-icon02);
}

.textWrapper > div > input {
  width: 100%;
  height: calc(var(--space-unit) * 5.5);
  margin: 0;
  padding: 0 calc(var(--space-unit) * 1.5);
  box-sizing: border-box;
}

.textWrapper > div > input.hasIcon,
.textWrapper > div > input.hasClearIcon {
  padding-right: calc(var(--space-unit) * 5.25);
}

.textWrapper > div > input.hasIcon.hasClearIcon {
  padding-right: calc(var(--space-unit) * 8);
}

.textWrapper > div {
  position: relative;
  z-index: 1;
}

.textWrapper .iconsWrapper {
  position: absolute;
  right: calc(var(--space-unit) * 1.5);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  z-index: 2;
  pointer-events: none;
}

.textWrapper .iconsWrapper > button.iconButton {
  background: none;
  color: inherit;
  border: 0;
  padding: 0;
  font: inherit;
  pointer-events: initial;
}

.textWrapper .iconsWrapper > button.iconButton + button.iconButton {
  margin-left: calc(var(--space-unit) * 0.5);
}

.textWrapper .iconsWrapper > button.iconButton.resetIcon,
.textWrapper .iconsWrapper > button.iconButton.showHidePasswordIcon {
  cursor: pointer;
}

.textWrapper .iconsWrapper > button.iconButton > z-icon {
  --z-icon-width: 18px;
  --z-icon-height: 18px;

  display: block;
}

/* Disable background color webkit */
.textWrapper > div > input:-webkit-autofill,
.textWrapper > div > input:-webkit-autofill:hover,
.textWrapper > div > input:-webkit-autofill:focus,
.textWrapper > div > input:-webkit-autofill:active {
  -webkit-background-clip: text !important;
}
