:host > .checkboxWrapper {
  display: inline-block;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: inherit;
  position: relative;
}

:host > .checkboxWrapper > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: 0;
}

:host label {
  display: block;
}

:host label.disabledLabel {
  color: var(--text-grey-700);
}

:host > .checkboxWrapper > label.checkboxLabel {
  display: inline-flex;
  line-height: 16px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  margin: 0;
}

:host > .checkboxWrapper > label.checkboxLabel.after {
  flex-direction: row;
}

:host > .checkboxWrapper > label.checkboxLabel.before {
  flex-direction: row-reverse;
}

:host > .checkboxWrapper > label.checkboxLabel.after > span {
  margin-left: var(--basex1);
}

:host > .checkboxWrapper > label.checkboxLabel.before > span {
  margin-right: var(--basex1);
}

:host > .checkboxWrapper > label.checkboxLabel > z-icon {
  fill: var(--myz-blue);
  height: 18px;
  width: 18px;
}

/* focus */
:host
  > .checkboxWrapper
  > input[type="checkbox"]:focus
  + label.checkboxLabel
  > z-icon {
  box-shadow: 0 0 2px 2px var(--accent-dark);
  border-radius: 2px;
}

/* disabled */
:host
  > .checkboxWrapper
  > input[type="checkbox"]:disabled
  + label.checkboxLabel
  > z-icon {
  fill: var(--bg-grey-700);
  cursor: default;
}

/* readonly */
:host
  > .checkboxWrapper
  > input[type="checkbox"][readonly]
  + label.checkboxLabel
  > z-icon {
  fill: var(--bg-grey-800);
  pointer-events: none;
  cursor: default;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
}

/* Desktop breakpoint */
@media only screen and (min-width: 1025px) {
}
