/* Basic style  */

header {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.5fr 1.1fr 0.7fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  grid-template-areas: "top-header top-header top-header top-header top-header" "main-header main-header main-header main-header main-header" "dropdown-menu dropdown-menu dropdown-menu dropdown-menu dropdown-menu";
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

.top-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "editors";
  grid-area: top-header;
  height: 32px;
  align-items: center;
}

.editors {
  grid-area: editors;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.editors > span {
  margin: 8px;
}

.main-header {
  display: grid;
  grid-template-columns: minmax(241px, 241px) 1fr 2.5fr minmax(180px, 180px);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo link-int link-ext login";
  grid-area: main-header;
  background-color: rgb(48, 56, 64);
  height: 52px;
  align-items: center;
}

.logo {
  grid-area: logo;
  height: 52px;
}

.link-int {
  grid-area: link-int;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.link-int > span {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.link-int > span > .menu-item {
  width: auto;
  height: auto;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2px;
  line-height: 14px;
  font-weight: var(--font-sb);
  font-size: 16px;
  margin: 8px 8px 0 8px;
  padding: 11px;
  text-decoration: none;
}

.link-int > span > .menu-item:focus,
.link-int > span > .menu-item:hover {
  background: rgb(66, 69, 72);
  border-radius: 4px;
  cursor: pointer;
}

.link-int > span > .menu-item:focus + svg {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.link-ext {
  grid-area: link-ext;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.link-ext > a {
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: var(--font-sb);
  color: rgb(255, 255, 255);
  letter-spacing: 0.17px;
  line-height: 14px;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
}

.link-ext > a:hover,
.link-ext > a:focus {
  background: rgb(66, 69, 72);
  border-radius: 4px;
  cursor: pointer;
}

.login {
  grid-area: login;
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  right: 16px;
  top: 42px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  display: grid;
  grid-template-columns: minmax(241px, 241px) 4.7fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". dropdown-links . .";
  grid-area: dropdown-menu;
  background: rgb(230, 230, 230);
  visibility: hidden;
}

.dropdown-menu.visible {
  visibility: visible;
}

.dropdown-links {
  grid-area: dropdown-links;
}

.arrow {
  fill: #e6e6e6;
}

.dropdown-links > a {
  width: auto;
  height: auto;
  color: rgb(0, 86, 193);
  font-size: 14px;
  letter-spacing: 0.18px;
  line-height: 32px;
  text-decoration: none;
  margin: 8px;
  padding-bottom: 4px;
}

.dropdown-links > a:hover {
  color: rgb(66, 69, 72);
  border-bottom: 2px solid rgb(0, 86, 193);
}

/* Stycky bar style  */

.main-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.dropdown-menu.sticky {
  position: fixed;
  top: 52px;
  width: 100%;
}

.login.sticky {
  position: fixed;
  top: 10px;
}
