/* Basic style  */

header {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.5fr 1.1fr 0.7fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  grid-template-areas: "top-header top-header top-header top-header top-header" "main-header main-header main-header main-header main-header" "dropdown-menu dropdown-menu dropdown-menu dropdown-menu dropdown-menu" ". . . . .";
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

.top-header {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". editors";
  grid-area: top-header;
  height: 32px;
  align-items: center;
}

.editors { grid-area: editors; }

.editors > span {
	margin: 8px;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.1fr 1.5fr 0.7fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo link-int void link-ext login";
  grid-area: main-header;
  background-color: rgb(48, 56, 64);
  height: 52px;
  align-items: center;
}

.logo { grid-area: logo; height: 52px;}

.link-int { grid-area: link-int; }

.link-int > .menu-item {
  width: auto;
  height: auto;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2px;
  line-height: 14px;
  font-weight: var(--font-sb);
  font-size: 16px;
  margin: 8px;
  padding: 6px;
}

.link-int > .menu-item:focus,
.link-int > .menu-item:hover {
  background: rgb(66, 69, 72);
  border-radius: 4px;
  cursor: pointer;
}

.void { grid-area: void; }

.link-ext { 
  grid-area: link-ext; 
}

.link-ext > a {
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: var(--font-sb);
  color: rgb(255, 255, 255);
  letter-spacing: 0.17px;
  line-height: 14px;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
}

.link-ext > a:hover,
.link-ext > a:focus {
  background: rgb(66, 69, 72);
  border-radius: 4px;
  cursor: pointer;
}

.login { 
  grid-area: login;
  position: absolute;
  right: 16px;
  top: 42px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  display: grid;
  grid-template-columns: minmax(241px, 1fr) 4.7fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". dropdown-links . .";
  grid-area: dropdown-menu;
  background: rgb(230, 230, 230);
}

.dropdown-links { grid-area: dropdown-links; }

.dropdown-links > .arrow {
  width: 0;
  height: 0;
  margin-top: -8px;
  margin-left: 34px;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #e6e6e6 transparent;
}

.dropdown-links > a {
  width: auto;
  height: auto;
  color: rgb(0, 86, 193);
  font-size: 14px;
  letter-spacing: 0.18px;
  line-height: 32px;
  text-decoration: none;
  margin: 8px;
  padding-bottom: 4px;
}

.dropdown-links > a:hover {
  color: rgb(66, 69, 72);
  border-bottom: 2px solid rgb(0, 86, 193);
}

/* Stycky bar style  */

.main-header.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.dropdown-menu.sticky {
  position: fixed;
  top: 52px;
}

.login.sticky {
  position: fixed;
  top: 10px;
}