:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

z-candybar.hidden {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  color: var(--text-grey-800);
  border-radius: var(--half-x1);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  padding: calc(var(--space-unit) * 3) calc(var(--space-unit) * 2);
}

.content > div > h2 {
  margin: 0;
  padding: 0;
  color: var(--text-grey-800);
  border-radius: 0px;
  font-size: 18px;
  font-weight: var(--font-sb);
  letter-spacing: 0px;
}

.content > div > div {
  padding: calc(var(--space-unit) * 3) 0;
  font-size: 14px;
  letter-spacing: 0.16px;
  line-height: 20px;
}

.content > div > div > p {
  margin: 0;
}

.content > div > div > p > a {
  cursor: pointer;
  font-weight: var(--font-sb);
  color: var(--text-grey-800);
  text-decoration: underline;
  height: 14px;
  display: inline-flex;
}

.content > div > div > p > a:visited {
  color: var(--text-grey-800);
  cursor: pointer;
  z-index: 1000;
}

.content > z-button {
  margin: 0;
  width: 100%;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  .content {
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    padding: var(--basex4) calc(var(--space-unit) * 3);
  }

  .content > div {
    width: 560px;
  }

  .content > div > h2 {
    height: var(--half-x7);
  }

  .content > div > div {
    padding: 0;
  }

  .content > z-button {
    margin: 0;
    width: initial;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
  .content > div {
    width: 935px;
  }
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  .content {
    padding-left: var(--basex4);
    padding-right: var(--basex4);
  }
}
