:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

:host > div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

:host > div.light {
  background: rgb(51, 51, 51, 0.7);
}

:host > div.hidden {
  display: none;
}

.wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-top: 28vh;
  margin-bottom: 28vh;
  margin-left: 8vw;
  margin-right: 8vw;
  height: auto;
  background: rgb(103, 107, 111);
  z-index: 99999;
  box-shadow: 0px -2px 4px 0px rgba(66, 69, 72, 0.4);
}

.wrapper.light {
  background: rgb(246, 246, 246);
}

.content {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: space-between;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  padding: 24px 16px;
}

.content.light {
  background: rgb(246, 246, 246);
}

.content > div > h2 {
  height: 28px;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  border-radius: 0px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 22px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.content > div > h2.light {
  color: rgb(66, 69, 72);
  border-bottom: 2px solid rgb(66, 69, 72);;
}

.content > div > div {
  padding: 16px 0;
  font-size: 14px;
  letter-spacing: 0.16px;
  line-height: 20px;
}

.content > div > div.content.light {
  color: rgb(75, 78, 82);
}

.content > div > div > p {
  margin: 0;
}

.content > z-button {
  margin: 0;
  width: 100%;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host > div {
    position: initial;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    position: fixed;
    top: auto;
    bottom: 0;
    margin: 0 auto;
    padding: 24px;
    left: 0;
    right: 0;
    height: auto;
    background: rgb(103, 107, 111);
    border-radius: 4px 4px 0px 0px;
    z-index: 99999;
  }

  .content {
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    padding: 0;
  }

  .content > div {
    margin-right: 20%;
  }

  .content > div > h2 {
    height: 28px;
  }

  .content > div > div {
    padding-bottom: 0;
  }

  .content > z-button {
    margin: 0;
    width: initial;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}
