:host {
  position: relative;
  display: flex;
  min-width: 128px;
  box-sizing: border-box;
  align-items: center;
  padding: var(--z-table--cells-padding, calc(var(--space-unit) * 2));
  border-bottom: 1px solid var(--color-surface03);
  font-weight: var(--font-sb);
  gap: calc(var(--space-unit) * 2) var(--space-unit);
}

:host([sticky]) {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-surface02);
}

:host([stuck]) {
  box-shadow: 8px 0 16px -4px var(--shadow-color-base);
}

/* Leave the space for the menu button */
:host([show-menu]) ::slotted(:not([slot="contextual-menu"]):nth-last-child(2)) {
  margin-right: calc(var(--space-unit) * 4);
}

.z-th--menu-container {
  position: absolute;
  z-index: 1;
  top: var(--space-unit);
  right: var(--space-unit);
}

:host(:not(:hover, [menu-open])) .z-th--menu-container {
  display: none;
}
