header {
  position: relative;
  display: flex;
  width: auto;
  height: calc(var(--space-unit) * 6);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: var(--border-size-medium) solid var(--color-surface03);
  background-color: var(--color-surface01);
  border-radius: var(--border-radius) var(--border-radius) var(--border-no-radius) var(--border-no-radius);
}

header.real,
header.trial,
header.temp {
  border-bottom: var(--border-size-medium) solid var(--accent);
  background-color: var(--accent-lighter);
}

h2 {
  overflow: hidden;
  height: calc(var(--space-unit) * 2);
  padding: calc(var(--space-unit) * 2);
  margin: 0;
  color: var(--color-surface05);
  font-family: var(--font-family-sans);
  font-size: 12px;
  font-weight: var(--font-sb);
  letter-spacing: 0.22px;
  line-height: calc(var(--space-unit) * 2);
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.faded {
  border-bottom: var(--border-size-medium) solid var(--color-surface02);
}

.faded.real,
.faded.trial,
.faded.temp {
  border-top: var(--border-size-medium) solid var(--accent);
  border-right: var(--border-size-medium) solid var(--accent);
  border-left: var(--border-size-medium) solid var(--accent);
}
