:host {
  --z-section-title--divider-color: var(--red500);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host,
:host * {
  box-sizing: border-box;
}

::slotted(*) {
  margin: 0;
}

::slotted([slot="secondary-title"]) {
  padding-bottom: calc(var(--space-unit) / 2);
  border-bottom: var(--border-size-large) solid var(--z-section-title--divider-color);
  text-transform: uppercase;
}

::slotted([slot="primary-title"]) {
  font-size: var(--font-size-6);
  line-height: 2.25rem;
}

:host([uppercase]) ::slotted([slot="primary-title"]) {
  text-transform: uppercase;
}

:host([divider-position="before"]) {

}

:host([divider-position="before"]) {

}

/* Desktop breakpoint */
@media (min-width: 1152px) {
  ::slotted([slot="primary-title"]) {
    font-size: var(--font-size-7);
    line-height: 2rem;
  }
}
