:host {
  --percentuale: 0;

  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 100dvw;
  box-sizing: border-box;
  background: var(--color-surface01);
  border-radius: var(--border-size-large);
  box-shadow: var(--shadow-3);
  color: var(--color-default-text);
  fill: var(--color-primary01-icon);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  font-weight: var(--font-rg);
}

:host(.slide-in-left) {
  animation: slideinleft 1s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-fill-mode: forwards;
}

:host(.slide-in-right) {
  animation: slideinright 1s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-fill-mode: forwards;
}

:host(.slide-in-down) {
  animation: slideindown 1s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-fill-mode: forwards;
}

:host(.slide-in-up) {
  animation: slideinup 1s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-fill-mode: forwards;
}

:host(.slide-out-left) {
  animation: slideoutleft 0.5s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-fill-mode: forwards;
}

:host(.slide-out-right) {
  animation: slideoutright 0.5s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-fill-mode: forwards;
}

:host(.slide-out-down) {
  animation: slideoutdown 0.5s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-fill-mode: forwards;
}

:host(.slide-out-up) {
  animation: slideoutup 0.5s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-fill-mode: forwards;
}

.toast-notification-container {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  padding: calc(var(--space-unit) * 2);
  border-radius: var(--border-radius);
  gap: calc(var(--space-unit) * 2);
}

.toast-notification-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  gap: calc(var(--space-unit) * 2);
}

.toast-notification-content .toast-notification-text {
  color: inherit;
  letter-spacing: 0.16px;
  line-height: 1.25rem;
}

.toast-notification-content .toast-notification-text .title {
  margin-right: calc(var(--space-unit) / 2);
  font-weight: var(--font-sb);
}

.close-button {
  height: 1.125rem; /* same height of the icon */
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-button z-icon {
  --z-icon-width: 1.125rem;
  --z-icon-height: 1.125rem;

  display: inline-block;
  height: 1.25rem;
}

.close-button:focus:focus-visible {
  border-radius: 50%;
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

:host(.dark) {
  background: var(--color-surface05);
  color: var(--color-text-inverse);
  fill: var(--color-inverse-icon);
}

:host(.dark) .close-button:focus:focus-visible {
  box-shadow:
    0 0 0 2px var(--gray900),
    0 0 2px 5px var(--blue25);
}

:host(.accent) {
  background: var(--color-primary01);
}

:host(.error) {
  background: var(--color-default-error);
}

:host(.success) {
  background: var(--color-default-success);
}

:host(.warning) {
  background: var(--color-default-warning);
}

:host(.accent),
:host(.error),
:host(.success) {
  color: var(--color-text-inverse);
  fill: var(--color-inverse-icon);
}

:host(.warning) .close-button {
  fill: var(--color-default-icon);
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  :host {
    width: fit-content;
    max-width: 50vw;
  }

  .toast-notification-content {
    flex-wrap: nowrap;
  }
}

/* Wide breakpoint */
@media (min-width: 1366px) {
  :host {
    max-width: 33vw;
  }
}

@keyframes slideinleft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideinright {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideinup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideindown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideoutleft {
  0% {
    /* stylelint-disable-next-line alpha-value-notation */
    opacity: calc(100% - var(--percentuale));
    transform: translateX(var(--percentuale));
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideoutright {
  0% {
    /* stylelint-disable-next-line alpha-value-notation */
    opacity: calc(100% - var(--percentuale));
    transform: translateX(var(--percentuale));
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideoutup {
  0% {
    opacity: 1;
    transform: translateY(var(--percentuale));
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideoutdown {
  0% {
    opacity: 1;
    transform: translateY(var(--percentuale));
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
