:host {
  display: inline-block;
  min-height: 52px;
  min-width: 200px;
  max-width: 100%;
}

:host > #external-container {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.16px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px 0px rgba(66, 69, 72, 0.4);
}

:host > #external-container > div:first-child {
  line-height: 20px;
  display: flex;
  align-items: center;
}

:host > #external-container > div > #text > .title {
  margin-right: 4px;
  font-weight: 600;
}

:host > #external-container > div > #text {
  color: var(--color-white);
  margin-right: 16px;
  letter-spacing: 0.16px;
}

:host > #external-container > div > #icon {
  cursor: pointer;
  fill: var(--color-white);
}

:host > #external-container.dark {
  background: var(--gray800);
}

:host > #external-container.light {
  background: var(--color-background);
}

:host > #external-container.light #icon {
  fill: var(--color-icon01);
}

:host > #external-container.light #text {
  color: var(--grey800)
}

:host > #external-container.accent {
  background: var(--color-primary01);
}

:host > #external-container.error {
  background: var(--color-error-default);
}

:host > #external-container.success {
  background: var(--color-success-default);
}


:host > #external-container.warning {
  background: var(--color-warning-default);
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host {
    max-width: calc(100% / 2);
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {
  :host {
    max-width: calc(100% / 3);
  }
}
