:host {
  width: inherit;
  height: 100%;
  margin: inherit;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host > div {
  width: inherit;
  height: 100%;
  margin: inherit;
}

:host > div > div.background {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
}

:host > div > div.background.open {
  width: 100%;
  height: 100%;
}

:host > div > div.contentWrapper {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: inherit;
  margin: inherit;
}

:host > div > div.contentWrapper > div {
  margin: calc(var(--space-unit) * 0.5) calc(var(--space-unit) * 0.5) 0 calc(var(--space-unit) * 0.5);
  border-radius: var(--space-unit) var(--space-unit) 0 0;
  box-shadow: 0 -2px calc(var(--space-unit) * 0.5) 0 rgb(66 69 72 / 40%);
}
