:host {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  font-family: var(--font-family-sans);
}

:host,
::slotted(*),
* {
  box-sizing: border-box;
}

::slotted(a) {
  text-decoration: none;
}

::slotted(*) {
  color: var(--color-default-text);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host(:is([active], [open])) .label,
.label:hover {
  border-color: var(--color-secondary01);
}

:host(:is([active], [open])) .label ::slotted(*),
.label:focus:focus-visible ::slotted(*),
.label:hover ::slotted(*) {
  font-weight: var(--font-bd);
}

.label {
  display: flex;
  width: 100%;
  align-items: center;
  padding: calc(var(--space-unit) * 2) calc(var(--space-unit) / 2);
  border: 0;
  border-bottom: var(--border-size-small) solid var(--color-surface05);
  margin: 0;
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  text-align: left;
}

::slotted([data-text]) {
  display: inline-flex;
  flex-direction: column;
}

/* Trick to prevent layout shifts on font-weight changes.
The trick is to put an hidden copy of the text already set to bold,
so the needed space is correctly calculated before any hover/active state changes the
font-weight of the real text.
The hidden text has an height of 0px so it can expand the width without changing the height
when placed below the real text using `flex-direction: column`. */
::slotted([data-text])::after {
  overflow: hidden;
  height: 0;
  content: attr(data-text);
  content: attr(data-text) / "";
  font-weight: var(--font-bd);
  pointer-events: none;
  user-select: none;
  visibility: hidden;
}

@media speech {
  ::slotted([data-text])::after {
    display: none;
  }
}

.label ::slotted(*) {
  width: 100%;
  margin: 0;
  font-size: var(--font-size-3);
  line-height: 1.25;
}

.label:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

.label z-icon {
  margin-left: calc(var(--space-unit) * 4);
  fill: var(--color-default-icon);
}

.items {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: calc(var(--space-unit) / 2);
  padding-bottom: calc(var(--space-unit) * 1.5);
}

.items > ::slotted([slot="section"]) {
  display: inline-flex;
  padding: calc(var(--space-unit) / 2);
  margin: 0;
  font-size: var(--font-size-2);
  line-height: 1.4;
  outline: none;
}

.items > ::slotted([slot="section"]:focus:focus-visible) {
  box-shadow: var(--shadow-focus-primary);
  color: var(--color-secondary01);
}

.items > ::slotted([slot="section"]:hover),
.items > ::slotted([slot="section"]:focus:focus-visible),
.items > ::slotted([slot="section"][active]) {
  color: var(--color-secondary01);
  font-weight: var(--font-bd);
}
