:host {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  color: var(--text-grey-800);
  border: none;
  border-bottom: var(--border-size-small) solid var(--bg-grey-800);
  background-color: rgba(blue, 0.486);
}

:host, * {
  box-sizing: border-box;
}

:host(:hover),
:host([active]) {
  border-color: var(--blue500);
}

.label {
  display: flex;
  align-items: center;
  width: 100%;
}

.label ::slotted(*) {
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.label z-icon {
  margin-left: calc(var(--space-unit) * 4);
  fill: var(--bg-grey-800);
}

.content {
  width: 100%;
  padding: calc(var(--space-unit) / 2) calc(var(--space-unit) / 2) calc(var(--space-unit) * 2);
  background: yellow;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.items:empty {
  display: none;
}

.items > ::slotted([slot='item']) {
  display: flex;
  width: 100%;
  padding: calc(var(--space-unit) / 2) 0;
}

.items > ::slotted([slot='item']:last-child) {
  padding-bottom: 0;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {}
