:host > button {
  display: inline-block;
  padding: 0 calc(var(--space-unit) * 1.5);
  background-color: var(--bg-white);
  border: var(--border-size-medium) solid var(--bg-grey-200);
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-size: 14px;
  box-shadow: var(--shadow-2);
}

:host > div {
  display: inline-block;
  min-height: 28px;
  line-height: 28px;
  padding: 0 calc(var(--space-unit) * 1.5);
  background-color: var(--bg-white);
  border: var(--border-size-small) solid var(--bg-grey-200);
  border-radius: 14px;
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-size: 12px;
}

.boldtext {
  font-weight: bold;
}

:host > button:hover {
  color: var(--myz-blue-dark);
}

:host > button:disabled {
  border: var(--border-size-medium) solid var(--bg-grey-200);
  color: rgb(149, 153, 157);
  box-shadow: none;
}

:host > button.default:focus:focus-visible,
:host > button.mini:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

:host > button:not(:disabled):active {
  background-color: var(--gray50);
}

:host > button.default,
:host > div.default {
  min-height: 44px;
  border-radius: 22px;
  line-height: 44px;
}

:host > button.mini,
:host > div.mini {
  min-height: 36px;
  border-radius: 22px;
  line-height: 36px;
}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {
  :host > button {
    font-size: 12px;
  }

  :host > button.default,
  :host > div.default {
    min-height: 32px;
    border-radius: 16px;
    line-height: 32px;
  }

  :host > button.mini,
  :host > div.mini {
    min-height: 24px;
    border-radius: 16px;
    line-height: 24px;
  }
}
