:host {
  font-family: var(--dashboard-font);
}

:host(.no-margin) > * {
  margin: 0;
}

:host(.regular) > * {
  font-weight: var(--font-rg);
}

:host(.semibold) > * {
  font-weight: 600;
}

:host(.light) > * {
  font-weight: 300;
}


.heading-h1 {
 font-size: 32px;
 line-height: 40px;
}

.heading-h1-sm, .heading-h2  {
 font-size: 28px;
 line-height: 36px;
}


.heading-h2-sm, .heading-h3{
 font-size: 24px;
 line-height: 32px;
}


.heading-h4{
 font-size: 20px;
 line-height: 28px;
}



/* Tablet breakpoint */
@media only screen and (min-width: 768px) {}

/* Desktop breakpoint */
@media only screen and (min-width: 1152px) {}

/* Wide breakpoint */
@media only screen and (min-width: 1366px) {}
