@import "~flatpickr/dist/flatpickr.min.css";
@import "~flatpickr/dist/plugins/monthSelect/style.css";

/* stylelint-disable selector-class-pattern -- we have no control over flatpickr css classes naming */

:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);

  --z-range-picker--toggle-height: 0;
}

z-date-picker {
  position: relative;
}

z-date-picker > div > * {
  cursor: pointer !important;
}

z-range-picker {
  position: relative;
}

.flatpickr-toggle-container {
  width: fit-content;
}

.range-pickers-container > div {
  position: relative;
}

.hidden-input {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  visibility: hidden !important;
}

/* Calendar container selectors */
.flatpickr-calendar::before,
.flatpickr-calendar::after {
  display: none;
}

.flatpickr-calendar {
  position: absolute !important;
  top: var(--z-range-picker--toggle-height) !important;
  left: 0 !important;
  padding-top: calc(var(--space-unit) * 2);
  border-radius: 2px;
  box-shadow: var(--shadow-2);
  font-family: var(--font-family-sans) !important;
}

.months.top > .flatpickr-calendar {
  top: -288px !important;
}

.date.top > .flatpickr-calendar,
.date.top > div > .flatpickr-calendar {
  top: -401px !important;
}

.date-time.top > .flatpickr-calendar,
.date-time.top > div > .flatpickr-calendar {
  top: -523px !important;
}

.flatpickr-calendar,
.flatpickr-innerContainer,
.flatpickr-days,
.dayContainer,
.flatpickr-rContainer,
.flatpickr-monthSelect-months {
  width: calc(var(--space-unit) * 42) !important;
  max-width: calc(var(--space-unit) * 42) !important;
}

.flatpickr-monthSelect-months {
  box-sizing: border-box;
  padding: 0 !important;
  margin: calc(var(--space-unit) * 2) 0 !important;
}

/* Months and year row containers selectors */
.flatpickr-months {
  position: relative;
  height: calc(var(--space-unit) * 6) !important;
  align-items: center;
  margin-bottom: var(--space-unit) 0 !important;
}

.flatpickr-month {
  overflow: visible !important;
  height: calc(var(--space-unit) * 6) !important;
}

.flatpickr-current-month {
  left: 0 !important;
  display: flex !important;
  width: fill-available;
  height: calc(var(--space-unit) * 6);
  align-items: baseline;
  justify-content: space-evenly;
  padding-top: 0;
}

/* Months arrows selectors */
.flatpickr-next-month,
.flatpickr-prev-month {
  position: static !important;
  display: flex;
  width: calc(var(--space-unit) * 4) !important;
  height: calc(var(--space-unit) * 4) !important;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.flatpickr-prev-month {
  margin-left: var(--space-unit);
}

.flatpickr-next-month {
  margin-right: var(--space-unit);
}

.flatpickr-next-month > svg,
.flatpickr-prev-month > svg {
  width: calc(var(--space-unit) * 2) !important;
  height: calc(var(--space-unit) * 2) !important;
  fill: var(--color-primary01);
}

.flatpickr-next-month:hover,
.flatpickr-prev-month:hover,
.flatpickr-next-month:focus,
.flatpickr-prev-month:focus {
  border: none !important;
  border-color: var(--color-primary03) !important;
  background-color: var(--color-primary03) !important;
  border-radius: var(--border-radius);
  color: var(--color-hover-primary) !important;
  outline: none !important;
}

.flatpickr-next-month:hover svg,
.flatpickr-prev-month:hover svg {
  fill: var(--color-hover-primary) !important;
}

.flatpickr-next-month:active,
.flatpickr-prev-month:active {
  border-color: var(--color-surface01) !important;
  background-color: var(--color-surface01) !important;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2) !important;
  color: var(--color-primary01) !important;
}

.flatpickr-next-month:focus svg,
.flatpickr-prev-month:focus svg {
  fill: var(--color-primary01) !important;
}

/* Months dropdown selectors */
.flatpickr-monthDropdown-months {
  width: 108px !important;
  height: calc(var(--space-unit) * 5.5) !important;
  padding-left: var(--space-unit) !important;
  background: var(--color-surface01) !important;
  color: var(--color-default-text) !important;
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-rg) !important;
  outline: 1px solid black !important;
}

.flatpickr-monthDropdown-months:hover,
.flatpickr-monthDropdown-months:focus {
  outline: 1px solid var(--color-primary01) !important;
}

/* Year toggle selectors */
.flatpickr-current-month > .numInputWrapper {
  display: flex;
  width: calc(var(--space-unit) * 10);
  height: calc(var(--space-unit) * 5.5) !important;
  background: var(--color-surface01) !important;
  color: var(--color-default-text);
  outline: 1px solid black !important;
}

.flatpickr-current-month > .numInputWrapper:hover,
.flatpickr-current-month > .numInputWrapper:focus-within {
  outline: 1px solid var(--color-primary01) !important;
}

.flatpickr-current-month > .numInputWrapper > input {
  padding: 0 calc(var(--space-unit) * 3) 0 var(--space-unit);
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-rg) !important;
  text-align: center;
}

/* Weekdays selectors */
.flatpickr-weekdays {
  height: calc(var(--space-unit) * 6);
  border-bottom: 1px solid var(--color-surface03);
}

.flatpickr-weekday {
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-rg) !important;
}

/* Calendar days and months selectors */
.flatpickr-day,
.flatpickr-monthSelect-month {
  width: calc(var(--space-unit) * 6) !important;
  max-width: 100% !important;
  height: calc(var(--space-unit) * 6) !important;
  border: none;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-size: var(--font-size-3) !important;
  line-height: calc(var(--space-unit) * 6) !important;
}

.flatpickr-day {
  width: calc(var(--space-unit) * 6) !important;
  border: none;
  line-height: calc(var(--space-unit) * 6) !important;
}

.flatpickr-monthSelect-month {
  width: calc(var(--space-unit) * 14) !important;
  padding: 0 !important;
  border: 2px solid var(--color-surface01) !important;
  line-height: calc(var(--space-unit) * 5) !important;
}

.flatpickr-day:not(.flatpickr-disabled):hover,
.flatpickr-day:not(.flatpickr-disabled):active,
.flatpickr-day:not(.flatpickr-disabled):focus,
.flatpickr-day:not(.flatpickr-disabled).prevMonthDay:hover,
.flatpickr-day:not(.flatpickr-disabled).prevMonthDay:active,
.flatpickr-day:not(.flatpickr-disabled).prevMonthDay:focus,
.flatpickr-day:not(.flatpickr-disabled).selected:hover,
.flatpickr-day:not(.flatpickr-disabled).selected:active,
.flatpickr-day:not(.flatpickr-disabled).selected:focus,
.flatpickr-monthSelect-month:hover,
.flatpickr-monthSelect-month:active,
.flatpickr-monthSelect-month:focus {
  border-color: var(--color-hover-primary) !important;
  background-color: var(--color-hover-primary) !important;
  color: var(--color-inverse-text) !important;
}

.flatpickr-day.today,
.flatpickr-monthSelect-month.today {
  border: 2px solid var(--color-hover-primary) !important;
}

.flatpickr-day.selected:not(.flatpickr-disabled),
.flatpickr-monthSelect-month.selected:not(.flatpickr-disabled) {
  border-color: var(--color-primary01) !important;
  background-color: var(--color-primary01) !important;
}

.flatpickr-weekday:nth-child(6),
.flatpickr-weekday:nth-child(7),
.flatpickr-day:nth-child(7n + 6),
.flatpickr-day:nth-child(7n + 7) {
  font-weight: var(--font-sb) !important;
}

/* Date and time selectors */
.flatpickr-time {
  display: block;
  height: 90px !important;
  max-height: 90px !important;
  text-align: left;
}

.flatpickr-time::before {
  display: block;
  width: 100%;
  padding-left: var(--space-unit);
  color: var(--color-default-text) !important;
  content: "Orario";
  font-size: var(--font-size-1);
  font-weight: var(--font-sb);
  text-transform: uppercase;
}

.flatpickr-time.time24hr {
  margin: calc(var(--space-unit) * 2) !important;
}

.flatpickr-time.time24hr > .numInputWrapper > input:hover,
.flatpickr-time.time24hr > .numInputWrapper > input:focus,
.flatpickr-time.time24hr > .numInputWrapper:hover {
  background-color: var(--color-surface01) !important;
}

.flatpickr-time.time24hr > div {
  width: calc(var(--space-unit) * 10) !important;
  height: calc(var(--space-unit) * 5.5) !important;
  margin-right: var(--space-unit) !important;
  margin-left: var(--space-unit) !important;
}

.flatpickr-time-separator {
  display: flex;
  height: calc(var(--space-unit) * 5.5) !important;
  align-items: center;
  justify-content: center;
  font-weight: unset !important;
}

.flatpickr-minute,
.flatpickr-hour {
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-rg) !important;
  outline: 1px solid black !important;
}

.numInputWrapper:hover .flatpickr-minute,
.numInputWrapper:hover .flatpickr-hour,
.flatpickr-minute:focus,
.flatpickr-hour:focus {
  outline: 1px solid var(--color-primary01) !important;
}

/* toggle arrows selectors */
.arrowUp,
.arrowDown {
  width: calc(var(--space-unit) * 2) !important;
  height: calc(var(--space-unit) * 2) !important;
  padding: 0 !important;
  border: none !important;
  opacity: 1 !important;
}

.arrowUp {
  margin-top: calc(var(--space-unit) / 2) !important;
  margin-right: calc(var(--space-unit) / 2) !important;
}

.arrowDown {
  top: auto !important;
  margin-top: calc(var(--space-unit) * 3) !important;
  margin-right: calc(var(--space-unit) / 2) !important;
}

.arrowUp:hover,
.arrowDown:hover {
  border-color: var(--color-primary03) !important;
  background-color: var(--color-primary03) !important;
  border-radius: var(--border-radius);
  color: var(--color-hover-primary) !important;
}

.arrowUp:active,
.arrowDown:active {
  border-color: var(--color-surface01) !important;
  background-color: var(--color-surface01) !important;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2) !important;
  color: var(--color-primary01) !important;
}

.arrowUp::after,
.arrowDown::after {
  padding: 2.5px !important;
  border: solid var(--color-primary01) !important;
  border-width: 0 1px 1px 0 !important;
}

.arrowUp::after {
  top: 0 !important;
  margin-top: 6px !important;
  margin-left: 5.5px !important;
  transform: rotate(-135deg);
}

.arrowDown::after {
  top: 0 !important;
  left: 5.5px !important;
  margin-top: 4px !important;
  transform: rotate(45deg);
}

/* range-date-picker selectors */

.flatpickr-day:not(.flatpickr-disabled).inRange:hover,
.flatpickr-day:not(.flatpickr-disabled).today.inRange:hover,
.flatpickr-day.prevMonthDay:not(.flatpickr-disabled).inRange:hover,
.flatpickr-monthSelect-month:not(.flatpickr-disabled).inRange:hover {
  border-color: var(--color-hover-primary) !important;
  background-color: var(--color-hover-primary) !important;
}

.flatpickr-day:not(.flatpickr-disabled).inRange,
.flatpickr-day:not(.flatpickr-disabled).today.inRange,
.flatpickr-day:not(.flatpickr-disabled).prevMonthDay.inRange,
.flatpickr-monthSelect-month:not(.flatpickr-disabled).inRange {
  border-color: var(--color-primary03);
  background-color: var(--color-primary03);
}

.flatpickr-day:not(.flatpickr-disabled).startRange,
.flatpickr-day:not(.flatpickr-disabled).endRange,
.flatpickr-monthSelect-month:not(.flatpickr-disabled).startRange,
.flatpickr-monthSelect-month:not(.flatpickr-disabled).endRange {
  border-color: var(--color-primary01) !important;
  background-color: var(--color-primary01) !important;
}

.flatpickr-day:not(.flatpickr-disabled).prevMonthDay.selected.startRange,
.flatpickr-day:not(.flatpickr-disabled).prevMonthDay.selected.endRange {
  border-color: var(--color-primary01) !important;
  background-color: var(--color-primary01) !important;
}

.flatpickr-range.second-input {
  cursor: pointer;
}

.range-pickers-container {
  display: flex;
  gap: 16px;
}
