:host li {
  all: unset;
  all: reset;
  width:100%;
}


:host li {
  list-style-type: none;
  line-height: 14px;
}

:host li > span {
  line-height: 14px;
  padding: calc(var(--space-unit) * 2px) 0;
  display: flex;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 16px;
  letter-spacing: 0.23px;
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
}

:host li > span.border{
  border-bottom: 2px solid var(--bg-grey-200);
}

:host li span:hover, a:hover{
  color: var(--myz-blue);
  fill: var(--myz-blue);
}

a, a:visited, a:active {
  color: inherit;
  fill: inherit;
  text-decoration:none;
}

:host li span z-icon {
  color: var(--myz-blue);
  fill: var(--myz-blue);
  height: calc(var(--space-unit) * 2px);
  width: calc(var(--space-unit) * 2px);
  padding: 0 calc(var(--space-unit) * 1.5px) 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
