.theme-black-yellow {
  --color-background: var(--color-white);
  --color-primary01: var(--gray950);
  --color-primary02: var(--gray50);
  --color-primary03: var(--gray100);
  --color-secondary01: var(--yellow500);
  --color-secondary02: var(--yellow500);
  --color-secondary03: var(--yellow500);
  --color-default-text: var(--gray950);
  --color-text02: var(--gray950);
  --color-text-inverse: var(--color-white);
  --color-input-field02: var(--gray950);
  --color-primary01-icon: var(--gray950);
  --color-hover-primary: var(--gray800);
  --color-hover-secondary: var(--gray950);
  --color-hover-tertiary: var(--gray950);
  --color-hover-surface: var(--gray50);
  --color-hover-primary-text: var(--gray950);
  --color-hover-light: var(--yellow500);
  --color-active-primary: var(--gray800);
  --color-active-secondary: var(--gray800);
  --color-active-tertiary: var(--gray800);
  --color-active-surface: var(--gray300);
  --color-active-light: var(--gray400);
  --color-pressed-primary: var(--gray800);
  --color-highlight: var(--gray950);
  --shadow-focus-primary: 0 0 0 2px var(--color-white), 0 0 2px 5px var(--color-highlight);
}
