.theme-dark {
  --color-background: var(--gray900);
  --shadow-focus-primary: 0 0 0 2px var(--gray900), 0 0 2px 5px var(--blue25);

  /* primary */
  --color-active-primary: var(--gray25);
  --color-hover-primary: var(--gray100);
  --color-pressed-primary: var(--gray25);
  --color-primary01: var(--color-white);
  --color-primary02: var(--gray800);
  --color-primary03: var(--gray700);

  /* secondary */
  --color-hover-secondary: var(--red200);
  --color-secondary01: var(--red500);
  --color-secondary02: var(--red900);
  --color-secondary03: var(--red800);
  --color-button-secondary: transparent;

  /* surface */
  --color-surface01: var(--gray900);
  --color-surface02: var(--gray700);
  --color-surface03: var(--gray300);
  --color-surface04: var(--gray100);
  --color-surface05: var(--color-white);

  /* text */
  --color-default-text: var(--gray100);
  --color-hover-text: var(--gray300);
  --color-pressed-text: var(--gray300);
  --color-text-inverse: var(--gray900);
  --color-text02: var(--gray900);
  --color-text03: var(--gray700);
  --color-text05: var(--gray500);

  /* disabled */
  --color-disabled01: var(--gray700);
  --color-disabled02: var(--gray900);
  --color-disabled03: var(--gray500);

  /* icons */
  --color-active-primary-icon: var(--gray300);
  --color-default-icon: var(--gray100);
  --color-disabled01-icon: var(--gray700);
  --color-disabled02-icon: var(--gray900);
  --color-disabled03-icon: var(--gray500);
  --color-hover-icon: var(--gray300);
  --color-hover-primary-icon: var(--gray300);
  --color-inverse-icon: var(--gray900);
  --color-pressed-icon: var(--gray300);
  --color-primary01-icon: var(--color-white);

  /* alert */
  --color-default-error: var(--red200);
  --color-default-success: var(--green200);
  --color-default-warning: var(--yellow200);
  --color-hover-error: var(--red50);
  --color-hover-success: var(--green50);
  --color-hover-warning: var(--yellow50);
  --color-inverse-error: var(--red800);
  --color-inverse-hover-error: var(--red200);
  --color-inverse-hover-success: var(--green200);
  --color-inverse-hover-warning: var(--yellow200);
  --color-inverse-success: var(--green800);
  --color-inverse-warning: var(--yellow800);

  /* forms */
  --color-form-active-primary: var(--gray800);
  --color-form-hover-primary: var(--gray800);

  /* links */
  --color-text-link-blue-active: var(--color-white);
  --color-text-link-blue-hover: var(--color-white);
  --color-text-link-blue-pressed: var(--color-white);
  --color-text-link-blue-visited: var(--color-white);
  --color-text-link-blue: var(--color-white);
  --color-text-link-default: var(--color-white);
  --color-text-link-inverse: var(--gray900);
  --color-text-link-red-active: var(--color-white);
  --color-text-link-red-hover: var(--color-white);
  --color-text-link-red-pressed: var(--color-white);
  --color-text-link-red-visited: var(--color-white);
  --color-text-link-red: var(--color-white);

  background: var(--color-background);
}
