:root,
.theme-default {
  --color-background: var(--gray50);
  --color-primary01: var(--blue500);
  --color-primary02: var(--blue25);
  --color-primary03: var(--blue50);
  --color-secondary01: var(--red500);
  --color-secondary02: var(--red25);
  --color-secondary03: var(--red50);
  --color-danger01: var(--red500);
  --color-danger02: var(--red500);
  --color-error01: var(--red500);
  --color-error02: var(--red500);
  --color-error-inverse: var(--red50);
  --color-text-error: var(--red700);
  --color-success01: var(--green500);
  --color-success02: var(--green500);
  --color-text-success: var(--color-success-default);
  --color-success-inverse: var(--green50);
  --color-warning01: var(--yellow500);
  --color-warning02: var(--yellow500);
  --color-text-warning: var(--color-warning-default);
  --color-warning-inverse: var(--yellow50);
  --color-surface01: var(--color-white);
  --color-surface02: var(--gray100);
  --color-surface03: var(--gray300);
  --color-surface04: var(--gray700);
  --color-surface05: var(--gray900);
  --color-default-text: var(--gray900);
  --color-text02: var(--gray100);
  --color-text03: var(--gray300);
  --color-text05: var(--gray600);
  --color-text-inverse: var(--color-white);
  --color-primary01-icon: var(--blue500);
  --color-default-icon: var(--gray900);
  --color-inverse-icon: var(--color-white);
  --color-hover-icon: var(--color-black);
  --color-pressed-icon: var(--gray700);
  --color-disabled03-icon: var(--gray500);
  --color-disabled01-icon: var(--gray300);
  --color-disabled02-icon: var(--gray100);
  --color-hover-primary-icon: var(--blue800);
  --color-active-primary-icon: var(--blue400);
  --color-input-field01: var(--color-white);
  --color-input-field02: var(--blue500);
  --color-hover-primary: var(--blue800);
  --color-hover-primary-text: var(--color-black);
  --color-hover-secondary: var(--red800);
  --color-hover-tertiary: var(--blue800);
  --color-hover-surface: var(--gray50);
  --color-hover-light: var(--blue400);
  --color-hover-danger: var(--red700);
  --color-hover-error: var(--red700);
  --color-hover-success: var(--green700);
  --color-hover-warning: var(--yellow700);
  --color-active-primary: var(--blue800);
  --color-active-secondary: var(--red400);
  --color-active-tertiary: var(--blue800);
  --color-active-light: var(--blue400);
  --color-pressed-primary: var(--blue400);
  --color-pressed-secondary: var(--red400);
  --color-selected-light: var(--gray300);
  --color-highlight: var(--blue400);
  --color-ghost01: var(--gray300);
  --color-ghost02: var(--gray500);
  --color-disabled01: var(--gray300);
  --color-disabled02: var(--gray100);
  --color-disabled03: var(--gray500);
  --shadow-focus-primary: 0 0 0 2px var(--color-white), 0 0 2px 5px var(--blue800);
  --color-inverse-hover-error: var(--red500);
  --color-inverse-hover-success: var(--green500);
  --color-inverse-hover-warning: var(--yellow500);
  --color-inverse-error: var(--red50);
  --color-inverse-success: var(--green50);
  --color-inverse-warning: var(--yellow50);
}
