.theme-red {
  /* primary */
  --color-active-primary: var(--red400);
  --color-hover-primary: var(--red800);
  --color-pressed-primary: var(--red400);
  --color-primary01: var(--red500);
  --color-primary02: var(--red25);
  --color-primary03: var(--red50);

  /* secondary */
  --color-active-secondary: var(--gray400);
  --color-hover-secondary: var(--gray800);
  --color-pressed-secondary: var(--gray400);
  --color-secondary01: var(--gray500);
  --color-secondary02: var(--gray25);
  --color-secondary03: var(--gray50);

  /* icons */
  --color-active-primary-icon: var(--red400);
  --color-hover-primary-icon: var(--red800);
  --color-primary01-icon: var(--red500);

  /* forms */
  --color-form-active-primary: var(--red400);
  --color-form-hover-primary: var(--red800);
}
