:root {
  --grid-mobile-viewport: 768px;
  --grid-mobile-column: 4;
  --grid-mobile-margin: 16px;
  --grid-mobile-gutter: 16px;
  --grid-tablet-viewport: 768px;
  --grid-tablet-column: 8;
  --grid-tablet-margin: 24px;
  --grid-tablet-gutter: 24px;
  --grid-desktop-viewport: 1152px;
  --grid-desktop-column: 12;
  --grid-desktop-margin: 24px;
  --grid-desktop-gutter: 24px;
  --grid-wide-viewport: 1366px;
  --grid-wide-column: 12;
  --grid-wide-margin: 32px;
  --grid-wide-gutter: 32px;
  --page-max-width: 1366px;

  /* These variables automatically adapt to the viewport size,
    that apps don't have to worry about updating the value manually. */
  --grid-margin: var(--grid-mobile-margin);
  --grid-gutter: var(--grid-mobile-gutter);
  --grid-columns: var(--grid-mobile-column);
}

@media (min-width: 768px) and (max-width: 1151px) {
  :root {
    --grid-margin: var(--grid-tablet-margin);
    --grid-gutter: var(--grid-tablet-gutter);
    --grid-columns: var(--grid-tablet-column);
  }
}

@media (min-width: 1152px) and (max-width: 1365px) {
  :root {
    --grid-margin: var(--grid-desktop-margin);
    --grid-gutter: var(--grid-desktop-gutter);
    --grid-columns: var(--grid-desktop-column);
  }
}

@media (min-width: 1366px) {
  :root {
    --grid-margin: var(--grid-wide-margin);
    --grid-gutter: var(--grid-wide-gutter);
    --grid-columns: var(--grid-wide-column);
  }
}

.z-grid {
  display: grid;
  width: 100%;
  column-gap: var(--grid-gutter);
  grid-template-columns: repeat(var(--grid-columns), 1fr);

  .col-full {
    grid-column: 1 / -1;
  }

  .col-1 {
    grid-column: span 1;
  }

  .col-2 {
    grid-column: span 2;
  }

  .col-3 {
    grid-column: span 3;
  }

  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    grid-column: span 4;
  }

  .col-start-1 {
    grid-column-start: 1;
  }

  .col-start-2 {
    grid-column-start: 2;
  }

  .col-start-3 {
    grid-column-start: 3;
  }

  .col-start-4,
  .col-start-5,
  .col-start-6,
  .col-start-7,
  .col-start-8,
  .col-start-9,
  .col-start-10,
  .col-start-11,
  .col-start-12 {
    grid-column-start: 4;
  }

  /*
  .-col-start-1 is intentionally left out
*/

  .-col-start-2 {
    grid-column-start: -2;
  }

  .-col-start-3 {
    grid-column-start: -3;
  }

  .-col-start-4 {
    grid-column-start: -4;
  }

  .-col-start-5,
  .-col-start-6,
  .-col-start-7,
  .-col-start-8,
  .-col-start-9,
  .-col-start-10,
  .-col-start-11,
  .-col-start-12,
  .-col-start-13 {
    grid-column-start: -5;
  }

  .col-end-last {
    grid-column-end: -1;
  }

  /*
  .col-end-1 is intentionally left out
*/

  .col-end-2 {
    grid-column-end: 2;
  }

  .col-end-3 {
    grid-column-end: 3;
  }

  .col-end-4 {
    grid-column-end: 4;
  }

  /*
  This means "end this column where column 5 start",
  which is the same as saying "end this column where column 4 end"
*/
  .col-end-5,
  .col-end-6,
  .col-end-7,
  .col-end-8,
  .col-end-9,
  .col-end-10,
  .col-end-11,
  .col-end-12,
  .col-end-13 {
    grid-column-end: 5;
  }

  .-col-end-1 {
    grid-column-end: -1;
  }

  .-col-end-2 {
    grid-column-end: -2;
  }

  .-col-end-3 {
    grid-column-end: -3;
  }

  .-col-end-4,
  .-col-end-5,
  .-col-end-6,
  .-col-end-7,
  .-col-end-8,
  .-col-end-9,
  .-col-end-10,
  .-col-end-11,
  .-col-end-12 {
    grid-column-end: -4;
  }

  @media (max-width: 767px) {
    .mobile-col-full {
      grid-column: 1 / -1;
    }

    .mobile-col-1 {
      grid-column: span 1;
    }

    .mobile-col-2 {
      grid-column: span 2;
    }

    .mobile-col-3 {
      grid-column: span 3;
    }

    .mobile-col-4 {
      grid-column: span 4;
    }
  }

  @media (min-width: 768px) {
    .col-5 {
      grid-column: span 5;
    }

    .col-6 {
      grid-column: span 6;
    }

    .col-7 {
      grid-column: span 7;
    }

    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
      grid-column: span 8;
    }

    .col-start-5 {
      grid-column-start: 5;
    }

    .col-start-6 {
      grid-column-start: 6;
    }

    .col-start-7 {
      grid-column-start: 7;
    }

    .col-start-8,
    .col-start-9,
    .col-start-10,
    .col-start-11,
    .col-start-12 {
      grid-column-start: 8;
    }

    .-col-start-6 {
      grid-column-start: -6;
    }

    .-col-start-7 {
      grid-column-start: -7;
    }

    .-col-start-8 {
      grid-column-start: -8;
    }

    .-col-start-9,
    .-col-start-10,
    .-col-start-11,
    .-col-start-12,
    .-col-start-13 {
      grid-column-start: -9;
    }

    .col-end-6 {
      grid-column-end: 6;
    }

    .col-end-7 {
      grid-column-end: 7;
    }

    .col-end-8 {
      grid-column-end: 8;
    }

    .col-end-9,
    .col-end-10,
    .col-end-11,
    .col-end-12,
    .col-end-13 {
      grid-column-end: 9;
    }

    .-col-end-5 {
      grid-column-end: -5;
    }

    .-col-end-6 {
      grid-column-end: -6;
    }

    .-col-end-7 {
      grid-column-end: -7;
    }

    .-col-end-8,
    .-col-end-9,
    .-col-end-10,
    .-col-end-11,
    .-col-end-12 {
      grid-column-end: -8;
    }
  }

  @media (min-width: 768px) and (max-width: 1151px) {
    .tablet-col-full {
      grid-column: 1 / -1;
    }

    .tablet-col-1 {
      grid-column: span 1;
    }

    .tablet-col-2 {
      grid-column: span 2;
    }

    .tablet-col-3 {
      grid-column: span 3;
    }

    .tablet-col-4 {
      grid-column: span 4;
    }

    .tablet-col-5 {
      grid-column: span 5;
    }

    .tablet-col-6 {
      grid-column: span 6;
    }

    .tablet-col-7 {
      grid-column: span 7;
    }

    .tablet-col-8 {
      grid-column: span 8;
    }

    .tablet-col-start-1 {
      grid-column-start: 1;
    }

    .tablet-col-start-2 {
      grid-column-start: 2;
    }

    .tablet-col-start-3 {
      grid-column-start: 3;
    }

    .tablet-col-start-4 {
      grid-column-start: 4;
    }

    .tablet-col-start-5 {
      grid-column-start: 5;
    }

    .tablet-col-start-6 {
      grid-column-start: 6;
    }

    .tablet-col-start-7 {
      grid-column-start: 7;
    }

    .tablet-col-start-8 {
      grid-column-start: 8;
    }

    .-tablet-col-start-2 {
      grid-column-start: -2;
    }

    .-tablet-col-start-3 {
      grid-column-start: -3;
    }

    .-tablet-col-start-4 {
      grid-column-start: -4;
    }

    .-tablet-col-start-5 {
      grid-column-start: -5;
    }

    .-tablet-col-start-6 {
      grid-column-start: -6;
    }

    .-tablet-col-start-7 {
      grid-column-start: -7;
    }

    .-tablet-col-start-8 {
      grid-column-start: -8;
    }

    .tablet-col-end-2 {
      grid-column-end: 2;
    }

    .tablet-col-end-3 {
      grid-column-end: 3;
    }

    .tablet-col-end-4 {
      grid-column-end: 4;
    }

    .tablet-col-end-6 {
      grid-column-end: 6;
    }

    .tablet-col-end-7 {
      grid-column-end: 7;
    }

    .tablet-col-end-8 {
      grid-column-end: 8;
    }

    .tablet-col-end-last {
      grid-column-end: -1;
    }

    .-tablet-col-end-1 {
      grid-column-end: -1;
    }

    .-tablet-col-end-2 {
      grid-column-end: -2;
    }

    .-tablet-col-end-3 {
      grid-column-end: -3;
    }

    .-tablet-col-end-4 {
      grid-column-end: -4;
    }

    .-tablet-col-end-5 {
      grid-column-end: -5;
    }

    .-tablet-col-end-6 {
      grid-column-end: -6;
    }

    .-tablet-col-end-7 {
      grid-column-end: -7;
    }

    .-tablet-col-end-8 {
      grid-column-end: -8;
    }
  }

  @media (min-width: 1152px) {
    .col-9 {
      grid-column: span 9;
    }

    .col-10 {
      grid-column: span 10;
    }

    .col-11 {
      grid-column: span 11;
    }

    .col-12 {
      grid-column: span 12;
    }

    .col-start-9 {
      grid-column-start: 9;
    }

    .col-start-10 {
      grid-column-start: 10;
    }

    .col-start-11 {
      grid-column-start: 11;
    }

    .col-start-12 {
      grid-column-start: 12;
    }

    .-col-start-10 {
      grid-column-start: -10;
    }

    .-col-start-11 {
      grid-column-start: -11;
    }

    .-col-start-12 {
      grid-column-start: -12;
    }

    .-col-start-13 {
      grid-column-start: -13;
    }

    .col-end-10 {
      grid-column-end: 10;
    }

    .col-end-11 {
      grid-column-end: 11;
    }

    .col-end-12 {
      grid-column-end: 12;
    }

    .col-end-13 {
      grid-column-end: 13;
    }

    .-col-end-9 {
      grid-column-end: -9;
    }

    .-col-end-10 {
      grid-column-end: -10;
    }

    .-col-end-11 {
      grid-column-end: -11;
    }

    .-col-end-12 {
      grid-column-end: -12;
    }
  }

  @media (min-width: 1152px) and (max-width: 1365px) {
    .desktop-col-full {
      grid-column: 1 / -1;
    }

    .desktop-col-1 {
      grid-column: span 1;
    }

    .desktop-col-2 {
      grid-column: span 2;
    }

    .desktop-col-3 {
      grid-column: span 3;
    }

    .desktop-col-4 {
      grid-column: span 4;
    }

    .desktop-col-5 {
      grid-column: span 5;
    }

    .desktop-col-6 {
      grid-column: span 6;
    }

    .desktop-col-7 {
      grid-column: span 7;
    }

    .desktop-col-8 {
      grid-column: span 8;
    }

    .desktop-col-9 {
      grid-column: span 9;
    }

    .desktop-col-10 {
      grid-column: span 10;
    }

    .desktop-col-11 {
      grid-column: span 11;
    }

    .desktop-col-12 {
      grid-column: span 12;
    }

    .desktop-col-start-1 {
      grid-column-start: 1;
    }

    .desktop-col-start-2 {
      grid-column-start: 2;
    }

    .desktop-col-start-3 {
      grid-column-start: 3;
    }

    .desktop-col-start-4 {
      grid-column-start: 4;
    }

    .desktop-col-start-5 {
      grid-column-start: 5;
    }

    .desktop-col-start-6 {
      grid-column-start: 6;
    }

    .desktop-col-start-7 {
      grid-column-start: 7;
    }

    .desktop-col-start-8 {
      grid-column-start: 8;
    }

    .desktop-col-start-9 {
      grid-column-start: 9;
    }

    .desktop-col-start-10 {
      grid-column-start: 10;
    }

    .desktop-col-start-11 {
      grid-column-start: 11;
    }

    .desktop-col-start-12 {
      grid-column-start: 12;
    }

    .-desktop-col-start-2 {
      grid-column-start: -2;
    }

    .-desktop-col-start-3 {
      grid-column-start: -3;
    }

    .-desktop-col-start-4 {
      grid-column-start: -4;
    }

    .-desktop-col-start-5 {
      grid-column-start: -5;
    }

    .-desktop-col-start-6 {
      grid-column-start: -6;
    }

    .-desktop-col-start-7 {
      grid-column-start: -7;
    }

    .-desktop-col-start-8 {
      grid-column-start: -8;
    }

    .-desktop-col-start-9 {
      grid-column-start: -9;
    }

    .-desktop-col-start-10 {
      grid-column-start: -10;
    }

    .-desktop-col-start-11 {
      grid-column-start: -11;
    }

    .-desktop-col-start-12 {
      grid-column-start: -12;
    }

    .desktop-col-end-2 {
      grid-column-end: 2;
    }

    .desktop-col-end-3 {
      grid-column-end: 3;
    }

    .desktop-col-end-4 {
      grid-column-end: 4;
    }

    .desktop-col-end-6 {
      grid-column-end: 6;
    }

    .desktop-col-end-7 {
      grid-column-end: 7;
    }

    .desktop-col-end-8 {
      grid-column-end: 8;
    }

    .desktop-col-end-9 {
      grid-column-end: 9;
    }

    .desktop-col-end-10 {
      grid-column-end: 10;
    }

    .desktop-col-end-11 {
      grid-column-end: 11;
    }

    .desktop-col-end-12 {
      grid-column-end: 12;
    }

    .desktop-col-end-last {
      grid-column-end: -1;
    }

    .-desktop-col-end-1 {
      grid-column-end: -1;
    }

    .-desktop-col-end-2 {
      grid-column-end: -2;
    }

    .-desktop-col-end-3 {
      grid-column-end: -3;
    }

    .-desktop-col-end-4 {
      grid-column-end: -4;
    }

    .-desktop-col-end-5 {
      grid-column-end: -5;
    }

    .-desktop-col-end-6 {
      grid-column-end: -6;
    }

    .-desktop-col-end-7 {
      grid-column-end: -7;
    }

    .-desktop-col-end-8 {
      grid-column-end: -8;
    }

    .-desktop-col-end-9 {
      grid-column-end: -9;
    }

    .-desktop-col-end-10 {
      grid-column-end: -10;
    }

    .-desktop-col-end-11 {
      grid-column-end: -11;
    }

    .-desktop-col-end-12 {
      grid-column-end: -12;
    }
  }

  @media (min-width: 1366px) {
    .wide-col-full {
      grid-column: 1 / -1;
    }

    .wide-col-1 {
      grid-column: span 1;
    }

    .wide-col-2 {
      grid-column: span 2;
    }

    .wide-col-3 {
      grid-column: span 3;
    }

    .wide-col-4 {
      grid-column: span 4;
    }

    .wide-col-5 {
      grid-column: span 5;
    }

    .wide-col-6 {
      grid-column: span 6;
    }

    .wide-col-7 {
      grid-column: span 7;
    }

    .wide-col-8 {
      grid-column: span 8;
    }

    .wide-col-9 {
      grid-column: span 9;
    }

    .wide-col-10 {
      grid-column: span 10;
    }

    .wide-col-11 {
      grid-column: span 11;
    }

    .wide-col-12 {
      grid-column: span 12;
    }

    .wide-col-start-1 {
      grid-column-start: 1;
    }

    .wide-col-start-2 {
      grid-column-start: 2;
    }

    .wide-col-start-3 {
      grid-column-start: 3;
    }

    .wide-col-start-4 {
      grid-column-start: 4;
    }

    .wide-col-start-5 {
      grid-column-start: 5;
    }

    .wide-col-start-6 {
      grid-column-start: 6;
    }

    .wide-col-start-7 {
      grid-column-start: 7;
    }

    .wide-col-start-8 {
      grid-column-start: 8;
    }

    .wide-col-start-9 {
      grid-column-start: 9;
    }

    .wide-col-start-10 {
      grid-column-start: 10;
    }

    .wide-col-start-11 {
      grid-column-start: 11;
    }

    .wide-col-start-12 {
      grid-column-start: 12;
    }

    .-wide-col-start-2 {
      grid-column-start: -2;
    }

    .-wide-col-start-3 {
      grid-column-start: -3;
    }

    .-wide-col-start-4 {
      grid-column-start: -4;
    }

    .-wide-col-start-5 {
      grid-column-start: -5;
    }

    .-wide-col-start-6 {
      grid-column-start: -6;
    }

    .-wide-col-start-7 {
      grid-column-start: -7;
    }

    .-wide-col-start-8 {
      grid-column-start: -8;
    }

    .-wide-col-start-9 {
      grid-column-start: -9;
    }

    .-wide-col-start-10 {
      grid-column-start: -10;
    }

    .-wide-col-start-11 {
      grid-column-start: -11;
    }

    .-wide-col-start-12 {
      grid-column-start: -12;
    }

    .wide-col-end-2 {
      grid-column-end: 2;
    }

    .wide-col-end-3 {
      grid-column-end: 3;
    }

    .wide-col-end-4 {
      grid-column-end: 4;
    }

    .wide-col-end-6 {
      grid-column-end: 6;
    }

    .wide-col-end-7 {
      grid-column-end: 7;
    }

    .wide-col-end-8 {
      grid-column-end: 8;
    }

    .wide-col-end-9 {
      grid-column-end: 9;
    }

    .wide-col-end-10 {
      grid-column-end: 10;
    }

    .wide-col-end-11 {
      grid-column-end: 11;
    }

    .wide-col-end-12 {
      grid-column-end: 12;
    }

    .wide-col-end-last {
      grid-column-end: -1;
    }

    .-wide-col-end-1 {
      grid-column-end: -1;
    }

    .-wide-col-end-2 {
      grid-column-end: -2;
    }

    .-wide-col-end-3 {
      grid-column-end: -3;
    }

    .-wide-col-end-4 {
      grid-column-end: -4;
    }

    .-wide-col-end-5 {
      grid-column-end: -5;
    }

    .-wide-col-end-6 {
      grid-column-end: -6;
    }

    .-wide-col-end-7 {
      grid-column-end: -7;
    }

    .-wide-col-end-8 {
      grid-column-end: -8;
    }

    .-wide-col-end-9 {
      grid-column-end: -9;
    }

    .-wide-col-end-10 {
      grid-column-end: -10;
    }

    .-wide-col-end-11 {
      grid-column-end: -11;
    }

    .-wide-col-end-12 {
      grid-column-end: -12;
    }
  }
}
