:host {
  --z-popover-theme--surface: var(--color-surface01);
  --z-popover-theme--text: var(--color-text01);
  --z-popover-padding: var(--space-unit);
  --z-popover-shadow-filter: drop-shadow(0 1px 2px var(--shadow-color-base));
  --arrow-size: 6px;
  --edge-offset: calc(-1 * (var(--arrow-size) + calc(var(--space-unit) * 2)));

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--z-popover-padding);
  min-width: calc(var(--space-unit) * 8);
  min-height: calc(var(--space-unit) * 4);
  color: var(--z-popover-theme--text);
  fill: currentColor;
  font-family: var(--font-family-sans);
  text-align: center;
  border-radius: var(--border-radius-small);
  background: var(--z-popover-theme--surface);
  filter: var(--z-popover-shadow-filter);
}

:host(:not([open])),
:host([open="false"]) {
  display: none;
}

:host([center][current-position='top']),
:host([center][current-position='bottom']) {
  transform: translateX(-50%);
}

:host([center][current-position='right']),
:host([center][current-position='left']) {
  transform: translateY(-50%);
}

/* Arrow style */

:host([current-position])::before {
  --arrow-edge-offset: calc(100% - var(--arrow-size) - var(--space-unit));
  --arrow-center-x-offset: calc(50% - calc(var(--arrow-size) / 2));
  --arrow-center-y-offset: calc(100% - calc(var(--arrow-size) / 2));

  display: block;
  content: '';
  position: absolute;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background: var(--z-popover-theme--surface);
  transform: rotate(45deg);
}

:host([show-arrow=false])::before,
:host(:not([show-arrow]))::before {
  display: none;
}

:host([current-position^='top'])::before {
  top: var(--arrow-center-y-offset);
}

:host([current-position^='bottom'])::before {
  bottom: var(--arrow-center-y-offset);
}

:host([current-position='top'])::before,
:host([current-position='bottom'])::before {
  left: var(--arrow-center-x-offset);
}

:host([current-position='right'])::before,
:host([current-position='left'])::before {
  top: var(--arrow-center-x-offset);
}

:host([current-position='right'])::before {
  right: var(--arrow-center-y-offset);
}

:host([current-position='left'])::before {
  left: var(--arrow-center-y-offset);
}

:host([current-position='top_right'])::before,
:host([current-position='bottom_right'])::before {
  right: calc(var(--arrow-edge-offset) + var(--arrow-size));
}

:host([current-position='top_right']:not([center]))::before,
:host([current-position='bottom_right']:not([center]))::before,
:host([current-position='top_right'][center="false"])::before,
:host([current-position='bottom_right'][center="false"])::before {
  right: calc(var(--arrow-edge-offset) - var(--arrow-size) + 1px);
}

:host([current-position='top_left'])::before,
:host([current-position='bottom_left'])::before {
  left: calc(var(--arrow-edge-offset) + var(--arrow-size));
}

:host([current-position='top_left']:not([center]))::before,
:host([current-position='bottom_left']:not([center]))::before,
:host([current-position='top_left'][center="false"])::before,
:host([current-position='bottom_left'][center="false"])::before {
  left: calc(var(--arrow-edge-offset) - var(--arrow-size) + 1px);
}

:host([current-position='right_top'])::before,
:host([current-position='left_top'])::before {
  bottom: var(--arrow-size);
}

:host([current-position='right_top'])::before,
:host([current-position='right_bottom'])::before {
  right: var(--arrow-center-y-offset);
}

:host([current-position='left_top'])::before,
:host([current-position='left_bottom'])::before {
  left: var(--arrow-center-y-offset);
}

:host([current-position='right_bottom'])::before,
:host([current-position='left_bottom'])::before {
  top: var(--arrow-size);
}

::slotted(*) {
  flex: 1 auto;
  overflow: auto;
}
