:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  display: block;
  width: inherit;
}

:host > div {
  display: flex;
  flex-direction: column;
  width: inherit;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
}

main z-icon.scroll {
  position: absolute;
  top: 50%;
  width: auto;
  cursor: pointer;
  transition: 0.6s ease;
  margin: var(--half-x1);
  fill: var(--myz-blue);
  z-index: 1001;
}

main .scroll.disabled {
  opacity: 50%;
  pointer-events: none;
}

main .scroll.right {
  right: 0;
}

#slides {
  display: flex;
  flex-wrap: wrap;
  transition: all 300ms;
}

footer {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: "center center" "left right";
}

footer .footerCenter {
  grid-area: center;
}
footer .footerLeft {
  grid-area: left;
  width: 100%;
}

footer .footerRight {
  grid-area: right;
}

footer .footerLeft,
footer .footerRight {
  align-items: center;
  background-color: salmon;
  width: 100%;
}

footer .footerLeft .contentLeft {
  width: 30px;
  height: 30px;
  background-color: lime;
}

footer .bulletContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

footer .bulletContainer .bullet {
  width: var(--basex1);
  height: var(--basex1);
  border-radius: 50%;
  background-color: var(--bg-neutral-150);
  margin: var(--basex1) var(--half-x1);
  pointer-events: none;
}

footer .bulletContainer .bullet.selected {
  background-color: var(--bg-neutral-400);
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 75px;
    border-top: var(--border-base) solid var(--bg-grey-050);
  }
}
/* Desktop breakpoint */
@media only screen and (min-width: 1025px) {
  footer {
    height: 75px;
    grid-template-columns: 1fr 2fr 1fr;
    border-top: var(--border-base) solid var(--bg-grey-050);
  }

  footer .bulletContainer .bullet {
    width: var(--basex2);
    height: var(--basex2);
    pointer-events: auto;
  }
}
