:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  width: inherit;
  display: flex;
}

:host > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  position: relative;
}

footer {
  width: 100%;
  height: 75px;
  border-top: var(--border-base) solid var(--bg-grey-050);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

main .scroll {
  position: absolute;
  top: 50%;
  width: auto;
  cursor: pointer;
  transition: 0.6s ease;
  margin: var(--half-x1);
  fill: var(--myz-blue);
}

main .scroll.disabled {
  opacity: 50%;
  pointer-events: none;
}

main .scroll.right {
  right: 0;
}

main .mainContainer .slide img {
  max-width: 100%;
}

.bulletContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.bulletContainer .bullet {
  width: var(--basex2);
  height: var(--basex2);
  border-radius: 50%;
  background-color: var(--bg-neutral-150);
  margin: var(--basex1) var(--half-x1);
  cursor: pointer;
}

.bulletContainer .bullet.selected {
  background-color: var(--bg-neutral-400);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
