button {
  display: flex;
  height: 36px;
  align-items: center;
  padding: var(--space-unit) calc(var(--space-unit) * 1.5);
  border: var(--border-size-medium) solid;
  border-color: transparent;
  background-color: var(--color-surface01);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  color: var(--color-primary01);
  column-gap: var(--space-unit);
  cursor: pointer;
  fill: var(--color-icon01);
  font-family: var(--font-family-sans);
  font-size: 14px;
  font-weight: var(--font-sb);
  outline: none;
  text-transform: uppercase;
  transition: all 200ms linear;
}

:host([opened]:not([opened="false"])) button {
  background-color: var(--color-active-primary);
  color: var(--color-text-inverse);
  fill: var(--color-text-inverse);
}

button:hover {
  color: var(--color-hover-primary);
  fill: var(--color-hover-primary);
}

button:focus {
  box-shadow: var(--shadow-focus-primary);
}

:host(:is(:not([opened]), [opened="false"])) button:active {
  border-color: var(--color-pressed-primary);
  color: var(--color-pressed-primary);
  fill: var(--color-pressed-primary);
}

:host([opened]:not([opened="false"])) button:active {
  background-color: var(--color-pressed-primary);
}

button:disabled {
  color: var(--color-disabled02);
  fill: var(--color-disabled02);
}

button.avoid-clicks {
  pointer-events: none;
}
