:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
}

.digits-container {
  display: flex;
  justify-content: flex-start;
}

input {
  height: 72px;
  width: var(--basex5);
  font-size: 32px;
  font-weight: 300;
  font-family: var(--dashboard-font);
  text-align: center;
  caret-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  box-sizing: border-box;
  padding: 0;
  color: var(--bg-grey-800);
}

input.error {
  border-color: var(--status-error-red);
  background-color: var(--status-error-red-lighter);
}

input:not(:last-of-type) {
  margin-right: var(--basex1);
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  input:not(:last-of-type) {
    margin-right: var(--basex2);
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1025px) {
  input {
    width: var(--basex6);
  }
}
