:host > h2 {
  font-family: Proxima Nova Sb;
  color: var(--text-gray-dark);
  width: 240px;
  height: var(--basex2);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  line-height: var(--basex2);
  border-right: var(--border-base) solid var(--bg-artboard-gray-very-light);
  margin: 0px;
  padding: var(--half-x3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid var(--bg-artboard-gray-very-light);
  border-radius: 4px 0px 0px 0px;
}
