.icons-list {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--space-unit) * 2);
}

.icons-list summary {
  position: sticky;
  top: 0;
  padding: var(--space-unit) 0;
  border-bottom: 1px solid var(--gray200);
  background: white;
  cursor: pointer;
  font-weight: var(--font-sb);
}

.icons-list summary::marker {
  margin-right: var(--space-unit);
}

.icons-container {
  --z-icon-width: 24px;
  --z-icon-height: 24px;

  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icons-container .icon-box {
  display: flex;
  width: 50%;
  box-sizing: border-box;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-unit);
  column-gap: calc(var(--space-unit) * 2);
  font-size: 12px;
}

.icons-container .icon-box z-icon {
  transition: scale 100ms ease-in-out;
}

.icons-container .icon-box z-icon:hover,
.icons-container .icon-box .icon-name:hover ~ z-icon {
  scale: 1.8;
}

@media (min-width: 768px) {
  .icons-container .icon-box {
    width: 25%;
  }
}
