footer {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  color: var(--text-grey-800);
  background-color: var(--bg-white);
  margin: 0px;
  padding: 0px;
  position: relative;
  z-index: 5;
  height: 48px;
  width: auto;
  top: 0px;
  transition: height 500ms ease-in-out, top 500ms ease-in-out;
  border-radius: 0px 0px var(--radius-base) var(--radius-base);
  border-top: var(--border-base) solid var(--bg-grey-200);
}

footer.real {
  border-top: var(--border-base) solid var(--accent);
}

footer b {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
}

footer > h2 {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  margin: 0px 0px var(--basex1) 0px;
  padding: var(--basex2) var(--basex2) 0px var(--basex2);
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--bg-white);
  transition: all 200ms linear;
}

footer > div {
  padding: var(--half-x1) var(--basex2) var(--basex1) var(--basex2);
  height: 40px;
  overflow: hidden;
}

footer > div > p {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer > div > p.year_isbn {
  padding-top: var(--half-x3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > div > p.year_isbn > span.isbn {
  padding-left: var(--basex1);
  text-overflow: ellipsis;
  overflow: hidden;
}

footer.isopen {
  height: 255px;
  top: -147px;
  transition: height 500ms ease-in-out, top 500ms ease-in-out;
  border-radius: var(--border-base);
}

h2.isopen {
  font-weight: var(--font-sb);
  height: 42px;
  padding-top: var(--basex2);
  transition: all 200ms linear;
  background-color: var(--bg-neutral-200);
}

h2.isopen.real {
  background-color: var(--accent);
}

.toggle {
  position: absolute;
  top: -24px;
  left: 16px;
  z-index: 10;
}

.faded {
  opacity: 0.3;
  pointer-events: none;
}
