/* ZTable */
z-table,
table.z-table {
  background-color: var(--color-surface01);

  /**
   * @prop --z-table--cells-padding: Padding of the cells.
   */
  --z-table--cells-padding: calc(var(--space-unit) * 2);
}

/* ZThead */
z-thead,
thead.z-thead {
  --z-table--cells-bottom-border-size: var(--border-size-medium);
}

thead.z-thead {
  border-bottom: var(--z-table--cells-bottom-border-size, var(--border-size-small)) solid var(--color-surface03);
  background-color: var(--color-background);
}

/* ZTfoot */
tfoot.z-tfoot {
  border-top: var(--border-size-medium) solid var(--color-surface03);
  border-bottom: var(--border-size-medium) solid var(--color-surface03);
}

/* Cells */
z-td,
td.z-td {
  padding: var(--z-table--cells-padding);
  background-color: var(--color-surface01);
}

td.z-td:not(:last-child) {
  border-right: var(--z-table--cell-left-border, none);
}

/* z-th,
th.z-th {
  background-color: var(--color-background);
} */

th.z-th {
  padding: var(--z-table--cells-padding);
}

th.z-th:not(:last-child) {
  border-right: var(--z-table--cell-left-border, none);
}

td.z-td,
th.z-th {
  text-align: left;
}

/* .z-tr-hover {
  border-top: var(--border-size-small) solid var(--color-surface04);
  border-bottom: var(--border-size-small) solid var(--color-surface04);
  background-color: var(--color-surface02);
} */

/* ZTable Bordered */
table.z-table.z-table-bordered {
  border-collapse: collapse;

  --z-table--cells-bottom-border-size: var(--border-size-small);
}

z-table[bordered],
table.z-table.z-table-bordered.z-table-cell-left-bordered {
  --z-table--cell-left-border: 1px solid var(--color-surface03);
}

tr.z-tr {
  border-bottom: var(--z-table--cells-bottom-border-size) solid var(--color-surface03);
}
