:host {
  display: inline-block;
  width: inherit;
}

/* GENERAL */
:host input,
:host textarea,
:host ul[role="listbox"] {
  background: var(--bg-white);
  border-radius: 0px;
  border: var(--border-size-small) solid var(--bg-grey-200);
  border-color: var(--bg-grey-200);
  box-sizing: border-box;
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 16px;
  outline: none;
}

/* FILLED */
:host .filled {
  border-color: var(--text-grey-800) !important;
}

/* FOCUS */
:host input:focus,
:host ul[role="listbox"].closed:focus,
:host li[role="option"]:focus,
:host .focus {
  border-color: transparent;
  box-shadow: 0 0 2px 2px var(--accent-dark);
  outline: none;
}

/* HOVER */
:host input:hover,
:host textarea:hover,
:host ul[role="listbox"].closed:hover,
:host .hover {
  background: var(--bg-grey-050) !important;
  border-color: var(--text-grey-800) !important;
}

/* READONLY */
:host input[readonly],
:host .readonly,
:host input[readonly].filled,
:host .readonly.filled,
:host ul[role="listbox"].closed.readonly {
  border-color: var(--text-grey-200) !important;
  color: var(--text-grey-800) !important;
  pointer-events: none;
}

/* READONLY - hover */
:host input[readonly]:hover,
:host textarea[readonly]:hover,
:host .readonly.hover,
:host ul[role="listbox"].closed[readonly]:hover {
  background: var(--bg-white);
}

/* DISABLED */
:host input:disabled,
:host .disabled,
:host .filled:disabled,
:host input:disabled:hover,
:host textarea:disabled:hover,
:host .disabled.hover,
:host ul[role="listbox"].closed.disabled,
:host ul[role="listbox"].closed.disabled:hover {
  background: var(--bg-white) !important;
  border-color: var(--bg-grey-200) !important;
  box-shadow: none !important;
  color: var(--text-grey-700) !important;
  fill: var(--bg-grey-200) !important;
  pointer-events: none;
}

/* STATUSES (success, warning, error) */
:host .input_success,
:host .input_success:hover,
:host .input_success.hover {
  background: var(--status-success-green-lighter) !important;
  border-color: var(--status-success-green) !important;
}

:host .input_error,
:host .input_error:hover,
:host .input_error.hover {
  background: var(--status-error-red-lighter) !important;
  border-color: var(--status-error-red) !important;
}

:host .input_warning,
:host .input_warning:hover,
:host .input_warning.hover {
  background: var(--status-warning-yellow-lighter) !important;
  border-color: var(--status-warning-yellow) !important;
}

/* TYPING */
:host input:focus.istyping,
:host .focus.istyping {
  border-color: var(--myz-blue) !important;
  box-shadow: 0 0 0 0 transparent;
  color: var(--myz-blue);
}

/* PLACEHOLDER */
:host input::placeholder,
:host textarea::placeholder {
  color: var(--text-grey-700);
}
::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
  color: var(--text-grey-700);
}
:-ms-input-placeholder,
:-ms-textarea-placeholder {
  color: var(--text-grey-700);
}
::-moz-placeholder {
  color: var(--text-grey-700);
}
:-moz-placeholder {
  color: var(--text-grey-700);
}

/* LABEL */
:host label {
  display: block;
  color: var(--text-grey-800);
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  margin: var(--basex1) 0;
}

:host label.disabledLabel {
  color: var(--text-grey-700);
}

/* MESSAGES */
:host span.statusMsg {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 14px;
  line-height: 16px;
  min-height: 16px;
  color: var(--text-grey-700);
  fill: var(--text-grey-700);
  margin-top: var(--basex1);
  display: flex;
}

:host span.statusMsg.msg_success {
  color: var(--status-success-green);
  fill: var(--status-success-green);
}

:host span.statusMsg.msg_error {
  color: var(--status-error-red);
  fill: var(--status-error-red);
}

:host span.statusMsg.msg_warning {
  color: var(--status-warning-yellow-dark);
  fill: var(--status-warning-yellow-dark);
}

:host span.statusMsg > z-icon {
  margin-right: var(--basex1);
  margin-top: 1px;
}

:host > div.textWrapper > div {
  fill: var(--text-grey-800);
}

:host > div.textWrapper > div > input {
  height: 44px;
  width: 100%;
  margin: 0;
  padding: 0 var(--half-x3);
}

:host > div.textWrapper > div {
  position: relative;
  z-index: 1;
}

:host > div.textWrapper > div > z-icon {
  position: absolute;
  bottom: var(--half-x3);
  right: var(--half-x3);
  cursor: pointer;
  z-index: 2;
}

:host > div.textWrapper > div > div.textareaWrapper {
  background: var(--bg-white);
  border: var(--border-size-small) solid var(--bg-grey-200);
  padding: var(--half-x3);
}

:host > div.textWrapper > div > div.textareaWrapper > textarea {
  min-height: 132px;
  width: 100%;
  margin: 0;
  padding: 0;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: var(--myz-blue) var(--bg-grey-200);
  border-color: transparent;
}

:host > div.textWrapper > div > div.textareaWrapper > textarea:hover {
  border-color: transparent !important;
}

:host > div.textWrapper > div > div.textareaWrapper > textarea.filled,
:host > div.textWrapper > div > div.textareaWrapper > textarea.input_success,
:host > div.textWrapper > div > div.textareaWrapper > textarea.input_warning,
:host > div.textWrapper > div > div.textareaWrapper > textarea.input_error {
  border: none;
}

:host > div.textWrapper > div > div.textareaWrapper.input_success.disabled,
:host > div.textWrapper > div > div.textareaWrapper.input_warning.disabled,
:host > div.textWrapper > div > div.textareaWrapper.input_error.disabled {
  background: var(--bg-white) !important;
  border-color: var(--bg-grey-200) !important;
}

:host > div.textWrapper > div > div.textareaWrapper > textarea.istyping {
  color: var(--myz-blue);
}

::-webkit-scrollbar {
  background: linear-gradient(
    90deg,
    var(--bg-white) 2px,
    var(--bg-grey-200) 4px,
    var(--bg-white) 8px
  );
  border-radius: var(--radius-base);
  width: 10px;
  margin-right: 20px;
  padding-right: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--myz-blue);
  border-radius: var(--radius-base);
  width: 10px;
  margin-right: 20px;
  padding: 20px;
}

:host > .checkboxWrapper {
  display: inline-block;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: inherit;
  position: relative;
}

:host > .checkboxWrapper > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: 0;
}

:host label {
  display: block;
}

:host label.disabledLabel {
  color: var(--text-grey-700);
}

:host > .checkboxWrapper > label.checkboxLabel {
  display: inline-flex;
  line-height: 16px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  margin: 0;
}

:host > .checkboxWrapper > label.checkboxLabel.after {
  flex-direction: row;
}

:host > .checkboxWrapper > label.checkboxLabel.before {
  flex-direction: row-reverse;
}

:host > .checkboxWrapper > label.checkboxLabel.after > span {
  margin-left: var(--basex1);
}

:host > .checkboxWrapper > label.checkboxLabel.before > span {
  margin-right: var(--basex1);
}

:host > .checkboxWrapper > label.checkboxLabel > z-icon {
  fill: var(--myz-blue);
  height: 18px;
  width: 18px;
}

/* focus */
:host
  > .checkboxWrapper
  > input[type="checkbox"]:focus
  + label.checkboxLabel
  > z-icon {
  box-shadow: 0 0 2px 2px var(--accent-dark);
}

/* disabled */
:host
  > .checkboxWrapper
  > input[type="checkbox"]:disabled
  + label.checkboxLabel
  > z-icon {
  fill: var(--bg-grey-700);
  cursor: default;
}

/* readonly */
:host
  > .checkboxWrapper
  > input[type="checkbox"][readonly]
  + label.checkboxLabel
  > z-icon {
  fill: var(--bg-grey-800);
  pointer-events: none;
  cursor: default;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
}

/* Desktop breakpoint */
@media only screen and (min-width: 1025px) {
}

/* CLOSE */

:host > div.selectWrapper > div {
  position: relative;
  height: 44px;
}

:host > div.selectWrapper > div > ul {
  list-style: none;
  height: 44px;
  line-height: 44px;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

:host > div.selectWrapper > div > ul.closed {
  max-width: 100%;
}

:host > div.selectWrapper > div > ul > li {
  padding: 0 var(--half-x3);
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}

:host > div.selectWrapper > div > ul > li.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border-size-small) solid transparent;
}

:host > div.selectWrapper > div > ul > li.selected > span {
  width: calc(100% - 40px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host > div.selectWrapper > div > ul.closed > li.selected > span.placeholder {
  color: var(--text-grey-700);
}

:host > div.selectWrapper > div > ul > li.selected > z-icon {
  padding-left: var(--basex2);
  padding-right: 0;
  padding-top: 8px;
  fill: var(--text-grey-800);
  transform: rotate(360deg);
  transition: all 200ms linear;
}

/* OPEN */

:host > div.selectWrapper > div > ul.open {
  height: auto;
  overflow-y: auto;
  border: none;
  z-index: 20;
  min-width: 100%;
  width: auto;
}

:host > div.selectWrapper > div > ul.open > li.selected {
  border-color: var(--myz-blue) !important;
  box-shadow: 0 0 0 0 transparent;
  color: var(--myz-blue);
}

:host > div.selectWrapper > div > ul.open > li.selected > z-icon {
  transform: rotate(180deg);
  transition: all 200ms linear;
  padding-left: 0;
  padding-right: var(--basex2);
}

:host > div.selectWrapper > div > ul.open > li[role="option"] {
  border-left: var(--border-size-small) solid var(--bg-grey-200);
  border-right: var(--border-size-small) solid var(--bg-grey-200);
  color: var(--text-grey-800);
}

:host > div.selectWrapper > div > ul.open > li[role="option"]:focus {
  margin: 2px;
}

:host > div.selectWrapper > div > ul.open > li[role="option"]:last-child {
  border-bottom: var(--border-size-small) solid var(--bg-grey-200);
}

:host > div.selectWrapper > div > ul.open > li[role="option"] > span {
  display: block;
  border-bottom: var(--border-size-small) solid var(--bg-grey-200);
  padding: 0 var(--basex1);
}

:host
  > div.selectWrapper
  > div
  > ul.open
  > li[role="option"]:last-child
  > span {
  border-bottom: none;
}

:host > div.selectWrapper > div > ul.open > li[role="option"]:hover {
  color: var(--myz-blue-dark);
  background: var(--bg-grey-050);
}

:host
  > div.selectWrapper
  > div
  > ul.open
  > li[role="option"]::-moz-focus-inner {
  border: 0;
}

:host > div.selectWrapper > div > ul.open > li[role="option"].disabled {
  color: var(--text-grey-700);
  cursor: default;
  pointer-events: none;
}

:host
  > div.selectWrapper
  > div
  > ul.open
  > li[role="option"][aria-selected=""] {
  font-weight: var(--font-sb);
}

