:host, button{
  max-width: 100%;
}

button {
  height: 36px;
  border: var(--border-base) solid var(--myz-blue);
  border-radius: var(--radius-base);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  background-color: var(--bg-white);
  outline: none;
  padding: 0 var(--basex1);
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

button:hover {
  border-color: var(--myz-blue-dark);
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
}

button:focus {
  border-color: var(--myz-blue);
  color: var(--myz-blue);
  fill: var(--myz-blue);
  box-shadow: 0px 0px 2px 2px var(--accent-dark);
}

button:active {
  border-color: var(--myz-blue-light);
  color: var(--myz-blue-light);
  fill: var(--myz-blue-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

button.selected {
  border-color: var(--myz-blue-dark);
  background-color: var(--myz-blue-dark);
  color: var(--bg-white);
  fill: var(--bg-white);
}

button > label {
  cursor: pointer;
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: 14px;
  display: flex;
  align-items: center;
}

button > label > span.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button > label > span.counter {
  margin-left: var(--half-x1);
  margin-right: var(--basex2);
}

button > label > span.sort {
  margin-right: var(--half-x1);
  white-space: nowrap;
}

button > span {
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  font-size: 14px;
  margin-right: var(--half-x1);
}

button > z-icon {
  padding-top: var(--half-x1);
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host, button {
    max-width: 325px;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1025px) {
  :host, button {
    max-width: 490px;
  }
}
