:host {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: calc(var(--space-unit) * 2);
  font-family: var(--font-family-sans);
  border-bottom: var(--border-size-medium) solid var(--color-surface03);
  outline: none;
  box-sizing: border-box;
}

:host[sticky] {
  position: sticky;
  top: 0;
}

:host[sticky],
:host([showshadow]) {
  box-shadow: var(--shadow-3);
}

:host([type="success"]) {
  background: var(--color-success-inverse);
}

:host([type="warning"]) {
  background: var(--color-warning-inverse);
}

:host([type="error"]) {
  background: var(--color-error-inverse);
}

:host .status-icon,
:host .close-button {
  /* simulate the line-height of the text
  to make the icon look correctly aligned with it. */
  display: flex;
  align-items: center;
  height: 20px;
}

:host([type="success"]) .status-icon {
  fill: var(--color-success01);
}

:host([type="warning"]) .status-icon {
  fill: var(--color-warning02);
}

:host([type="error"]) .status-icon {
  fill: var(--color-error01);
}

:host > button,
:host .content-container > button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

:host .status-icon + .content-container {
  margin-left: var(--space-unit);
}

:host .content-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  row-gap: calc(var(--space-unit) * 2);
  flex-wrap: wrap;
  flex: 1 auto;
}

:host .content-text {
  max-width: 800px;
  color: var(--color-text01);
}

:host .action-button {
  color: var(--color-primary01);
}

:host .content-container + .close-button {
  margin-left: calc(var(--space-unit) * 2);
}

:host .close-button z-icon {
  fill: var(--color-primary01);
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  :host .content-container {
    flex-wrap: nowrap;
  }

  :host .content-text + .action-button {
    margin-left: calc(var(--space-unit) * 5);
  }
}
