:root {
  --avatar-C01: #99005b;
  --avatar-C02: #b01300;
  --avatar-C03: #e62200;
  --avatar-C04: #7c4000;
  --avatar-C05: #c25600;
  --avatar-C06: #6e6d6d;
  --avatar-C07: #667d00;
  --avatar-C08: #008741;
  --avatar-C09: #00612f;
  --avatar-C10: #007d8a;
  --avatar-C11: #007db3;
  --avatar-C12: #00548c;
  --avatar-C13: #0028b1;
  --avatar-C14: #00019c;
  --avatar-C15: #6400ee;
  --avatar-C16: #5f3fff;
  --avatar-C17: #8b00a5;
  --avatar-C18: #b200ff;
  --avatar-C19: #c700d6;
}
