:root {
  --blue950: #001229;
  --blue900: #001f46;
  --blue800: #002c63;
  --blue700: #003981;
  --blue600: #0047a0;
  --blue500: #0056c1;
  --blue400: #2e76ce;
  --blue300: #5893db;
  --blue200: #82b0e7;
  --blue100: #accdf3;
  --blue50: #d6eaff;
  --blue25: #ebf5ff;
}
