:root {
  --gray950: #121212;
  --gray900: #292929;
  --gray800: #3d3d3d;
  --gray700: #525252;
  --gray600: #666;
  --gray500: #9b9b9b;
  --gray400: #adadad;
  --gray300: #c2c2c2;
  --gray200: #d6d6d6;
  --gray100: #ebebeb;
  --gray50: #f6f6f6;
  --gray25: #fafafa;
}
