:root {
  --green950: #19200a;
  --green900: #22330a;
  --green800: #2b4808;
  --green700: #355d06;
  --green600: #407305;
  --green500: #568818;
  --green400: #6f9d2f;
  --green300: #8ab14a;
  --green200: #a6c66b;
  --green100: #c3da92;
  --green50: #effce0;
  --green25: #f5fdec;
}
