:root {
  --red950: #2a0005;
  --red900: #4c0009;
  --red800: #6f000d;
  --red700: #940111;
  --red600: #ba0115;
  --red500: #e4011c;
  --red400: #ec5163;
  --red300: #f07a88;
  --red200: #f49fa9;
  --red100: #f8bfc4;
  --red50: #fdeeed;
  --red25: #fef6f6;
}
