:root {
  --yellow950: #33280f;
  --yellow900: #5c4615;
  --yellow800: #85641a;
  --yellow700: #ab8125;
  --yellow600: #d09e30;
  --yellow500: #f6bb3b;
  --yellow400: #f9c852;
  --yellow300: #fbd468;
  --yellow200: #fee17f;
  --yellow150: #ffde72;
  --yellow100: #ffea91;
  --yellow50: #fbf4e6;
}
