:host {
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

:host z-myz-card {
  --card-overflow: visible;
}

:host > div {
  position: relative;
  width: 100%;
  height: 522px;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition:
    transform 0.5s ease-out,
    -webkit-transform 0.5s ease-out;
}

:host > div .content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 522px;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition:
    transform 0.5s ease-out,
    -webkit-transform 0.5s ease-out;
}

:host > div .content.flipped {
  margin-top: -2px;
  transform: rotateY(180deg);
}

:host > div .front,
:host > div .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

:host > div .front {
  z-index: 2;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
}

:host > div .front z-button {
  position: absolute;
  z-index: 3;
  top: calc(var(--space-unit) * 0.5);
  left: calc(-1 * var(--space-unit));
}

:host > div .back {
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0 var(--space-unit);
  margin-left: calc(-1 * var(--space-unit));
  transform: rotateY(180deg);
}

.hide-info {
  display: none;
}
