:host {
  --z-icon-width: 16px;
  --z-icon-height: 16px;
  --z-icon-right-margin: var(--space-unit);
  --layout-vertical: 0;
  outline: none;
  display: block;
  margin: 0;
  text-align: center;
  font-family: var(--dashboard-font);
  color: #0056C1;
  fill: #0056C1;
  cursor: pointer;
  border-style: solid;
  border-color: transparent;
  border-top-width: 0;
  border-right-width: calc(var(--layout-vertical) * 2px);
  border-bottom-width: calc((1 - var(--layout-vertical)) * 2px);
  border-left-width: 0;
}

:host(:hover) {
  color: #003476;
  fill: #003476;
  background-color: var(--bg-grey-050);
  border-color: #003476;
}

:host([disabled]) {
  pointer-events: none;
  cursor: not-allowed;
  color: #95999D;
  fill: #95999D;
}
