:host {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  font-family: var(--dashboard-font);
  color: var(--blue500);
  fill: var(--blue500);
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 var(--border-size-large) 0;
  outline: none;
  cursor: pointer;
}

:host(:hover),
:host([selected]) {
  color: var(--blue800);
  fill: var(--blue800);
  border-color: var(--blue800);
}

:host(:hover) {
  background-color: var(--gray50);
}

:host(:focus) {
  color: var(--blue500);
  fill: var(--blue500);
  box-shadow: 0 0 2px 2px #78B5FF;
  border-radius: calc(var(--space-unit) / 4);
}

:host([disabled]) {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--gray700);
  fill: var(--gray700);
}

:host([orientation='vertical']) {
  border-width: 0 var(--border-size-large) 0 0;
}

:host([orientation='vertical']) ::slotted([slot='label']) {
  display: none;
}

::slotted(z-icon) {
  margin: 0;
}

::slotted([slot='label']) {
  margin-left: var(--space-unit);
}
