:host {
  font-family: var(--dashboard-font);
  font-weight: var(--font-sb);
  font-size: inherit;
  line-height: inherit;
}

a {
  cursor: pointer;
  color: var(--myz-blue);
  fill: var(--myz-blue);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

a:hover {
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
  text-decoration: none;
}

a.disabled {
  cursor: default;
  pointer-events: none;
}

a.disabled,
a.disabled:active,
a.disabled:visited,
a.disabled:hover {
  color: var(--bg-artboard-gray-very-light);
  fill: var(--bg-artboard-gray-very-light);
  text-decoration: none;
}

a.white,
a.white:active,
a.white:visited,
a.white:hover {
  color: var(--bg-artboard-white);
  fill: var(--bg-artboard-white);
  text-decoration: none;
}

a>z-icon {
  margin-right: 8px;
}
