:host {
  font-family: var(--dashboard-font);
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  cursor: pointer;
  color: var(--myz-blue);
  fill: var(--myz-blue);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: var(--half-x1) 0;
  border-top: var(--border-base) solid transparent;
  border-bottom: var(--border-base) solid transparent;
}

a:hover {
  color: var(--myz-blue-dark);
  fill: var(--myz-blue-dark);
  text-decoration: none;
}

a.disabled {
  cursor: default;
  pointer-events: none;
}

a.disabled,
a.disabled:active,
a.disabled:visited,
a.disabled:hover {
  color: var(--bg-neutral-200);
  fill: var(--bg-neutral-200);
  text-decoration: none;
}

a.white,
a.white:active,
a.white:visited,
a.white:hover {
  color: var(--bg-white);
  fill: var(--bg-white);
  text-decoration: none;
}

a.active,
a.active:active,
a.active:visited {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  text-decoration: none;
  border-bottom: var(--border-base) solid var(--myz-blue);
}

a > z-icon {
  margin-right: 8px;
}
