:host {
  color: black;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  margin: 0 var(--basex1);
}

a {
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.internal {
  font-size: 16px;
}

icon {
  width: 16px;
  height: 16px;
  background-color: tomato;
  margin-right: var(--basex1);
}
