name: Storybook Workflow

on:
  release:
    branches:
      - master
    types: [published]
  workflow_dispatch:

jobs:
  # BUILD THE STORYBOOK AND DEPLOY STORYBOOK TO GITHUB PAGES
  build-deploy:
    name: Build and deploy storybook
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile --ignore-scripts
      - name: Build Storybook
        run: yarn build-storybook
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./storybook
