name: Storybook Workflow

on:
  workflow_run:
    workflows: [New release version]
    types: [completed]
    branches: [master]
  workflow_dispatch:

jobs:
  # BUILD STORYBOOK AND DEPLOY TO GITHUB PAGES
  build-deploy:
    name: Build and deploy storybook
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn install --frozen-lockfile --ignore-scripts
      - name: Build Storybook
        run: yarn build-storybook
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./storybook
