.text-wrapper > div {
  position: relative;
  z-index: 1;
  fill: var(--color-icon02);
}

.text-wrapper > div > input {
  width: 100%;
  height: calc(var(--space-unit) * 5.5);
  box-sizing: border-box;
  padding: 0 calc(var(--space-unit) * 4.5) 0 calc(var(--space-unit) * 1.5);
  margin: 0;
}

.text-wrapper > div > input.has-icon,
.text-wrapper > div > input.has-clear-icon {
  padding-right: calc(var(--space-unit) * 4);
}

.text-wrapper > div > input.has-icon.has-clear-icon {
  padding-right: calc(var(--space-unit) * 7);
}

.text-wrapper .icons-wrapper {
  position: absolute;
  z-index: 2;
  right: calc(var(--space-unit) * 1.5);
  bottom: calc(var(--space-unit) * 1.5);
  display: flex;
}

.text-wrapper .icons-wrapper > z-icon {
  --z-icon-width: 18px;
  --z-icon-height: 18px;

  display: block;
  margin-left: calc(var(--space-unit) * 0.5);
}

.text-wrapper .icons-wrapper > z-icon.reset-icon,
.text-wrapper .icons-wrapper > z-icon.toggle-password-icon {
  cursor: pointer;
}

/* Disable background color webkit */
.text-wrapper > div > input:-webkit-autofill,
.text-wrapper > div > input:-webkit-autofill:hover,
.text-wrapper > div > input:-webkit-autofill:focus,
.text-wrapper > div > input:-webkit-autofill:active {
  background-clip: text !important;
}
