:host {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
}

.stepper-list {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0 calc(var(--space-unit) * 3);
  margin: 0;
}
