:host {
  position: absolute;
  font-family: var(--dashboard-font);
  font-weight: var(--font-rg);
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
}

/* :host > div.container {
} */

.relativeContainer {
  position: relative;
  height: 48px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

/* :host > div > div {
  position: absolute;
  display: flex;
} */

:host div.addAlert {
  background: var(--myz-green-light);
}

:host div.removeAlert {
  background: var(--myz-yellow-light);
  border: var(--border-base) solid var(--bg-artboard-gray-very-light);
  border-top: none;
}

:host div > .contentText {
  color: var(--text-gray-dark);
  font-size: 14px;
  height: 20px;
  letter-spacing: 0.16px;
  line-height: 20px;
  margin-right: var(--basex3);
}

:host div > .contentAction {
  color: var(--text-my-zanichelli-blue);
  font-size: 12px;
  font-weight: var(--font-sb);
  height: 16px;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-right: var(--basex2);
  cursor: pointer;
}

:host div > z-icon {
  margin-left: var(--basex2);
}

:host div > z-icon.addAlert {
  color: var(--icon-green);
  fill: var(--icon-green);
}

:host div > z-icon.removeAlert {
  color: var(--icon-yellow);
  fill: var(--icon-yellow);
}
